{% load i18n thumbnail truncate_tags object_action_tags %}

<card
  ct="{{ object.get_ct }}"
  uuid="{{ object.uuid }}"
  url="{% url 'api:release-detail' object.uuid %}"
  image-url="{% thumbnail object.main_image 280x280 crop upscale %}"
  :actions="{% get_object_actions_as_json object user %}">

  <template #visual-top>
    <div class="flags">
      {% if object.releasetype or object.release_country or object.releasedate %}
        <span class="flag">
            {% if object.releasetype %}
              {{ object.get_releasetype_display }}
            {% endif %}
          {% if object.release_country %}
            {{ object.release_country.iso2_code }}
          {% endif %}
          {% if object.releasedate %}
            {{ object.releasedate|date:"Y/m/d" }}
          {% endif %}
          </span>
      {% endif %}
    </div>
  </template>

  {% if object.tags %}
    <template #visual-bottom>
      <div class="tags">
        {% for tag in object.tags|slice:":6" %}
          <span class="tag">{{ tag.name|truncate_chars_inner:10 }}</span>
        {% endfor %}
      </div>
    </template>
  {% endif %}

  <div class="card__body__primary">
    <a href="{{ object.get_absolute_url }}" title="{{ object.name }}">
      {{ object.name|truncate_chars_inner:28 }}
    </a>
  </div>

  <div class="card__body__row">
    <div>
      {% for artist in object.get_artists %}
        {% if "join_phrase" in artist %}
          {% if artist.join_phrase %}{{ artist.join_phrase }}{% endif %}
          {% if artist.artist.get_absolute_url %}
            <a href="{{ artist.artist.get_absolute_url }}"
               title="{{ artist.artist.name }}">{{ artist.artist.name|truncate_chars_inner:12 }}</a>
          {% else %}
            <span>{{ artist.artist.name|truncate_chars_inner:12 }}</span>
          {% endif %}
        {% else %}
          {% if artist.get_absolute_url %}
            <a href="{{ artist.get_absolute_url }}">{{ artist.name|truncate_chars_inner:32 }}</a>
            {% if not forloop.last %},{% endif %}
          {% else %}
            <span>{{ artist.name|truncate_chars_inner:32 }}</span>{% if not forloop.last %},
          {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    <div>
        <span class="dim">
          {{ object.get_media.count }}
          {% if object.totaltracks %} of {{ object.totaltracks }}{% endif %}
        </span>
    </div>
  </div>

  <div class="card__body__row">
    <div>
      {% if object.label %}
        <a href="{{ object.label.get_absolute_url }}"
           title="{{ object.label.name }}">{{ object.label.name|truncate_chars_inner:38 }}</a>
      {% else %}
        -
      {% endif %}
    </div>
  </div>

  <template #footer>
    <div>
      {% if object.creator %}
        <a title="{{ object.creator.profile.get_display_name }}"
           href="{{ object.creator.profile.get_absolute_url }}">
          {{ object.creator.profile.get_display_name|truncate_chars:16 }}
        </a>
      {% endif %}
    </div>
    <div>
        <span class="dim">
          {{ object.created|date:"SHORT_DATE_FORMAT" }}
        </span>
    </div>
  </template>
</card>
