{% load truncate_tags i18n thumbnail arating_tags spacify_tags gravatar object_action_tags tagging_extra_tags %}

<div class="header__primary">

  <div class="title title--primary">
    <h2>{{ object.name|truncate_chars_inner:40 }}</h2>
    <small>
      {% if object.releasetype %}{{ object.get_releasetype_display }} {% endif %}
      {% if object.release_country %}({{ object.release_country.iso2_code }}){% endif %}
    </small>
  </div>

  {% comment %}
  <div class="title title--secondary">
    <h3>

    </h3>
  </div>
  {% endcomment %}


  <div class="meta">

    {% if object.get_artists %}
      <div class="meta__item">
        <div>
          {% trans "Artist" %}:
        </div>
        <div>
          {# TODO: refactor artist display logic #}
          {% for artist in object.get_artists %}
              {% if "join_phrase" in artist %}
                  {% with item=artist.artist %}
                      {% if artist.join_phrase %}{{ artist.join_phrase }}{% endif %}
                      {% include "alibrary/element/_inline_link.html" %}
                  {% endwith %}
              {% else %}
                  {% with item=artist %}
                      {% include "alibrary/element/_inline_link.html" %}
                      {% if not forloop.last %},{% endif %}
                  {% endwith %}
              {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if object.label %}
      <div class="meta__item">
        <div>
          {% trans "Label" %}:
        </div>
        <div>
          <a href="{{ object.label.get_absolute_url }}">{{ object.label.name }}</a>
        </div>
      </div>
    {% endif %}

    {% if object.catalognumber %}
      <div class="meta__item">
        <div>
          {% trans "Catalog No." %}:
        </div>
        <div>
          {{ object.catalognumber }}
        </div>
      </div>
    {% endif %}

    {% if object.releasedate_approx or object.is_promotional %}
      <div class="meta__item">
        <div>
          {% trans "Release date" %}:
        </div>
        <div>
          {% if object.is_promotional %}
            {{ object.releasedate|date:"SHORT_DATE_FORMAT" }} ({% trans "Promo release" %})
          {% else %}
            {{ object.releasedate_approx }}
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% comment %}
    {% if object.get_license %}
      <div class="meta__item">
        <div>
          {% trans "License" %}:
        </div>
        <div>
          {{ object.get_license.name }}
        </div>
      </div>
    {% endif %}
    {% endcomment %}

  </div>

  <div class="meta">
    <div class="meta__item">
      <div>
        {% trans "Created" %}:
      </div>
      <div class="meta__item__grid">
        <time>
          {% firstof object.last_creation_time|date:'DATETIME_FORMAT' object.created|date:'DATETIME_FORMAT' %}
        </time>
        {% if object.creator %}
        <div>
          <a href="{{ object.creator.get_absolute_url }}">{{ object.creator.profile.get_display_name }}</a>
        </div>
        {% endif %}
      </div>
    </div>

    <div class="meta__item">
      <div>
        {% trans "Updated" %}:
      </div>
      <div class="meta__item__grid">
        <time>
          {% firstof object.last_update_time|date:'DATETIME_FORMAT' object.updated|date:'DATETIME_FORMAT' %}
        </time>
        {% if object.last_editor %}
        <div>
          <a href="{{ object.last_editor.get_absolute_url }}">{{ object.last_editor.profile.get_display_name }}</a>
        </div>
        {% endif %}
      </div>
    </div>

  </div>


</div>
<div class="header__secondary">
  <div class="visual">
    <visual-with-actions
      ct="{{ object.get_ct }}"
      uuid="{{ object.uuid }}"
      url="{% url 'api:release-detail' object.uuid %}"
      image-url="{% thumbnail object.main_image 280x280 crop upscale %}"
      large-image-url="{% thumbnail object.main_image 1200x1200 crop upscale %}"
      :actions="{% get_object_actions_as_json object user %}">
    </visual-with-actions>
  </div>
</div>

<div class="header__primary">
  {% comment %}
  <div class="tags">
    {% for tag in object.tags %}
      <span class="tag tag--{{ tag.type }}" title="{{ tag.type }}">{{ tag.name|spacify }} ({{ tag.type }})</span>
    {% endfor %}
  </div>
  {% endcomment %}
  <tag-list :tags="{{ object.tags|tags_as_json }}"></tag-list>
</div>

<div class="header__secondary">
  <div class="rating">
        <object-rating
            obj-uuid="{{ object.uuid }}"
            obj-ct="{{ object.get_ct }}"></object-rating>
  </div>
</div>
