{% load truncate_tags i18n thumbnail arating_tags spacify_tags gravatar object_action_tags %}

<div class="header__primary">

  <div class="title title--primary">
    <h2>{% firstof object.user.get_full_name|truncate_chars_inner:40  object.user.username %}</h2>
    <small>
      {% if object.city %}{{ object.city }}{% endif %}{% if object.city and object.country %}, {% endif %}
      {% if object.country %}{{ object.country }}{% endif %}
    </small>
  </div>
  {% if object.pseudonym %}
    <div class="title title--secondary">
      <h3>a.k.a. {{ object.pseudonym }}</h3>
    </div>
  {% endif %}

  <div class="meta">

    {% if object.mentor %}
      <div class="meta__item">
        <div>
          {% trans "Mentor" %}:
        </div>
        <div>
          <a href="{{ object.mentor.get_absolute_url }}">{% firstof object.mentor.get_full_name object.mentor.username %}</a>
        </div>
      </div>
    {% endif %}

    {% if object.user.godchildren.count %}
      <div class="meta__item">
        <div>
          {% trans "Mentoring" %}:
        </div>
        <div>
          {% for profile in object.user.godchildren.all %}
            <a href="{{ profile.user.get_absolute_url }}">{% firstof profile.user.get_full_name profile.user.username %}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if object.user.station_set.count %}
      <div class="meta__item">
        <div>
          {% trans "Stations" %}:
        </div>
        <div>
          {% for station in object.user.station_set.all %}
            <a href="{{ station.get_absolute_url }}">{{ station.name }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if object.get_groups.count %}
      <div class="meta__item">
        <div>
          {% trans "Access level" %}:
        </div>
        <div>
          {% for group in object.get_groups.all %}
            {{ group }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if object.user %}
      <div class="meta__item">
        <div>
          {% trans "History" %}:
        </div>
        <div class="meta__item__grid">
          <div>
            {% trans 'joined'|title %}:
          </div>
          <div>
            {{ object.user.date_joined|date:'SHORT_DATE_FORMAT' }}
          </div>
          <div>
            {% trans 'last login'|title %}:
          </div>
          <div>
            {{ object.user.last_login|date:'SHORT_DATE_FORMAT'|default:'-' }}
          </div>
        </div>
      </div>
    {% endif %}
  </div>


</div>
<div class="header__secondary">
  <div class="visual">
    <visual-with-actions
            ct="{{ object.get_ct }}"
            uuid="{{ object.uuid }}"
            image-url="{% thumbnail object.image 280x280 crop upscale %}"
            large-image-url="{% thumbnail object.image 1200x1200 crop upscale %}"
            :actions="{% get_object_actions_as_json object user %}">
    </visual-with-actions>
  </div>
</div>

<div class="header__primary">
  <div class="tags">
    {% for tag in object.tags %}
      <span class="tag tag--{{ tag.type }}" title="{{ tag.type }}">{{ tag.name|spacify }}</span>
    {% endfor %}
  </div>
</div>

<div class="header__secondary">
  <div class="rating">
        <object-rating
            obj-uuid="{{ object.uuid }}"
            obj-ct="{{ object.get_ct }}"></object-rating>
  </div>
</div>
