{% extends "layout_base.html" %}

{% load i18n %}

{% block heading %}{% endblock %}

{% block inner %}
<div class="item item--detail item--profile">
    <div class="item--header">
        {% include "profiles/profile/_header_ng.html" %}
    </div>
    <nav class="item--section-menu">
        {% for item in section_menu %}
            <div class="menu-item{% if item.active %} menu-item--active{% endif %}">
                <a href="{{ item.url }}">{{ item.title }}</a>
            </div>
        {% endfor %}
    </nav>
    <div class="item--body">
        {% include section_template %}
    </div>
</div>
{% endblock %}

{% block sidebar %}
    {% include "profiles/profile/sidebar/_detail.html" %}
	{% include "profiles/profile/sidebar/_mentoring.html" %}
{% endblock %}
