{% extends "layout_edit.html" %}

{% load i18n crispy_forms_tags %}

{% block heading %}{% endblock %}

{% block inner %}
  <div class="item item--edit item--profile">
    <div class="item--header">
      {% include "profiles/profile/_header_ng.html" with object=object.profile %}
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  {% include "profiles/profile/sidebar/_edit.html" %}
{% endblock %}

{% block form %}
  <div class="form-container">
    <form
            class="form form--vue form--profile"
            method="post"
            enctype="multipart/form-data">

      {% csrf_token %}

      <div class="actions">
        <button
                class="actions__action button button--cancel"
                type="cancel">
          {% trans 'Cancel' %}
        </button>
        <button
                class="actions__action button button--primary"
                type="submit">
          {% trans 'Save' %}
        </button>
      </div>

      {% crispy form %}

      <div class="actions">
        <button
                class="actions__action button button--cancel"
                type="cancel">
          {% trans 'Cancel' %}
        </button>
        <button
                class="actions__action button button--primary"
                type="submit">
          {% trans 'Save' %}
        </button>
      </div>

    </form>
  </div>
{% endblock %}

{% block form_sidebar %}{% endblock %}
