{% extends "layout_edit.html" %}

{% load i18n crispy_forms_tags sekizai_tags %}

{% block heading %}{% endblock %}

{% block inner %}
  <div class="item item--edit item--profile">
    <div class="item--header">
      {% include "profiles/profile/_header.html" %}
    </div>
    <nav class="item--section-menu">
      {% for item in section_menu %}
        <div class="menu-item{% if item.active %} menu-item--active{% endif %}">
          <a href="{{ item.url }}">{{ item.title }}</a>
        </div>
      {% endfor %}
    </nav>
  </div>
{% endblock %}

{% block sidebar %}
  {% include "profiles/profile/sidebar/_edit.html" %}
{% endblock %}

{% block form %}
  <div class="edit edit--profile">
    <form
      class="form form--vue form--profile"
      method="post"
      enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.management_form }}
      {{ named_formsets.action.management_form }}
      {{ named_formsets.relation.management_form }}
      {% include 'forms_vue/actions/_save_cancel.html' %}
      {% crispy user_form %}
      {% crispy form %}
      <fieldset>
        <legend>
          {% trans "Personal Links" %}
        </legend>
        <div class="fieldset-hint fieldset-hint--info">
          <p>
            {% trans "Example: Your blog, you personal site, etc." %}
          </p>
        </div>
        <formset :autogrow="(true)">
          {% for form in named_formsets.relation %}
            {% crispy form %}
          {% endfor %}
        </formset>
      </fieldset>
      {% include 'forms_vue/actions/_save_cancel.html' %}
    </form>
  </div>
{% endblock %}

{% block form_sidebar %}
  {% include "profiles/profile/sidebar/_mentoring.html" %}
  {% include "profiles/profile/sidebar/_social_accounts.html" %}
{% endblock %}
