{% load sekizai_tags verbatim i18n %}

{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}abcast/js/jingle.js"></script>{% endaddtoblock %}
{% addtoblock "js-post" %}
<script>
	$(function(){

		var abcast = abcast || {};
		abcast.jingle = new JingleUi();
		abcast.jingle.api_url = "{% url api_dispatch_list resource_name='abcast/jingleset' api_name='v1'%}";
		abcast.jingle.api_url_simple = "{% url api_dispatch_list resource_name='abcast/jingleset' api_name='v1'%}";
		abcast.jingle.init();

	});
</script>

<!-- moustache templates -->





{% endaddtoblock %}





<div id="inline_jingle_container" class="">
	
	<div class="jingle basket ui-persistent open" data-uistate="init" id="jingle_basket">

		<div class="header">
			<span>{% trans "Station Jingles" %}</span>
			<!--
			<span style="float: right;"> <span style="color: rgb(153, 153, 153);" class="opt">1</span> </span>
			-->
		</div>


		<div class="form">
			
			<div class="ui-persistent" data-uistate="init" data-resource_uri="init" id="default_jingle_set"></div>

			<form class="form-inline select">

				<div class="control-group">
					<div class="controls jingle-selector">
						<!-- content via ich -->
					</div>
				</div>
			</form>

		</div>


		<!-- Wrapper, can hold multiple lists  -->
		<div id="inline_jingle_holder" class="wrapper"></div>



	</div>
	
</div>