{% load i18n %}

<div id="menu_context" class="menu-context">

    <div class="action-group">
        <ul>
            <li>
                <a class="hoverable" href="{{ object.get_absolute_url }}" title="{% trans "Back to Detail-View" %}">
                    <i class="icon icon-angle-left"></i>
                    <span>{% trans "Back to Detail-View" %}</span>
                </a>
            </li>
            <li>
                <a class="hoverable" href="{% url "profiles-credentials-edit" %}?next={{ object.get_edit_url }}" title="{% trans "Change Login Details" %}">
                    <i class="icon icon-lock"></i>
                    <span>{% trans "Change Login Details" %}</span>
                </a>
            </li>
        </ul>
    </div>

	<div class="social-auth">

        {% if social_auth.associated %}
		<h4>{% trans "Connected accounts" %}</h4>
            <ul class="unstyled connected clearfix">
                {% for service in social_auth.associated %}
                <li><i class="icon-{{ service.provider }}"></i><span class="service">{{ service|title|truncatechars:24 }}</span><a class="pull-right" href="{% url "socialauth_disconnect" service.provider %}?next={{ request.get_full_path }}">{% trans "disconnect" %}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

		<h4>{% trans "Connect with" %}</h4>
		<ul class="unstyled available clearfix">
			{% for service in social_auth.not_associated %}
			<li class="clearfix"><i class="icon-{{ service }}"></i><span class="service">{{ service|title }}</span><a class="pull-right" href="{% url "socialauth_begin" service %}?next={{ request.get_full_path }}">{% trans "connect" %}</a></li>
			{% endfor %}
		</ul>
	</div>

</div>
