{% load i18n %}


<div class="menu-context">

    <div class="action-group">
        <ul class="unstyled">

            {% if user.is_authenticated %}
                <li class="link">
                    <a class="hoverable{% if not perms.invitation.add_invitation %} disabled{% endif %}" href="{% url invitation_invite %}?next={{ request.get_full_path }}" title="{% trans "Invite new users" %}">
                        <i class="icon icon-user"></i>
                        <span>{% trans "Invite new users" %}</span>
                        <small class="opt pull-right"></small>
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>

</div>
