{% extends "layout_base.html" %}
{% load spurl cache i18n truncate_tags cache sekizai_tags spurl %}

{% block heading %}
<div id="heading">
	{% include "skeleton/heading.html" %}
</div>
{% endblock %}

{% block modnav %}
<div id="modnav">

    <ul class="unstyled">
        <li class="descendant"><a href="{% spurl base=url set_query="num_days=7" %}">{% trans "One week" %}</a></li>
        <li class="descendant"><a href="{% spurl base=url set_query="num_days=14" %}">{% trans "Two weeks" %}</a></li>
    </ul>
    <div class="clearfix"></div>

</div>
{% endblock %}

{% block body_class %}scheduler{% endblock %}

{% block inner %}

<div class="gridview container scheduler {{ list_style }}">
{% block content %}
{% endblock %}
</div>

<div class="listview footer">

</div>

{% endblock %}

{% block sidebar %}
{% include "abcast/scheduler/sidebar/_list.html" %}
{% endblock %}

