{% extends "abcast/base.html" %}

{% load spurl i18n truncate sekizai_tags pushy_tags %}


{% block content %}


{% include "abcast/layout/_calendar.html" %}



{% addtoblock "js-ext" %}{% pushy_scripts %}{% endaddtoblock %}
{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}abcast/js/lib/jquery-collision.js"></script>{% endaddtoblock %}
{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}abcast/js/scheduler.js"></script>{% endaddtoblock %}
{% addtoblock "js-post" %}


<script type="text/javascript">

$(function () {

	scheduler.app = new SchedulerApp();

	scheduler.app.range = [{% for date in days %}'{{ date|date:"Y-m-d" }}',{% endfor %}]

	scheduler.app.api_url = "{% url api_dispatch_list resource_name='abcast/emission' api_name='v1'%}";
	scheduler.app.init();

});

</script>
{% endaddtoblock %}


{% endblock %}
