{% extends "layout_base.html" %}
{% load spurl cache i18n truncate_tags cache %}

{% block heading %}{% endblock %}

{% block tagcloud %}{% endblock %}

{% block searchbar %}{% endblock %}

{% block inner %}

<div class="list-header">
	<div style="float: right;">
		{% include "element/_pagination.html" %}
	</div>
</div>

<div class="listview container profile m">

	<div class="list_body">

		{% for item in object_list %}
		    {% include "abcast/station/_list_item_m.html" %}
		{% endfor %}

	</div>
</div>
{% endblock %}

{% block sidebar %}{% endblock %}
