.menubar {
  display: flex;

  &__primary {
    flex-grow: 1;
    margin: 0;
    padding: 0;
  }

  &__secondary {
    margin: 0;
    padding: 0;
  }

  > ul {
    display: flex;

    > li {
      display: inline-block;
      color: #666;
      text-transform: uppercase;
      text-decoration: none;

      > a {
        display: inline-block;
        padding: 0 7px;
        color: inherit;
        letter-spacing: 1px;
        text-decoration: inherit;
        border-right: 1px solid #999;
      }

      &.selected {
        color: $secondary-color;
      }

      &:hover {
        color: $secondary-color;
      }

      &:last-child {
        > a {
          border-right: 0;
        }
      }
    }
  }
}
