{% load i18n menu_tags account_tags %}

<div class="topbar">

    <div class="branding">
        <a href="/" title="open broadcast platform - Home">open broadcast</a>
    </div>

    <div class="main-menu">
        <ul class="menu menu-level-1" id="main_menu">
           {% show_menu 0 1 100 100 "element/topbar/_menu.html" %}
        </ul>
    </div>

    <div class="global-search">
        <div id="search_app"></div>
    </div>

    <div class="account-menu{% if user.is_authenticated %} is-authenticated{% endif %}">
        <ul class="menu" id="account_menu">
        {% if user.is_authenticated %}
            <li class="account">
                <a href="{% url "profiles-profile-detail" user.profile.uuid %}">{{ user.profile.get_display_name }}</a>
                <ul class="children">
                    <li>
                        <a href="{% url "account:logout" %}">
                            {% trans 'Logout' %}
                        </a>
                    </li>
                    {% if user.is_staff %}
                        <li>
                            <a href="/admin/">
                                {% trans 'Administration' %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
            <li class="message-notification{% if postman_unread_count %} has-unread{% endif %}">
                <a href="{% url "postman_inbox" %}">
                    <i class="icon-envelope-alt"></i>
                    <span class="count">{{ postman_unread_count }}</span>
                </a>
            </li>
        {% else %}
            <li class="login">
                <a rel="nofollow" title="Login" href="{% url "account:login" %}?next={{ request.get_full_path }}" rel="modal:open">
                    {% trans 'Login' %}
                </a>
                <ul class="children">
                    <li>
                        <a rel="nofollow" href="{% url "account:login" %}?next={{ request.get_full_path }}">
                            {% trans 'Login' %}
                        </a>
                    </li>
                    <li>
                        <a rel="nofollow" href="{% url "account:register" %}?next={{ request.get_full_path }}">
                            {% trans 'Create Account' %}
                        </a>
                    </li>
                    {% for backend in backends.backends %}
                        {% backend_detail_as backend as backend_detail %}
                        <li>
                            <a href="{% url "social:begin" backend %}?next={{ request.get_full_path }}" class="auth-social auth-social-{{ backend }}"
                               rel="nofollow"
                               data-turbolinks="false">
                                <i class="icon {{ backend_detail.icon }}"></i>
                                <span>{{ backend_detail.cta }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
        </ul>
    </div>

</div>
