{% load activity_tags ctype_tags %}

<div class="menu-context">
  <div class="action-group">
    <ul>
      {% if perms.alibrary.change_label %}
        <li class="action">
          <a href="{{ object.get_edit_url }}" title="Edit">
            Edit
          </a>
        </li>
      {% endif %}
      {% if perms.alibrary.change_label and user.is_staff %}
        <li class="action">
          <a href="{{ object.get_admin_url }}?next={{ object.get_absolute_url }}"
             title="Administration view">
            Administration view
          </a>
        </li>
      {% endif %}
      {% if user.is_authenticated %}
        <li class="action">
          <a href="{% follow_all_url object %}?next={{ request.get_full_path }}"
             title="Follow/unfollow">
            {% if request.user|is_following:object %}
              Stop following {{ object|ct_name_by_object }}
            {% else %}
              Follow {{ object|ct_name_by_object }}
            {% endif %}
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
