{% extends "layout_base.html" %}
{% load i18n %}

{% block body_class %}error error-403{% endblock %}

{% block title %}{% trans "Permission denied" %} | {% endblock %}

{% block main %}

    <div class="container main error-message">
        <header class="subhead">
                <div id="heading" class="heading heading-alt">
                    <div class="heading-container">
                        <div class="page-title">
                            <h1>{% trans "Permission denied" %}</h1>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
        </header>

        <section>
            <p class="reason">
                {% trans "Sorry but you don't have the permission to access this page." %}
            </p>
            <p class="solution">
                {% trans "If you believe thatyou should be able to access this page please contact our support" %}
                <br>
                <a href="mailto:support@openbroadcast.org">support@openbroadcast.org</a>
            </p>
        </section>

    </div>

{% endblock %}
