{% load i18n %}

{% spaceless %}

<!---->
<a href="{% url 'social:begin' key %}?next={% url 'account:login-pickup' %}" class="auth-social-button auth-social-button-{{ icon }}">
    {% if icon %}
    <span class="icon-container">
        <img class="icon icon-brand" src="/static/icons/brands/{{ icon }}.svg" />
    </span>
    {% endif %}
    <span class="text-container">
        {% if action == 'login' %}
        {% blocktrans trimmed with provider_name=name %}Sign in with {{ provider_name }}{% endblocktrans %}
        {% endif %}

        {% if action == 'register' %}
        {% blocktrans trimmed with provider_name=name %}Sign up with {{ provider_name }}{% endblocktrans %}
        {% endif %}

        {% if action == 'connect' %}
        {% blocktrans trimmed with provider_name=name %}Connect with {{ provider_name }}{% endblocktrans %}
        {% endif %}

        {% if action == 'disconnect' %}
        {% blocktrans trimmed with provider_name=name %}Disconnect from {{ provider_name }}{% endblocktrans %}
        {% endif %}
    </span>
</a>


{% endspaceless %}
