{% load truncate_tags i18n thumbnail spurl object_action_tags tagging_extra_tags %}
<div class="header__primary">
  <div class="title title--primary">
    <h2>{{ object.name|truncate_chars_inner:40 }}</h2>
    <small>
      {% if object.country %}
        ({{ object.country.iso2_code }})
      {% endif %}
      {% if object.type and not object.type == 'unknown' %}
        {{ object.get_type_display }}
      {% endif %}
      {% if object.date_start %}
        &nbsp;*{{ object.date_start.year }}
      {% endif %}
      {% if object.date_end %}
        &nbsp;&#10013;{{ object.date_end.year }}
      {% endif %}
    </small>
  </div>
  {% if object.releases.exists %}
  {% url "alibrary-release-list" as release_list_url %}
  <div class="title title--secondary">
    <h3>
      <a href="{% spurl path=release_list_url query="search_label_ids={{ object.uuid }}" %}">
        {{ object.releases.count }} {% trans 'Releases' %}
      </a>
    </h3>
  </div>
  {% endif %}
  <div class="meta">
    {% if umbrella_label %}
      <div class="meta__item">
        <div>
          {% trans "Umbrella Label" %}:
        </div>
        <div>
          <a href="{{ umbrella_label.get_absolute_url }}">{{ umbrella_label.name }}</a>
        </div>
      </div>
    {% endif %}
    {% if parent_label %}
      <div class="meta__item">
        <div>
          {% trans "Parent Label" %}:
        </div>
        <div>
          <a href="{{ parent_label.get_absolute_url }}">{{ parent_label.name }}</a>
        </div>
      </div>
    {% endif %}
    {% if sub_labels.exists %}
      <div class="meta__item">
        <div>
          {% trans "Sub Labels" %}:
        </div>
        <div>
          <expandable-list
            :limit="(5)"
            separator="+"
          >
            {% for label in sub_labels.all %}
              <a href="{{ label.get_absolute_url }}">{{ label.name }}</a>
            {% endfor %}
          </expandable-list>
        </div>
      </div>
    {% endif %}
    {% if object.founding_artists.exists %}
      <div class="meta__item">
        <div>
          {% trans "Founders" %}:
        </div>
        <div>
          {% for founding_artist in object.founding_artists.all %}
            <a href="{{ founding_artist.get_absolute_url }}">{{ founding_artist.name }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if object.labelcode %}
      <div class="meta__item">
        <div>
          {% trans "Labelcode" %}:
        </div>
        <div>
          {{ object.labelcode }}
        </div>
      </div>
    {% endif %}
    {% if object.address or object.country or object.email %}
      <div class="meta__item">
        <div>
          {% trans "Contact" %}:
        </div>
        <div>
          {% if object.address %}
            <p>{{ object.address|linebreaksbr }}</p>
				  {% endif %}
          {% if object.country %}
            <p>{{ object.country.printable_name }}</p>
				  {% endif %}
          {% if object.phone %}
            <p>P: {{ object.phone }}</p>
				  {% endif %}
          {% if object.fax %}
            <p>F: {{ object.fax }}</p>
				  {% endif %}
          {% if object.email %}
            {% load email_obfuscator %}
            <p>{{ object.email|obfuscate_mailto }}</p>
				  {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
  <div class="meta">
    <div class="meta__item">
      <div>
        {% trans "Created" %}:
      </div>
      <div class="meta__item__grid">
        <time>
          {% firstof object.last_creation_time|date:'DATETIME_FORMAT' object.created|date:'DATETIME_FORMAT' %}
        </time>
        {% if object.creator %}
        <div>
          <a href="{{ object.creator.get_absolute_url }}">{{ object.creator.profile.get_display_name }}</a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="meta__item">
      <div>
        {% trans "Updated" %}:
      </div>
      <div class="meta__item__grid">
        <time>
          {% firstof object.last_update_time|date:'DATETIME_FORMAT' object.updated|date:'DATETIME_FORMAT' %}
        </time>
        {% if object.last_editor %}
        <div>
          <a href="{{ object.last_editor.get_absolute_url }}">{{ object.last_editor.profile.get_display_name }}</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="header__secondary visual-container">
  <div class="visual">
    <visual-with-actions
      ct="{{ object.get_ct }}"
      uuid="{{ object.uuid }}"
      url="{% url 'api:label-detail' object.uuid %}"
      image-url="{% thumbnail object.main_image 280x280 upscale %}"
      :actions="{% get_object_actions_as_json object user %}">
    </visual-with-actions>
  </div>
</div>
<div class="header__primary">
  <tag-list :tags="{{ object.tags|tags_as_json }}"></tag-list>
</div>
<div class="header__secondary">
  <div class="rating">
    <object-rating
        obj-uuid="{{ object.uuid }}"
        obj-ct="{{ object.get_ct }}"></object-rating>
  </div>
</div>
