@charset "UTF-8"


=grid-layout($gutter: 14px)
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-auto-rows: minmax(100px, auto)
  grid-gap: $gutter



=card
  background: #FFF
  &:hover
    background: #BCF5E0

  .card

    &__visual
      position: relative
      display: inline-grid

      &:after
        content: ""
        display: block
        padding-bottom: 0

      .image
        display: contents
        figure
          margin: 0

      .flags
        position: absolute
        top: 0
        left: 0
        .flag
          background: rgba(#fff, .8)
          display: inline-block
          padding: 2px 4px 1px
          margin: 0 2px 0 0
          color: #333
          // text-transform: uppercase
          white-space: nowrap

      .tags
        position: absolute
        bottom: 0
        right: 0
        text-align: right
        .tag
          font-size: 90%
          background: black
          display: inline-block
          padding: 1px 8px 0px
          margin: 2px 0 0 2px
          color: #fff
          text-transform: uppercase
          white-space: nowrap

      .actions
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: center

    &__body
      padding: 4px
      display: grid
      grid-template-columns: auto auto


=list-item--grid
  // background: $white
  @include card

