{% extends "layout_base.html" %}

{% load i18n sekizai_tags straight_include dajaxice_templatetags pushy_tags pageguide_tags %}

{% block object_type %}massimport{% endblock %}

{% block heading %}
    <div id="heading">
        {% include "skeleton/heading.html" %}
    </div>
{% endblock %}

{% block modnav %}
    <div id="modnav">
        {% include "skeleton/module-navigation.html" %}
        <p>
            Back to <a href="{% url 'massimporter-import-list' %}">Massimport Listing</a>
            <br>
            <br>
        </p>
    </div>
{% endblock %}

{% block sidebar %}{% endblock %}


{% block inner %}


    <div class="item massimport-detail">

        <div class="header">


            <div class="row-fluid">

                <div class="span6">
                    
                    <ul>

                        <li>
                            <a href="{% url 'massimporter-import-detail' uuid=object.uuid %}">Details</a>
                            <span>ID: {{ object.pk }}</span>
                        </li>

                        <li>
                            <span>{% trans 'User' %}:</span>
                            <a href="{{ object.user.get_absolute_url }}">{% firstof object.user.profile.get_display_name object.user %}</a>
                        </li>

                        <li>
                            <span>{% trans 'Collection' %}:</span>
                            <strong>{{ object.collection_name }}</strong>
                        </li>

                    </ul>

                </div>

                <div class="span5">

                    <ul>

                        <li>
                            <span>{% trans 'Status' %}:</span>
                            {{ object.get_status_display }}
                        </li>

                        <li>
                            <span>{% trans 'Date' %}:</span>
                            {{ object.created|date:'DATETIME_FORMAT' }}
                        </li>

                    </ul>

                    <ul>
                        {% for k, v in object.get_counts.iteritems %}
                            <li>
                                <span>{{ k }}:</span>
                                {{ v }}
                            </li>
                        {% endfor %}
                    </ul>

                </div>

            </div>


            <div class="row-fluid">

                <div class="span12">

                    <ul>

                        <li>
                            <span>{% trans 'Directory' %}:</span>
                            {{ object.directory }}

                        </li>

                    </ul>

                </div>
            </div>

        </div>


        <div class="panel">

            <div class="row-fluid">

                <div class="span12">

                    <h2>{% trans 'Summary' %}</h2>

                    <ul>

                        <li>
                            <span>{% trans 'Num. Files Total' %}:</span>
                            {{ qs_all.count }}
                        </li>

                        <li>
                            <span>{% trans 'Num. Files Imported' %}:</span>
                            {{ qs_done.count }}
                        </li>

                        <li>
                            <span>{% trans 'Num. Files Duplicates' %}:</span>
                            {{ qs_duplicate.count }}
                        </li>
                    </ul>

                </div>


            </div>

        </div>


        <div class="panel">

            <div class="row-fluid">

                <div class="span12">

                    <h2>Possible Recognition Mismatch &mdash; "False Positives"</h2>

                    <p class="hint">
                        Uploaded items that are recognized as duplicates - but the filename of the
                        uploaded does not contain the name/title of the assigned duplicate.
                    </p>

                    <table>
                        {% for mismatch in possible_name_mismatch %}
                        <tr class="padded">
                            <td>
                                <a class="title" href="{{ mismatch.media.get_absolute_url }}">
                                    {{ mismatch.media.name }}
                                </a>
                                &mdash;
                                <a href="{{ mismatch.media.release.get_absolute_url }}">
                                    {{ mismatch.media.release.name }}
                                </a>
                            </td>
                            <td>
                                <span class="title">
                                    {{ mismatch.filename }}
                                </span>
                            </td>
                        </tr>
                        {% empty %}
                            <p>-</p>
                        {% endfor %}

                    </table>

                </div>

            </div>

        </div>


        <div class="panel">

            <div class="row-fluid">

                <div class="span12">

                    <h2>Possible Unrecognized Duplicates &mdash; "False Negatives"</h2>

                    <p class="hint">
                        Each uploaded item is compared to existing tracks on the platform.
                        <br>
                        Displayed are tracks that have the exact same title and artist's name.
                    </p>

                    <table>
                        {% for possible_duplicate in possible_duplicates %}
                        <tr class="padded">
                            <td>
                                <a class="title" href="{{ possible_duplicate.media.get_absolute_url }}">
                                    {{ possible_duplicate.media.name }}
                                </a>
                                &mdash;
                                <a href="{{ possible_duplicate.media.artist.get_absolute_url }}">
                                    {{ possible_duplicate.media.artist.name }}
                                </a>
                                &mdash;
                                <a href="{{ possible_duplicate.media.release.get_absolute_url }}">
                                    {{ possible_duplicate.media.release.name }}
                                </a>

                                <br>
                                {% for duplicate_media in possible_duplicate.duplicates_qs %}

                                    <a href="{{ duplicate_media.get_absolute_url }}">
                                        {{ duplicate_media.name }}
                                    </a>
                                    &mdash;
                                    <a href="{{ duplicate_media.artist.get_absolute_url }}">
                                        {{ duplicate_media.artist.name }}
                                    </a>
                                    &mdash;
                                    <a href="{{ duplicate_media.release.get_absolute_url }}">
                                        {{ duplicate_media.release.name }}
                                    </a>
                                    <br>
                                    {% if forloop.last %}<br>{% endif %}
                                {% endfor %}

                            </td>
                            <td>
                                <a href="{% url 'alibrary-media-list' %}?artist={{ possible_duplicate.media.artist.slug }}&q={{ possible_duplicate.media.name }}">Search by combo (Title/Artist)</a>
                            </td>
                        </tr>
                        {% empty %}
                            <p>-</p>
                        {% endfor %}

                    </table>

                </div>

            </div>

        </div>

    </div>


{% endblock %}

{% block form_sidebar %}{% endblock %}
