{% extends "layout_base.html" %}

{% load i18n calc_tags sekizai_tags dajaxice_templatetags pushy_tags pageguide_tags %}

{% block object_type %}massimport{% endblock %}

{% block heading %}
    <div id="heading">
        {% include "skeleton/heading.html" %}
    </div>
{% endblock %}

{% block modnav %}
    <div id="modnav">
        {% include "skeleton/module-navigation.html" %}
        <p>
            Back to <a href="{% url 'massimporter-import-list' %}">Massimport Listing</a>
            <br>
            <br>
        </p>
    </div>
{% endblock %}

{% block sidebar %}{% endblock %}


{% block inner %}


    <div class="item massimport-detail">

        <div class="header">


            <div class="row-fluid">

                <div class="span6">

                    <ul>

                        <li>
                            <a class="title" href="{% url 'massimporter-import-detail' uuid=object.uuid %}">Details <span>ID: {{ object.pk }}</span></a>

                        </li>

                        <li>
                            <span>{% trans 'User' %}:</span>
                            <a href="{{ object.user.get_absolute_url }}">{% firstof object.user.profile.get_display_name object.user %}</a>
                        </li>

                        <li>
                            <span>{% trans 'Collection' %}:</span>
                            <strong>{{ object.collection_name }}</strong>
                        </li>

                    </ul>

                </div>

                <div class="span5">

                    <ul>

                        <li>
                            <span>{% trans 'Status' %}:</span>
                            {{ object.get_status_display }}
                        </li>

                        <li>
                            <span>{% trans 'Date' %}:</span>
                            {{ object.created|date:'DATETIME_FORMAT' }}
                        </li>

                    </ul>

                </div>

            </div>


            <div class="row-fluid">

                <div class="span12">

                    <ul>

                        <li>
                            <span>{% trans 'Directory' %}:</span>
                            {{ object.directory }}

                        </li>

                    </ul>

                </div>
            </div>

        </div>


        <div class="panel">

            <div class="row-fluid">

                <div class="span12">

                    <h2>{% trans 'Summary' %}</h2>

                    <ul>

                        <li>
                            <span>{% trans 'Num. Files Total' %}:</span>
                            {{ qs_all.count }}
                        </li>

                        <li>
                            <span>{% trans 'Num. Files Imported' %}:</span>
                            {{ qs_done.count }}
                        </li>

                        <li>
                            <span>{% trans 'Num. Files Duplicates' %}:</span>
                            {{ qs_duplicate.count }}
                        </li>
                    </ul>

                </div>


            </div>

        </div>


        <div class="panel">

            <div class="row-fluid">

                <div class="span12">

                    <h2>Possible Recognition Mismatch &mdash; "False Positives"</h2>

                    <p class="hint">
                        Uploaded items that are recognized as duplicates, and were skipped - but the filename of the
                        uploaded track does not contain the name/title of the assigned duplicate.
                    </p>

                    {% if possible_name_mismatch %}
                    <div class="list duplicates">
                        {% for mismatch in possible_name_mismatch %}
                            {% include 'massimporter/_partials/_duplicate_inline.html' with object=mismatch %}
                        {% endfor %}
                    </div>
                    {% endif %}

                </div>

            </div>

        </div>


        <div class="panel">

            <div class="row-fluid">

                <div class="span12">

                    <h2>Possible Unrecognized Duplicates &mdash; "False Negatives"</h2>

                    <p class="hint">
                        Each uploaded item is compared to existing tracks on the platform.
                        <br>
                        Displayed are tracks that have the exact same title and artist's name.
                    </p>



                    {% if possible_duplicates %}
                    <div class="list duplicates">
                        {% for possible_duplicate in possible_duplicates %}


                            <div class="item">

                                <div class="row-fluid">
                                    <div class="span6">
                                        <a class="title" href="{{ possible_duplicate.media.get_absolute_url }}">
                                            {{ possible_duplicate.media }}
                                        </a>
                                        <br>
                                        <a href="{{ possible_duplicate.media.artist.get_absolute_url }}">
                                            {{ possible_duplicate.media.artist }}
                                        </a>
                                        &mdash;
                                        <a href="{{ possible_duplicate.media.release.get_absolute_url }}">
                                            {{ possible_duplicate.media.release }}
                                        </a>
                                        &mdash;
                                        <span>{{ possible_duplicate.media.master_duration|sec_to_time }}</span>
                                        {% if possible_duplicate.media_mb_uuid %}
                                            <br><span>{{ possible_duplicate.media_mb_uuid }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="span6">


                                        {% for duplicate_media in possible_duplicate.duplicates_qs %}

                                            <a class="title" href="{{ duplicate_media.get_absolute_url }}">
                                                {{ duplicate_media.name }}
                                            </a>
                                            <br>
                                            <a href="{{ duplicate_media.artist.get_absolute_url }}">
                                                {{ duplicate_media.artist.name }}
                                            </a>
                                            &mdash;
                                            <a href="{{ duplicate_media.release.get_absolute_url }}">
                                                {{ duplicate_media.release.name }}
                                            </a>
                                            &mdash;
                                            <span>{{ duplicate_media.master_duration|sec_to_time }}</span>
                                            <br>
                                            {% if forloop.last %}<br>{% endif %}
                                        {% endfor %}
                                    </div>
                                </div>


                            </div>


                        {% endfor %}
                    </div>
                    {% endif %}

                </div>

            </div>

        </div>


        <div class="panel">

            <div class="row-fluid">

                <div class="span12">

                    <h2>Duplicate Report</h2>

                    <p class="hint">
                        Overview of all detected duplicates.
                    </p>

                    {% if not show_all_duplicates %}
                        <a href="{% url 'massimporter-import-detail' uuid=object.uuid %}?show-all-duplicates=1">Show all duplicates</a>
                    {% else %}
                        <a href="{% url 'massimporter-import-detail' uuid=object.uuid %}">Hide all duplicates</a>
                    {% endif %}

                    {% if all_duplicates and show_all_duplicates %}
                    <div class="list duplicates">
                        {% for duplicate in all_duplicates %}
                            {% include 'massimporter/_partials/_duplicate_inline.html' with object=duplicate %}
                        {% endfor %}
                    </div>
                    {% endif %}

                </div>

            </div>

        </div>



    </div>


{% endblock %}

{% block form_sidebar %}{% endblock %}
