{% extends "layout_base.html" %}

{% load i18n sekizai_tags %}

{% block heading %}

    {% addtoblock "js-post" %}
        <script src="/static/search/js/base.js"></script>
    {% endaddtoblock %}


    {% addtoblock "js-post" %}
        <script>
            var search_app;
            $(function () {
                search_app = new SearchApp();
                search_app.debug = true;
                search_app.init();
            });
        </script>
    {% endaddtoblock %}


    <div id="chat"></div>

    <div id="heading">
        {% include "skeleton/heading.html" %}
    </div>
{% endblock %}

{% block inner %}
    <h1>Global Search (Prototype View)</h1>

    <div id="global_search">

        <div class="search-container">
            <div>
                <form action="/api/v1/search/" id="search_form">
                    <input type="text" name="q" id="search_input">
                    <input type="hidden" name="format" value="json">
                </form>
            </div>

            <div id="search_scope">

                <span><a class="selected btn" data-ct="all" href="#">Everything</a></span>
                <span><a class="btn" data-ct="alibrary.artist" href="#">Artists</a></span>
                <span><a class="btn" data-ct="alibrary.release" href="#">Releases</a></span>
                <span><a class="btn" data-ct="alibrary.media" href="#">Tracks</a></span>
                <span><a class="btn" data-ct="profiles.profile" href="#">Users</a></span>

            </div>

            <div id="search_results" class="search-results">

            </div>

        </div>

    </div>

{% endblock %}
