{% load spurl %}

<div style="display: none;" id="tagcloud_inline" data-uistate="init" class="tagcloud inline ui-persistent">

    <ul class="horizontal tag-level unstyled pull-right">
        <li><a class="toggle-level" data-taglevel="1" href="#">&nbsp;+&nbsp;</a></li>
        <li><a class="toggle-level" data-taglevel="4" href="#">&nbsp;++&nbsp;</a></li>
        <li><a class="toggle-level" data-taglevel="6" href="#">&nbsp;+++&nbsp;</a></li>
    </ul>

    <div class="clear"></div>
    <div class="cloud-container" style="width: 760px;">
        {% for tag in tagcloud %}

            {% if tag.query %}
                {% spurl base=request.get_full_path set_query="search_tags={{ tag.query }}" as tag_url %}
            {% else %}
                {% spurl base=request.get_full_path remove_query_param="search_tags" as tag_url %}
            {% endif %}

            {% spurl base=tag_url remove_query_param="page" as tag_url %}
            <a rel="nofollow" href="{{ tag_url }}"
               data-id="{{ tag.pk }}"
               class="tag{{ tag.weight }} {% if tag.hide_level > 0 %}tag-hidden{% endif %} level{{ tag.hide_level }} {% if tag.selected %} on{% endif %}"
               style="">{{ tag.name }}</a>
        {% endfor %}
    </div>

    <div class="clear"></div>

</div>


