{% load menu_tags i18n adv_cache activity_tags sekizai_tags %}

{% addtoblock "js-post" %}
<script>
    $(function(){
        var navigation = new NavigationUI($('#main_navigation'));
        var account = new AccountUI($('#account_navigation'));
    });
</script>
{% endaddtoblock %}

<div class="toolbar" id="toolbar">

    <div class="section-left">
        <ul id="main_navigation" class="top-level">
            <li class="branding"><h1><a href="/" title="open broadcast platform - Home">open broadcast</a></h1></li>
            {% show_menu 0 1 100 100 "element/main-navigation/_menu.html" %}
        </ul>
    </div>

    <div class="section-right">

        <ul id="account_navigation">

            {% if user.is_authenticated %}

                <li class="account">
                    <a href="{% url "profiles-profile-detail" user.username %}">{{ user.profile.get_display_name }}</a>

                    <ul class="sub-level">

                        <li><a href="{% url "auth_logout" %}?next=/"><i class="icon-signout"></i> {% trans 'Logout' %}</a></li>


                        {% if user.is_staff %}
                        <li><a href="/admin/"><i class="icon-dashboard"></i> {% trans 'Administration' %}</a></li>
                        {% endif %}

                    </ul>

                </li>

                <li class="message-notification{% if postman_unread_count %} has-unread{% endif %}">
                    <a href="{% url "postman_inbox" %}">
                        <i class="icon-envelope-alt"></i>
                        <span><small class="count">{{ postman_unread_count }}</small></span></a>
                </li>

            {% else %}

                <li class="login">
                    <a rel="nofollow" title="Login" href="{% url "auth_login" %}?next={{ request.get_full_path }}" rel="modal:open">{% trans 'Login' %}</a>
                    {% comment %}{% endcomment %}
                    <ul class="sub-level" style="visibility: hidden;">

                        <li><a rel="nofollow" href="{% url "auth_login" %}?next={{ request.get_full_path }}"><i class="icon-lock"></i> {% trans 'Login / Sign Up' %}</a></li>


                        {% for service in social_auth.backends %}

                            <li>
                                <a rel="nofollow" href="{% url "socialauth_begin" service %}?next={{ request.get_full_path }}">
                                    <i class="icon-{{ service }}"></i> {% trans 'Login with' %} {{ service|title }}
                                </a>
                            </li>

                        {% endfor %}

                        {% comment %}
                        <li><a href="{% url "socialauth_begin" "twitter" %}?next={{ request.get_full_path }}"><i class="icon-twitter"></i> {% trans 'Login using Twitter' %}</a></li>
                        <li><a href="{% url "socialauth_begin" "facebook" %}?next={{ request.get_full_path }}"><i class="icon-facebook"></i> {% trans 'Login using Facebook' %}</a></li>
                        <li><a href="{% url "socialauth_begin" "google-oauth2" %}?next={{ request.get_full_path }}"><i class="icon-google-oauth2"></i> {% trans 'Login using google' %}</a></li>
                        <!--<li><a href="{% url "socialauth_begin" "github" %}?next={{ request.get_full_path }}"><i class="icon-github"></i> {% trans 'Login using GitHub' %}</a></li>-->
                        {% endcomment %}
                    </ul>

                </li>
                <!--<li class="login"><a title="Register" href="{% url "registration_register" %}?next={{ request.get_full_path }}" rel="modal:open">{% trans 'Sign Up' %}</a></li>-->
            {% endif %}
        </ul>


    </div>

</div>

