export DJANGO_SETTINGS_MODULE=config.settings.dev

export PYTHONPYCACHEPREFIX=/tmp/.pycache

export BUILDKIT_PROGRESS=plain


# apple silicon
if [ "$(uname -s)" = "Darwin" ] && [ "$(uname -m)" = "arm64" ]; then
    # python-magic / libmagic
    export DYLD_LIBRARY_PATH="$(brew --prefix libmagic)/lib${DYLD_LIBRARY_PATH:+:$DYLD_LIBRARY_PATH}"
    # Wand / ImageMagick
    export MAGICK_HOME="$(brew --prefix imagemagick)"
fi

ENV=.env
if test -f "$ENV"; then
    set -a
    source "$ENV"
    set +a
fi
