DEBUG=true

SITE_URL=http://obp-next.local:5000

FFPROBE_BINARY=/opt/homebrew/bin/ffprobe
FFMPEG_BINARY=/opt/homebrew/bin/ffmpeg
LAME_BINARY=/opt/homebrew/bin/lame

# ECHOPRINT_CODEGEN_BINARY=/opt/homebrew/bin/echoprint-codegen
ECHOPRINT_CODEGEN_BINARY=/usr/bin/whoami

MEDIA_PREFLIGHT_SERVICE_ENDPOINT=https://media-preflight-service-888119763922.europe-west6.run.app/
MEDIA_PREFLIGHT_SERVICE_TOKEN=***

WAVEFORM_SERVICE_ENDPOINT=http://127.0.0.1:5002/