export DJANGO_SETTINGS_MODULE=config.settings.dev

export PYTHONPYCACHEPREFIX=/tmp/.pycache

# libmagic hack?
export DYLD_LIBRARY_PATH="$(brew --prefix libmagic)/lib${DYLD_LIBRARY_PATH:+:$DYLD_LIBRARY_PATH}"

ENV=.env
if test -f "$ENV"; then
    set -a
    source "$ENV"
    set +a
fi
