# ignore
.DS_Store
*.pyc
.pydev*

.idea
.tmp

*node_modules*

util/remote_to_local.conf
tools/*/env
env
docs/
website/local_settings.py
website/project/local_settings.py
website/smedia
website/media
website/temp
website/logs
website/static
#website/site-static/css/*
website/site-static/.sass-cache
website/data.db
website/static/CACHE
website/cache/*
website/celerybeat*
util/nginx-dev/*

website/__to_be_removed
website/fixtures

*.sass-cache*


