{
    "extends": [
        "stylelint-scss",
        "stylelint-config-standard"
    ],
    "rules": {
        "indentation": 2,
        "at-rule-no-unknown": null,
        "no-descending-specificity": null
    }
}
