Django==1.9.13
django-mptt==0.8.7
django-filter==1.1.0

django-extensions==1.9.9
easy-thumbnails==2.6

# cms upgrade steps
django-cms==3.5.3
djangocms-snippet==2.2.0
djangocms-link==2.2.1


# packages to remove:
# pip uninstall django-avatar
# pip uninstall django-badbrowser
