{% load i18n lazy_image_tags truncate_tags arating_tags %}

<div class="card card--playlist">
    <div class="card__visual">
        <div class="image">
            {% lazy_image object.main_image 'crop' '270x270' %}
        </div>
        <div class="actions">
            <object-actions
                obj-ct="{{ object.get_ct }}"
                obj-uuid="{{ object.uuid }}"
                actions="play,queue,download,edit,schedule">
            </object-actions>
        </div>
        <div class="flags">
            <span class="flag">{{ object.get_type_display }}</span>
        </div>
        <div class="tags">
            {% for tag in object.tags|slice:":8" %}
                <span class="tag">{{ tag.name|truncate_chars_inner:10 }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="card__body">

        <div>
            <a href="{{ object.get_absolute_url }}" title="{{ object.name }}">
                {{ object.name|truncate_chars_inner:24 }}
                {% if object.country %}({{ object.country }}){% endif %}
            </a>
        </div>
        <div>
            {% topflop_for_object object %}
        </div>

        <div>
            {% if object.series %}
                {{ object.series.name|truncate_chars_inner:24 }}
                {% if object.series_number %}
                    #{{ object.series_number }}
                {% endif %}
            {% endif %}
        </div>
        <div>
            {# object.get_type_display #}
        </div>

        <div>
            <a href="{{ object.user.get_absolute_url }}">{{ object.user.profile.get_display_name }}</a>
        </div>
        <div>
            {% if object.type == 'broadcast' %}
                {# object.get_status_display #}
            {% endif %}
        </div>


    </div>
    <div class="card__footer">
        (( footer ))
    </div>
</div>
