{% load sekizai_tags thumbnail i18n truncate_tags %}

{% addtoblock "js-post" %}
    <script src="{{ STATIC_URL }}importer/js/lib/tmpl.js"></script>{% endaddtoblock %}
{% addtoblock "js-post" %}
    <script src="{{ STATIC_URL }}importer/js/lib/fileupload/jquery.iframe-transport.js">
    </script>{% endaddtoblock %}
{% addtoblock "js-post" %}
    <script src="{{ STATIC_URL }}importer/js/lib/fileupload/jquery.fileupload.js">
    </script>{% endaddtoblock %}
{% addtoblock "js-post" %}
    <script src="{{ STATIC_URL }}importer/js/lib/fileupload/jquery.fileupload-fp.js">
    </script>{% endaddtoblock %}
{% addtoblock "js-post" %}
    <script src="{{ STATIC_URL }}importer/js/lib/fileupload/jquery.fileupload-ui.js">
    </script>{% endaddtoblock %}
{% addtoblock "js-post" %}
    <script src="{{ STATIC_URL }}importer/js/lib/fileupload/locale.js">
    </script>{% endaddtoblock %}
{% addtoblock "js-post" %}
    <script src="{{ STATIC_URL }}importer/js/lib/fileupload/main.js"></script>{% endaddtoblock %}
{% addtoblock "js-post" %}
    <script src="{{ STATIC_URL }}alibrary/js/playlist.upload.js"></script>{% endaddtoblock %}


{% addtoblock "js-post" %}
    <script src="{{ STATIC_URL }}importer/js/importfile.js"></script>{% endaddtoblock %}


{% addtoblock "js-post" %}


{% endaddtoblock %}



{% addtoblock "js-post" %}
    <script>

        var uploader;
        $(function () {

            uploader = new PlaylistEditorUpload();
            uploader.api_url = "{{ object.get_api_url }}";
            uploader.fileupload_id = 'fileupload';
            uploader.fileupload_options = {
                maxFileSize: 1000000000, // 1000 MB
                minFileSize: 200000,
                //acceptFileTypes: /(\.|\/)(mp3|aif?f|wav|avi|flac|mp4|ogg|m4a)$/i,
                acceptFileTypes: /(\.|\/)(mp3|wav|flac|mp4|ogg|m4a)$/i,
                sequentialUploads: true,
                limitConcurrentUploads: 1,
                autoUpload: true
                // dropZone: $('#playlist_editor_upload')
            };
            uploader.init();
        });

    </script>
{% endaddtoblock %}

<div class="info">
    <p>{% trans "... or upload new music." %}<br>
    {% trans "Either use the button below - or just drag'n'drop the files into the browser window." %}</p>
</div>

<script id="template-upload" type="text/x-tmpl">
{% verbatim %}
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td class="progress-holder">
                <div class="progress progress-success active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-mini btn-primary icon">
                    <i class="icon-upload"></i>&nbsp;
                    <span>{%=locale.fileupload.start%}</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-mini btn-abort icon">
                <i class="icon-ban-circle"></i>&nbsp;
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
{% endverbatim %}
</script>

<script id="template-download" type="text/x-tmpl">
{% verbatim %}
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade" style="display: none;">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
        {% } %}
        <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                <i class="icon-trash icon-white"></i>
                <span>{%=locale.fileupload.destroy%}</span>
            </button>
            <input type="checkbox" name="delete" value="1">
        </td>
    </tr>
{% } %}
{% endverbatim %}
</script>


<div id="playlist_editor_upload" class="upload hoverable">
    <div class="uploader">

        <form id="fileupload"
              action="{% url "api_dispatch_list" api_name="v1" resource_name="importfile" %}?import_session__uuid_key={{ object.uuid }}"
              method="POST"
              enctype="multipart/form-data">

            <input type="hidden"
                   id="import_api_url"
                   value="{% url "api_dispatch_list" resource_name='import' api_name='v1' %}{{ object.id }}"/>

            <div class="fileupload-buttonbar">

	                <span class="btn btn-success fileinput-button">
	                    <i class="icon-plus icon-white"></i>
	                    <span> Add Files</span>
	                    <input type="file" name="files[]" multiple>
	                </span>
            </div>

            <table role="presentation" class="table">
                <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
            </table>
        </form>
    </div>


</div>


