@charset "UTF-8"

%filter

  border-bottom: 1px solid $separator-line-color
  transition: background 0.2s

  &.expanded
    background: $white
    transition: none

    .filter-header-icon
      .uc-icon
        transform: rotate(90deg)
        transform-origin: center center
        transition: none

    .filter-options
      height: auto
      padding-top: 2px
      padding-bottom: 4px

  &.has-selection
    background: $primary-color-a-bg-light

  .filter-header
    display: flex
    padding: 2px 4px
    cursor: pointer

    .filter-header-icon
      width: 18px

      .uc-icon
        display: block
        width: 18px
        height: 18px
        font-size: 11px
        line-height: 18px
        text-align: center
        opacity: 0.5

    .filter-header-title
      flex-grow: 1

    .filter-header-count
      opacity: 0.5

  .filter-options
    padding: 0 2px 0 22px
    height: 0
    overflow: hidden
    transition: height 0.2s

    .selected,
    .selected > a
      color: $primary-color-a


.sidebar .filter
  @extend %filter
