{% extends "base/generic.html" %}

{% load i18n sekizai_tags verbatim dajaxice_templatetags straight_include mustache %}

{% block object_type %}import{% endblock %}

{% block list_inner %}




{# backbone requirements #}
{% addtoblock "js-head" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/backbone/underscore-min.js"></script>{% endaddtoblock %}
{% addtoblock "js-head" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/backbone/backbone-min.js"></script>{% endaddtoblock %}
{% addtoblock "js-head" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/backbone/backbone-tastypie.js"></script>{% endaddtoblock %}
{% addtoblock "js-head" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/backbone/backbone.poller.js"></script>{% endaddtoblock %}
{% addtoblock "js-head" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/backbone/ICanHaz.min.js"></script>{% endaddtoblock %}


{% addtoblock "js-head" %}
<script type="text/javascript">
	IMPORTFILE_API = "{% url api_dispatch_list api_name="v1" resource_name="importfile" %}?import_session={{ object.pk }}";
	{% if data %}
	app = {loaded: true};
	{% endif %}
</script>
{% endaddtoblock %}



<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}importer/js/lib/fileupload/vendor/jquery.ui.widget.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}importer/js/lib/fileupload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}importer/js/lib/fileupload/jquery.fileupload.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}importer/js/lib/fileupload/jquery.fileupload-fp.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}importer/js/lib/fileupload/jquery.fileupload-ui.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}importer/js/lib/fileupload/locale.js"></script>


<!--
<script type="text/javascript" src="{{ STATIC_URL }}importer/js/lib/fileupload/main.js"></script>
-->
<script src="http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->



{% addtoblock "js-post" %}{% dajaxice_js_import %}{% endaddtoblock %}
{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}dajax/jquery.dajax.core.js"></script>{% endaddtoblock %}

{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}importer/js/base.js"></script>{% endaddtoblock %}



{% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}css/lib/multiuploader/jquery.fileupload-ui.css">{% endaddtoblock %}

{% addtoblock "js-post" %}
    <script type="text/html" id="tweetTemplate">
      {% straight_include "importer/tweetTemplate.mustache" %}
    </script>

    <script type="text/html" id="listApp">
      {% straight_include "importer/listApp.mustache" %}
    </script>

    <script type="text/html" id="detailApp">
      {% straight_include "importer/detailApp.mustache" %}
    </script>
{% endaddtoblock %}

{% addtoblock "js-post" %}
<script type="text/javascript">
$(document).ready(function() {

    // Initialize the jQuery File Upload widget:
    fu = $('#fileupload').fileupload();

    // Enable iframe cross-domain access via redirect option:
    $('#fileupload').fileupload(
        'option',
        'redirect',
        window.location.href.replace(
            /\/[^\/]*$/,
            '/cors/result.html?%s'
        )
    );
});
</script>
{% endaddtoblock %}

<section>

	<div class="page-header">
   <div id="sidebar">
    </div>
		<!--
		<h1>{% url api_dispatch_list resource_name='import' api_name='v1'%}{{ object.id }}/</h1>
		-->

		<h2>{% trans "Upload" %} <small>{% trans "Add/Upload Files to the Import Queue" %}</small></h2>
	</div>
	<div>
		<p>{% trans "Either use the 'Add Files' button - or Drag and Drop the desired fils into the browser window." %}</p>
	</div>

	<div class="uploader">

		<form id="fileupload" action="/api/v1/importfile/?format=json&import_session=27" method="POST" enctype="multipart/form-data">
		<!--
		<form id="fileupload" action="{% url importer-upload-multi object.id %}" method="POST" enctype="multipart/form-data">
		-->



	        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->

	        <input type="hidden" id="import_api_url"  value="{% url api_dispatch_list resource_name='import' api_name='v1'%}{{ object.id }}" />

	        <div class="fileupload-buttonbar">

	                <!-- The fileinput-button span is used to style the file input field as button -->
	                <span class="btn btn-success fileinput-button">
	                    <i class="icon-plus icon-white"></i>
	                    <span> Add Files</span>
	                    <input type="file" name="files[]" multiple>
	                </span>&nbsp;&nbsp;
	                <button type="submit" class="btn btn-primary start">
	                    <i class="icon-upload icon-white"></i>
	                    <span> Start upload</span>
	                </button>&nbsp;&nbsp;
	                <button type="reset" class="btn btn-warning cancel">
	                    <i class="icon-ban-circle icon-white"></i>
	                    <span> Cancel upload</span>
	                </button>
	                <!--
	                <button type="button" class="btn btn-danger delete">
	                    <i class="icon-trash icon-white"></i>
	                    <span> Delete</span>
	                </button>
	                <input type="checkbox" class="toggle">
					-->
	            <!-- The global progress information
	            <div class="span5 fileupload-progress fade">
	                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
	                    <div class="bar" style="width:0%;"></div>
	                </div>
	                <div class="progress-extended">&nbsp;</div>
	            </div> -->
	        </div>
	        <!-- The loading indicator is shown during file processing -->
	        <div class="fileupload-loading"></div>
	        <br>
	        <!-- The table listing the files available for upload/download -->
	        <table role="presentation" class="table table-striped table-condensed"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>


	  		<table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>


	    </form>
    </div>

</section>

<section class="importer-importfiles">

	<div class="page-header">
		<h2>Review <small>your uploads and confirm additions</small></h2>
	</div>

	<div class="listing">
		<div id="result_holder"></div>
    </div>

</section>




{% verbatim %}



<!-- backbone.js shizzle -->
<script type="text/x-tmpl" id="tpl-importfile-list-item">{%=o.id%}</script>
<script type="text/x-tmpl" id="tpl-importfile-details"></script>


<!-- -->


<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
        {% } %}
        <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                <i class="icon-trash icon-white"></i>
                <span>{%=locale.fileupload.destroy%}</span>
            </button>
            <input type="checkbox" name="delete" value="1">
        </td>
    </tr>
{% } %}
</script>


<script type="text/x-tmpl" id="tmpl-demo">

<div id="importfile_result_{%=o.id%}" class="importfile item">
	<h3><i class="icon-barcode"></i> {%=o.filename%}  <small>[{%=o.mimetype%}]</small></h3>










	<div class="row-fluid result-set provider-tag">

		<div class="span1">
			ID3 /
			Vorbis
		</div>


		<div class="span4">

			<label class="checkbox holder-media_name">
				<input type="checkbox">
					<ul class="horizontal unstyled">
						<li class="key">Title</li>
						<li class="value"></li>
					</ul>
			</label>
			<div class="clearfix"></div>


			<label class="checkbox holder-label_name">
				<input type="checkbox">
					<ul class="horizontal unstyled">
						<li class="key">Label</li>
						<li class="value"></li>
					</ul>
			</label>

		</div>

		<div class="span4">

			<label class="checkbox holder-artist_name">
				<input type="checkbox">
					<ul class="horizontal unstyled">
						<li class="key">Artist</li>
						<li class="value"></li>
					</ul>
			</label>
			<div class="clearfix"></div>


			<label class="checkbox holder-release_catalognumber">
				<input type="checkbox">
					<ul class="horizontal unstyled">
						<li class="key">CatNo</li>
						<li class="value"></li>
					</ul>
			</label>

		</div>

		<div class="span3">

			<label class="checkbox holder-media_tracknumber">
				<input type="checkbox">
					<ul class="horizontal unstyled">
						<li class="key">TrackNo</li>
						<li class="value"></li>
					</ul>
			</label>
			<div class="clearfix"></div>


			<label class="checkbox holder-release_date">
				<input type="checkbox">
					<ul class="horizontal unstyled">
						<li class="key">Date</li>
						<li class="value"></li>
					</ul>
			</label>

		</div>

	</div>

















	<div class="row-fluid pull-righ result-actions">

			<div class="btn-group pull-right">
				<button class="btn btn-mini btn-prrimary">
					Actions
				</button>
				<button class="btn btn-mini  btn-prrimary dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a href="}">Detail</a>
					</li>
					<li>
						<a href="#">Another action</a>
					</li>
					<li>
						<a href="#">Something else here</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">Separated link</a>
					</li>
				</ul>
			</div>
	</div>



</div>

</script>




















{% endverbatim %}

{% endblock %}
