{% extends "base/listing.html" %}

{% load i18n sekizai_tags cms_tags humanize %}

{% block object_type %}import{% endblock %}

{% block searchbar %}{% endblock %}

{% block heading %}

    <div id="heading">
        {% include "skeleton/heading.html" %}
    </div>

{% endblock %}

{% block pagination %}{% endblock %}
{% block ipp %}{% endblock %}


{% block pre_list %}
<section>
    <div class="heading">
        {% static_placeholder 'importer_introduction' %}
    </div>
	<div>
        <div class="btn-group">
            <a class="btn btn-primary btn pull-right" href="{% url "importer-import-create" %}">
                <i class="icon-cloud-upload icon-white"></i>
                <span> {% trans "Upload Music" %}</span>
            </a>
	    </div>
	</div>
</section>
{% endblock %}

{% block list_inner %}

    <div class="list-header">
        <div class="pagination-holder">
            {% include "element/_pagination.html" %}
        </div>
    </div>

    {% if object_list %}

        <table class="table items table-condensed">

            <tbody>

                {% for object in object_list %}

                {% ifchanged %}
                <tr class="day-separator">
                    <td colspan="3">{{ object.created|date:'F Y' }}</td>
                </tr>
                {% endifchanged %}

                <tr class="item {{ object.get_status_display|lower }}">

                    <td>

                        {% with stats=object.get_stats %}

                        <ul class="unstyled horizontal stats">

                            <li class="completed">
                                <a href="{{ object.get_absolute_url }}">
                                <span>{% trans "Imported" %}:
                                    {% if object.files.count > 0 %}
                                        <span class="{% if stats.done.count == object.files.count%}done{% endif %}">{{ stats.done.count }} of {{ object.files.count }}</span>
                                    {% else %}
                                        <span>{{ object.files.count }}</span>
                                    {% endif %}
                                </span>
                                </a>
                            </li>

                            {% if stats.queued.count > 0 %}
                            <li class="queued">
                                <span>{% trans 'queued' %}: {{ stats.queued.count }}</span>
                            </li>
                            {% endif %}

                            {% if stats.duplicate.count > 0 %}
                            <li class="duplicates">
                                <span>{% trans 'duplicates' %}: {{ stats.duplicate.count }}</span>
                            </li>
                            {% endif %}

                            {% if stats.warning.count > 0 %}
                            <li class="warnings">
                                <span>{% trans 'warnings' %}: {{ stats.warning.count }}</span>
                            </li>
                            {% endif %}

                            {% if stats.error.count > 0 %}
                            <li class="errors">
                                <span>{% trans 'errors' %}: {{ stats.error.count }}</span>
                            </li>
                            {% endif %}



                        </ul>

                        {% endwith %}

                        <p>
                            <span>{% trans 'Created items' %}:</span>

                            {% for key, ct in object.get_importitems.items %}


                                {% if object.type == 'web' %}
                                    <a href="{{ ct.url }}?import={{ object.pk }}" title="{% for item in ct.items|dictsort:"name" %}{{ item.name }}{% if not forloop.last %}&#10;{% endif %}{% endfor %}">{{ ct.name }} <span>{{ ct.items|length }}</span></a>
                                {% else %}
                                    <a href="{{ ct.url }}?import={{ object.pk }}">{{ ct.name }} <span>{{ ct.items|length }}</span></a>
                                {% endif %}


                                {% if not forloop.last %}<span>&mdash;</span>{% endif %}

                            {% empty %}
                                <span>({% trans 'no items created so far' %})</span>
                            {% endfor %}
                        </p>


                    </td>


                    <td style="width: 340px;">
                        <a href="{{ object.get_absolute_url }}">
                            {{ object.created|date:'DATETIME_FORMAT' }}
                        <!--{% trans 'Added' %} {{ object.created|timesince }} ago-->
                        </a>

                        {% if  object.notes %}
                        <p class="notes">{{ object.notes|truncatechars:128|linebreaksbr }}</p>
                        {% endif %}

                    </td>

                    <td class="">

                        {% comment %}
                        <div class="btn-group pull-right">
                            <button class="btn btn-mini btn-primary" data-toggle="dropdown">
                                {% trans "Actions" %}
                            </button>
                            <button class="btn btn-mini  btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ object.get_absolute_url }}"><i class="icon-edit"></i> {% trans "Details" %}</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-cloud-upload"></i> {% trans "Archive" %}</a>
                                </li>
                                <li>
                                    <a class="transform-post reload" href="{{ object.get_delete_url }}"><i class="icon-trash"></i> {% trans "Delete" %}</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <span>&nbsp;{% trans "Created items"  %}</span>
                                </li>
                                <li>
                                    <a href="{% url "alibrary-release-list" %}?import={{ object.pk }}">{% trans "Releases"  %}</a>
                                </li>
                                <li>
                                    <a href="{% url "alibrary-artist-list" %}?import={{ object.pk }}">{% trans "Artists"  %}</a>
                                </li>
                                <li>
                                    <a href="{% url "alibrary-media-list" %}?import={{ object.pk }}">{% trans "Tracks"  %}</a>
                                </li>
                                <li>
                                    <a href="{% url "alibrary-label-list" %}?import={{ object.pk }}">{% trans "Labels"  %}</a>
                                </li>

                            </ul>

                        </div>
                        {% endcomment %}

                        <p>
                            <small>ID: {{ object.pk }}</small>
                        </p>


                    </td>


                </tr>


                {% endfor %}
            </tbody>
        </table>

        <div>
            <form action="{% url "importer-import-delete-all" %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-mini pull-right icon"><i class="icon-archive"></i> {% trans "Archive all imports" %}</button>
            </form>
        </div>

    {% else %}
        <p></p>
    {% endif %}

{% endblock %}

{% block sidebar %}
{% include "importer/_import_list_sidebar.html" %}
{% endblock %}
