{% load adv_cache thumbnail i18n truncate_tags arating_tags spurl alibrary_tags %}

<div class="list_body_row selectable item label {{ item.uuid }} {% if item.creator == user %} owner{% endif %}"
     id="list_item_{{ item.pk }}"
     data-id="{{ item.id }}"
     data-uuid="{{ item.uuid }}"
     data-ct="label"
     data-resource_uri="{{ item.get_api_url }}">

    <div class="list_body_item c1 image_center_bg">

        {% if item.main_image %}
        <div class="image-container">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{% thumbnail item.main_image 53x53 upscale subject_location=item.main_image.subject_location %}" class="lazyload" />
        </div>
        {% endif %}

    </div>
    <div class="list_body_item c2">
        <ul class="unstyled">
            <li class="bold">
                <a href="{{ item.get_absolute_url }}" title="{{ item.name }}">
                    {{ item.name|truncate_chars_inner:24 }}
                    {% if item.country %}<small> {{ item.country }}</small>{% endif %}
                    {% cache 3600 "topflop_label" item.pk item.updated %}
                    {% topflop_for_object item %}
                    {% endcache %}
                </a>
            </li>

            <li>
                {{ item.get_type_display }}
            </li>

            {% if item.release_label.count > 0 %}
                <li>
                    {% url "alibrary-release-list" as release_list %}
                    {% trans "Releases" %}:&nbsp;<a rel="nofollow" href="{% spurl path=release_list query="label={{ item.slug }}" %}"
                                                    title="{% trans "Only show releases on" %} {{ item.name }}"
                                                    style="vertical-align: top;">{{ item.release_label.count }}<span
                        class="filter icon"></span></a>
                </li>
            {% endif %}
            {% if item.media_artist.count > 0 %}
                <li>
                    {% trans "Tracks" %}:&nbsp;<a href="#"
                                                  style="vertical-align: top;">{{ item.media_artist.count }}<span class="filter icon"></span></a>
                </li>
            {% endif %}

        </ul>
    </div>

	<div class="list_body_item c3 links external">
        <div class="relations">
            {% relations_inline item %}
        </div>
	</div>

    <div class="list_body_item c4">

        <ul class="unstyled">
            <li><span class="label">{% trans 'Created' %}:</span> {{ item.created|date:'SHORT_DATETIME_FORMAT' }}</li>
            {% if item.updated %}
            <li><span class="label">{% trans 'Edited' %}:</span> {{ item.updated|date:'SHORT_DATETIME_FORMAT'}}</li>

                {% if item.last_editor %}
                    <li><span class="label">{% trans 'Last Editor' %}:</span> <a href="{{ item.last_editor.get_absolute_url }}">{{ item.last_editor.profile.get_display_name }}</a></li>
                {% endif %}

            {% endif %}
        </ul>

        {% comment %}
        <ul class="tags unstyled">
            {% for tag in item.tags|slice:":9" %}
                <li class="{% if tag.pk in active_tags %}__active{% endif %}">{{ tag.name|truncate_chars_inner:10 }}</li>
            {% endfor %}
        </ul>
        {% endcomment %}

    </div>

    <div class="list_body_item c5 action">

        <ul class="unstyled action secondary horizontal">

            {% if  perms.alibrary.change_label %}
                <li>
                    <a href="{{ item.get_edit_url }}"
                       class=""
                       title="{% trans "Edit" %}">
                        <i class="icon icon-edit"></i>
                    </a>
                </li>
            {% endif %}

        </ul>

    </div>

</div>

