{% load i18n %}
<html>
  <body>
    <h1>{% trans 'Change password' %}</h1>

    <h2>{% trans 'Password policy' %}</h2>

    {% if password_min_length_text %}
      <p>{{ password_min_length_text }}</p>
    {% endif %}
    {% if password_complexity %}
      <p>{% trans 'Every password must have:' %}</p>
      <ul>
      {% for rule in password_complexity %}
        <li>{{ rule.text }} ({{ rule.chars }});</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% if max_password_age %}
      <p>{% blocktrans %}Passwords must be changed every
        {{ max_password_age }} days.{% endblocktrans %}</p>
    {% endif %}

    <form method="post" action="">
      {% csrf_token %}
      {{ form }}
      <input type="submit">
    </form>
  </body>
</html>
