/* line 1, ../sass/aplayer/_slider.sass */
.noUiSlider {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: block;
  cursor: default;
  position: relative;
  background: #cfcfcf;
  border: 0 solid #cfcfcf;
}
/* line 10, ../sass/aplayer/_slider.sass */
.noUiSlider * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: block;
  cursor: default;
}
/* line 20, ../sass/aplayer/_slider.sass */
.noUiSlider a {
  position: absolute;
  z-index: 1;
}
/* line 23, ../sass/aplayer/_slider.sass */
.noUiSlider a:nth-child(2) {
  background: inherit !important;
}
/* line 25, ../sass/aplayer/_slider.sass */
.noUiSlider.vertical a {
  width: 100%;
  bottom: 0;
}
/* line 28, ../sass/aplayer/_slider.sass */
.noUiSlider.horizontal a {
  height: 100%;
  right: 0;
}
/* line 33, ../sass/aplayer/_slider.sass */
.noUiSlider.disabled {
  background: #cccccc;
  border-color: #cccccc;
}
/* line 34, ../sass/aplayer/_slider.sass */
.noUiSlider.disabled div:before {
  background: #cccccc;
  border-color: #cccccc;
}
/* line 39, ../sass/aplayer/_slider.sass */
.noUiSlider.horizontal {
  border-width: 0 12px;
}
/* line 41, ../sass/aplayer/_slider.sass */
.noUiSlider.vertical {
  border-width: 12px 0;
}
/* line 43, ../sass/aplayer/_slider.sass */
.noUiSlider div {
  height: 44px;
  width: 44px;
  position: relative;
}
/* line 47, ../sass/aplayer/_slider.sass */
.noUiSlider div:before {
  position: absolute;
  background: #00bb00;
  content: "";
}
/* line 51, ../sass/aplayer/_slider.sass */
.noUiSlider.horizontal div:before {
  left: 10px;
  height: 10px;
  width: 24px;
}
/* line 55, ../sass/aplayer/_slider.sass */
.noUiSlider.vertical div:before {
  top: 10px;
  width: 10px;
  height: 24px;
}
/* line 73, ../sass/aplayer/_slider.sass */
.noUiSlider.horizontal {
  width: 200px;
  height: 10px;
}
/* line 76, ../sass/aplayer/_slider.sass */
.noUiSlider.horizontal div {
  margin: 0 0 0 -22px;
}
/* line 78, ../sass/aplayer/_slider.sass */
.noUiSlider.vertical {
  width: 10px;
  height: 200px;
}
/* line 81, ../sass/aplayer/_slider.sass */
.noUiSlider.vertical div {
  margin: -22px 0 0 1px;
}

/* line 16, ../sass/aplayer/_style.sass */
html, body {
  height: 100%;
}
/* line 18, ../sass/aplayer/_style.sass */
html #wrap, body #wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
/* line 24, ../sass/aplayer/_style.sass */
html #push, html footer, body #push, body footer {
  height: 60px;
  background: #eeeeee;
}
/* line 27, ../sass/aplayer/_style.sass */
html #push .container, html footer .container, body #push .container, body footer .container {
  padding: 0 10px;
}
/* line 29, ../sass/aplayer/_style.sass */
html #push .container select, html footer .container select, body #push .container select, body footer .container select {
  width: 260px;
}
/* line 35, ../sass/aplayer/_style.sass */
html .navbar.navbar-fixed-top, body .navbar.navbar-fixed-top {
  background-image: none !important;
}
/* line 41, ../sass/aplayer/_style.sass */
html .navbar.navbar-fixed-top ul.countdown li span, body .navbar.navbar-fixed-top ul.countdown li span {
  color: white;
  padding: 7px 5px 0 0;
}

/* line 50, ../sass/aplayer/_style.sass */
body.popup .container {
  width: 100% !important;
}
/* line 57, ../sass/aplayer/_style.sass */
body.popup .navbar .nav > li > a {
  padding: 1px 5px 0px;
  margin: 6px 5px 6px;
}
/* line 60, ../sass/aplayer/_style.sass */
body.popup .navbar .navbar-inner {
  background-color: #333333;
}
/* line 62, ../sass/aplayer/_style.sass */
body.popup .navbar .active > a {
  background-color: #333333;
  border: 1px solid #a5a5a5;
}
/* line 71, ../sass/aplayer/_style.sass */
body.popup.buffering div.ajax-indicator {
  display: block;
}
/* line 75, ../sass/aplayer/_style.sass */
body.popup.paused .hidden-while-paused {
  display: none;
}
/* line 78, ../sass/aplayer/_style.sass */
body.popup.paused .item.listing.active {
  background-color: #fff00f !important;
  text-decoration: blink;
}
/* line 82, ../sass/aplayer/_style.sass */
body.popup.playing .hidden-while-playing {
  display: none;
}
/* line 85, ../sass/aplayer/_style.sass */
body.popup.playing .item.listing.active {
  background-color: #fff00f !important;
  text-decoration: blink;
}
/* line 90, ../sass/aplayer/_style.sass */
body.popup.buffering .hidden-while-buffering {
  display: none;
}
/* line 95, ../sass/aplayer/_style.sass */
body.popup div.ajax-indicator {
  display: none;
  position: fixed;
  z-index: 9;
  background-color: green;
  top: 173px;
  right: 10px;
  width: 24px;
  height: 24px;
  background-image: url(/static/img/base/ajax-loader.l.invers.gif);
}

/* line 111, ../sass/aplayer/_style.sass */
body.popup section.container {
  width: 100%;
  background: #efefef;
}
/* line 117, ../sass/aplayer/_style.sass */
body.popup .screen .padded-x, body.popup .screen .padded-y {
  padding: 10px;
}
/* line 120, ../sass/aplayer/_style.sass */
body.popup .screen.controls {
  width: 100%;
  position: fixed;
  top: 32px;
  background: whitesmoke;
  border-bottom: 1px solid #dddddd;
}
/* line 131, ../sass/aplayer/_style.sass */
body.popup .screen.controls .information h1 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0px !important;
}
/* line 135, ../sass/aplayer/_style.sass */
body.popup .screen.controls .information h2, body.popup .screen.controls .information h3 {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 0px !important;
}
/* line 140, ../sass/aplayer/_style.sass */
body.popup .screen.controls .information h2 small, body.popup .screen.controls .information span small {
  font-size: 10px;
  padding-left: 14px;
  color: #333333;
}
/* line 146, ../sass/aplayer/_style.sass */
body.popup .screen.controls .image > img {
  height: 120px;
  width: 120px;
}
/* line 150, ../sass/aplayer/_style.sass */
body.popup .screen.controls .aplayer-information {
  height: 80px;
}
/* line 158, ../sass/aplayer/_style.sass */
body.popup .screen.controls .aplayer-controls {
  padding: 2px 0 2px 10px;
  border-top: 1px solid #dddddd;
  height: 18px;
  overflow: hidden;
}
/* line 165, ../sass/aplayer/_style.sass */
body.popup .screen.controls .aplayer-controls ul > li {
  padding: 0 7px 0 0;
}
/* line 169, ../sass/aplayer/_style.sass */
body.popup .screen.controls .aplayer-controls ul > li a {
  font-size: 14px;
  color: #a5a5a5;
}
/* line 172, ../sass/aplayer/_style.sass */
body.popup .screen.controls .aplayer-controls ul > li a:hover {
  color: #00bb00;
  text-decoration: none;
}
/* line 180, ../sass/aplayer/_style.sass */
body.popup .screen.controls .image > img {
  height: 120px;
  width: 120px;
}
/* line 184, ../sass/aplayer/_style.sass */
body.popup .screen.playlist, body.popup .screen.emission {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 562px;
  width: 100%;
  top: 182px;
  position: fixed;
  padding-top: 24px;
}
/* line 196, ../sass/aplayer/_style.sass */
body.popup .screen.playlist .item {
  border-bottom: 1px solid #efefef;
}
/* line 198, ../sass/aplayer/_style.sass */
body.popup .screen.playlist .item:first-child {
  border-top: 1px solid #efefef;
}
/* line 200, ../sass/aplayer/_style.sass */
body.popup .screen.playlist .item .wrapper {
  padding: 2px 10px;
}
/* line 203, ../sass/aplayer/_style.sass */
body.popup .screen.playlist .item .wrapper .icon {
  padding-top: 12px;
}
/* line 205, ../sass/aplayer/_style.sass */
body.popup .screen.playlist .item .wrapper .icon i {
  margin-left: 6px;
  color: #a5a5a5;
}
/* line 210, ../sass/aplayer/_style.sass */
body.popup .screen.playlist .item .wrapper .information h1 {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 0px !important;
}
/* line 214, ../sass/aplayer/_style.sass */
body.popup .screen.playlist .item .wrapper .information h2, body.popup .screen.playlist .item .wrapper .information h3 {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 0px !important;
}
/* line 218, ../sass/aplayer/_style.sass */
body.popup .screen.playlist .item .wrapper .information h2 small, body.popup .screen.playlist .item .wrapper .information h3 small {
  font-size: 10px;
}
/* line 221, ../sass/aplayer/_style.sass */
body.popup .screen.playlist .item .wrapper .duration {
  color: #5a5a5a;
  font-size: 10px;
  padding-top: 0px;
  text-align: right;
}
/* line 229, ../sass/aplayer/_style.sass */
body.popup .screen.playlist .item.hover, body.popup .screen.playlist .item.playing {
  cursor: pointer;
  border-bottom: none;
  background: #ddffd9;
}
/* line 233, ../sass/aplayer/_style.sass */
body.popup .screen.playlist .item.hover .icon > i, body.popup .screen.playlist .item.playing .icon > i {
  color: #00bb00;
}
/* line 235, ../sass/aplayer/_style.sass */
body.popup .screen.playlist .item.hover .indicator, body.popup .screen.playlist .item.playing .indicator {
  display: block;
}
/* line 240, ../sass/aplayer/_style.sass */
body.popup .screen.playlist .item .indicator {
  display: none;
  height: 1px;
  overflow: hidden;
  width: 100%;
}
/* line 246, ../sass/aplayer/_style.sass */
body.popup .screen.playlist .item .indicator .wrapper {
  background: #efefef;
  padding: 0 !important;
}
/* line 249, ../sass/aplayer/_style.sass */
body.popup .screen.playlist .item .indicator .wrapper .inner {
  width: 0%;
  background: #00bb00;
}
/* line 254, ../sass/aplayer/_style.sass */
body.popup .screen.emission {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 259, ../sass/aplayer/_style.sass */
body.popup .screen.emission section.description p {
  color: #5a5a5a;
}
/* line 262, ../sass/aplayer/_style.sass */
body.popup .screen.emission section.description .description {
  border-top: 1px #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
  max-height: 260px;
  overflow: hidden;
}
/* line 270, ../sass/aplayer/_style.sass */
body.popup .screen.emission section.description .markdown-remove * {
  color: #5a5a5a;
  font-size: 12px;
  line-height: 13px;
  margin: 2px 0 !important;
  padding: 2px 0;
}
/* line 277, ../sass/aplayer/_style.sass */
body.popup .screen.emission section.description .markdown-remove h1, body.popup .screen.emission section.description .markdown-remove h2 {
  font-size: 14px;
  line-height: 16px;
}
/* line 281, ../sass/aplayer/_style.sass */
body.popup .screen.emission section.description .object-links {
  padding-top: 4px;
}
/* line 288, ../sass/aplayer/_style.sass */
body.popup .screen.comments {
  display: none;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  top: 380px;
  position: relative;
  padding-top: 24px;
}
/* line 302, ../sass/aplayer/_style.sass */
body.popup #progress_bar {
  margin: 20px 0;
  height: 32px;
}
/* line 309, ../sass/aplayer/_style.sass */
body.popup #progress_bar div.playhead .background {
  background: #00bb00;
}
/* line 312, ../sass/aplayer/_style.sass */
body.popup #progress_bar div.playhead .indicator {
  background-image: url(/static/aplayer/img/playhead.indicator.png);
  background-repeat: repeat-y;
  background-position: 30px 0;
}
/* line 318, ../sass/aplayer/_style.sass */
body.popup #progress_bar div.playhead .handler {
  background-image: none;
}
/* line 321, ../sass/aplayer/_style.sass */
body.popup #progress_bar div.playhead .waveform {
  height: 30px;
}
/* line 325, ../sass/aplayer/_style.sass */
body.popup #progress_bar div.playhead.hover .handler {
  background-image: url(/static/aplayer/img/playhead.handler.png);
  background-repeat: no-repeat;
}
/* line 333, ../sass/aplayer/_style.sass */
body.popup #progress_bar > div.time-current {
  padding: 0 0 0 10px;
}
/* line 336, ../sass/aplayer/_style.sass */
body.popup #progress_bar > div.indicator {
  width: 100%;
  margin: 0 0px;
}
/* line 340, ../sass/aplayer/_style.sass */
body.popup #progress_bar > div.indicator.has-waveform {
  background-size: 100% 100%;
  background-color: #00bb00;
}
/* line 345, ../sass/aplayer/_style.sass */
body.popup #progress_bar > div.indicator .wrapper {
  height: 36px;
  border: 1px solid #efefef;
  overflow: hidden;
}
/* line 351, ../sass/aplayer/_style.sass */
body.popup #progress_bar > div.indicator .wrapper .inner {
  height: 36px;
  width: 0%;
  background: #ddffd9;
  opacity: 0.5;
  border-right: 1px solid #00bb00;
}

/* line 368, ../sass/aplayer/_style.sass */
body .container section.playlist, body .container section.emission {
  display: none;
}

/* line 373, ../sass/aplayer/_style.sass */
body.alibrary .countdown {
  display: none;
}
/* line 378, ../sass/aplayer/_style.sass */
body.alibrary .container .controls .image img {
  max-width: 80px;
}
/* line 381, ../sass/aplayer/_style.sass */
body.alibrary .container section.playlist {
  display: block;
}

/* line 387, ../sass/aplayer/_style.sass */
body.abcast .container section.emission {
  display: block;
}
/* line 391, ../sass/aplayer/_style.sass */
body.abcast .container .controls .image img {
  max-width: 110px;
}
/* line 394, ../sass/aplayer/_style.sass */
body.abcast .indicator.playhead {
  display: none;
}
/* line 396, ../sass/aplayer/_style.sass */
body.abcast .aplayer-controls {
  margin-top: 30px;
}
/* line 398, ../sass/aplayer/_style.sass */
body.abcast .aplayer-controls .next, body.abcast .aplayer-controls .prev {
  display: none;
}

/* line 416, ../sass/aplayer/_style.sass */
body.popup footer .status ul {
  padding-right: 8px;
}
/* line 418, ../sass/aplayer/_style.sass */
body.popup footer .status ul li {
  padding-right: 8px;
}
/* line 420, ../sass/aplayer/_style.sass */
body.popup footer .status ul li span {
  font-size: 11px;
  color: #a5a5a5;
  padding-right: 4px;
}
/* line 424, ../sass/aplayer/_style.sass */
body.popup footer .status ul li small {
  font-size: 11px;
  color: #666666;
  text-transform: uppercase;
}

/* line 433, ../sass/aplayer/_style.sass */
body.popup section.comments.on-site div.header {
  display: none;
  padding: 10px;
}
/* line 436, ../sass/aplayer/_style.sass */
body.popup section.comments.on-site div.header h3 {
  font-size: 14px;
}
/* line 439, ../sass/aplayer/_style.sass */
body.popup section.comments.on-site div.form {
  padding: 10px 10px 0;
  border-top: 1px solid #dddddd;
}
/* line 443, ../sass/aplayer/_style.sass */
body.popup section.comments.on-site div.listing.comment {
  overflow-y: scroll;
  height: 200px;
}
/* line 446, ../sass/aplayer/_style.sass */
body.popup section.comments.on-site div.listing.comment .item {
  border: none !important;
  padding: 6px 0 2px 0 !important;
}
/* line 450, ../sass/aplayer/_style.sass */
body.popup section.comments.on-site div.listing.comment .item:nth-child(odd) {
  background: #fafafa;
}
/* line 453, ../sass/aplayer/_style.sass */
body.popup section.comments.on-site div.listing.comment .item .col-left {
  max-width: 400px;
}
/* line 455, ../sass/aplayer/_style.sass */
body.popup section.comments.on-site div.listing.comment .item .col-left .comment-text > p {
  padding-left: 10px;
}
/* line 458, ../sass/aplayer/_style.sass */
body.popup section.comments.on-site div.listing.comment .item .col-right {
  clear: both;
  float: none;
}
/* line 461, ../sass/aplayer/_style.sass */
body.popup section.comments.on-site div.listing.comment .item .col-right ul {
  margin: 0 0 0 0;
  padding: 4px 0 2px 10px;
}
/* line 464, ../sass/aplayer/_style.sass */
body.popup section.comments.on-site div.listing.comment .item .col-right ul li {
  float: left;
  padding-right: 10px;
}

/* line 10, ../sass/aplayer.sass */
.row-fluid > .span8 {
  width: 65% !important;
}

/* line 12, ../sass/aplayer.sass */
.row-fluid > .span9 {
  width: 74% !important;
}

/* line 16, ../sass/aplayer.sass */
.footer {
  overflow: hidden;
  height: 25px;
}
