.noUiSlider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: block;
  cursor: default;
  position: relative;
  background: #cfcfcf;
  border: 0 solid #cfcfcf; }
  .noUiSlider * {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: block;
    cursor: default; }
  .noUiSlider a {
    position: absolute;
    z-index: 1; }
    .noUiSlider a:nth-child(2) {
      background: inherit !important; }
  .noUiSlider.vertical a {
    width: 100%;
    bottom: 0; }
  .noUiSlider.horizontal a {
    height: 100%;
    right: 0; }
  .noUiSlider.disabled {
    background: #ccc;
    border-color: #ccc; }
    .noUiSlider.disabled div:before {
      background: #ccc;
      border-color: #ccc; }
  .noUiSlider.horizontal {
    border-width: 0 12px; }
  .noUiSlider.vertical {
    border-width: 12px 0; }
  .noUiSlider div {
    height: 44px;
    width: 44px;
    position: relative; }
    .noUiSlider div:before {
      position: absolute;
      background: #00bb73;
      content: ""; }
  .noUiSlider.horizontal div:before {
    left: 10px;
    height: 10px;
    width: 24px; }
  .noUiSlider.vertical div:before {
    top: 10px;
    width: 10px;
    height: 24px; }
  .noUiSlider.horizontal {
    width: 200px;
    height: 10px; }
    .noUiSlider.horizontal div {
      margin: 0 0 0 -22px; }
  .noUiSlider.vertical {
    width: 10px;
    height: 200px; }
    .noUiSlider.vertical div {
      margin: -22px 0 0 1px; }

html, body {
  height: 100%; }
  html .row-fluid > .span8, body .row-fluid > .span8 {
    width: 65% !important; }
  html .row-fluid > .span9, body .row-fluid > .span9 {
    width: 74% !important; }
  html #wrap, body #wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 60px; }
  html #push, html footer, body #push, body footer {
    height: 60px;
    background: #eeeeee; }
    html #push .container, html footer .container, body #push .container, body footer .container {
      padding: 0 10px; }
      html #push .container select, html footer .container select, body #push .container select, body footer .container select {
        width: 260px; }
  html .navbar.navbar-fixed-top, body .navbar.navbar-fixed-top {
    background-image: none !important; }
    html .navbar.navbar-fixed-top ul.countdown li span, body .navbar.navbar-fixed-top ul.countdown li span {
      color: white;
      padding: 7px 5px 0 0; }

body.popup .container {
  width: 100% !important; }

body.popup .navbar {
  display: none; }

body.popup .navbar .nav {
  background-color: #6633CC; }
  body.popup .navbar .nav > li > a {
    display: none !important;
    padding: 1px 5px 0px;
    margin: 6px 5px 6px; }

body.popup .navbar .active > a {
  background-color: #333; }

body.popup.buffering div.ajax-indicator {
  display: block; }

body.popup.paused .hidden-while-paused {
  display: none; }

body.popup.paused .item.listing.active {
  background-color: #fff00f !important;
  text-decoration: blink; }

body.popup.playing .hidden-while-playing {
  display: none; }

body.popup.playing .item.listing.active {
  background-color: #fff00f !important;
  text-decoration: blink; }

body.popup.buffering .hidden-while-buffering {
  display: none; }

body.popup div.ajax-indicator {
  display: none;
  position: fixed;
  z-index: 9;
  background-color: green;
  top: 173px;
  right: 10px;
  width: 24px;
  height: 24px;
  background-image: url(/static/img/base/ajax-loader.l.invers.gif); }

body.popup {
  background: #f5f5f5; }
  body.popup section.container {
    width: 100%;
    background: #fff; }
  body.popup .screen .padded-x, body.popup .screen .padded-y {
    padding: 10px; }
  body.popup .screen.controls {
    width: 100%;
    position: fixed;
    top: 0px;
    background: #fff; }
    body.popup .screen.controls .information h1 {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 0px !important; }
    body.popup .screen.controls .information h2, body.popup .screen.controls .information h3 {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 0px !important; }
    body.popup .screen.controls .information h2 small, body.popup .screen.controls .information span small {
      font-size: 10px;
      padding-left: 14px;
      color: #333; }
    body.popup .screen.controls .image > img {
      height: 120px;
      width: 120px; }
    body.popup .screen.controls .aplayer-information {
      height: 80px; }
    body.popup .screen.controls .aplayer-controls {
      padding: 6px 0 2px 10px;
      height: 36px;
      overflow: hidden;
      border-bottom: 1px solid #ccc;
      background: #fff; }
      body.popup .screen.controls .aplayer-controls > p {
        margin: 0;
        padding-top: 6px;
        text-align: center; }
        body.popup .screen.controls .aplayer-controls > p i {
          font-size: 22px; }
      body.popup .screen.controls .aplayer-controls ul > li,
      body.popup .screen.controls .aplayer-controls span {
        padding: 0 7px 0 0; }
        body.popup .screen.controls .aplayer-controls ul > li a,
        body.popup .screen.controls .aplayer-controls span a {
          font-size: 14px;
          color: #a5a5a5; }
          body.popup .screen.controls .aplayer-controls ul > li a:hover,
          body.popup .screen.controls .aplayer-controls span a:hover {
            color: #00bb73;
            text-decoration: none; }
  body.popup .screen.controls .image > img {
    height: 120px;
    width: 120px; }
  body.popup .screen.playlist, body.popup .screen.emission {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 542px;
    width: 100%;
    top: 164px;
    position: fixed;
    padding-top: 24px; }
  body.popup .screen.playlist .item {
    background: #fff;
    border-bottom: 2px solid #f5f5f5; }
    body.popup .screen.playlist .item .wrapper {
      padding: 2px 10px; }
      body.popup .screen.playlist .item .wrapper .icon {
        padding-top: 7px; }
        body.popup .screen.playlist .item .wrapper .icon i {
          margin-left: 6px;
          color: #a5a5a5; }
      body.popup .screen.playlist .item .wrapper .information h1 {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 0px !important; }
      body.popup .screen.playlist .item .wrapper .information h2, body.popup .screen.playlist .item .wrapper .information h3 {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 0px !important; }
        body.popup .screen.playlist .item .wrapper .information h2 small, body.popup .screen.playlist .item .wrapper .information h3 small {
          font-size: 10px; }
      body.popup .screen.playlist .item .wrapper .duration {
        color: #5a5a5a;
        font-size: 10px;
        padding-top: 0px;
        text-align: right; }
    body.popup .screen.playlist .item.hover, body.popup .screen.playlist .item.playing {
      cursor: pointer;
      background: #BCF5E0; }
      body.popup .screen.playlist .item.hover .icon > i, body.popup .screen.playlist .item.playing .icon > i {
        color: #00bb73; }
      body.popup .screen.playlist .item.hover .indicator, body.popup .screen.playlist .item.playing .indicator {
        display: block; }
    body.popup .screen.playlist .item.hover:not(.playing) {
      border-bottom: none; }
    body.popup .screen.playlist .item .indicator {
      display: none;
      height: 2px;
      overflow: hidden;
      width: 100%; }
      body.popup .screen.playlist .item .indicator .wrapper {
        background: #efefef;
        padding: 0 !important; }
        body.popup .screen.playlist .item .indicator .wrapper .inner {
          width: 0%;
          background: #00bb73; }
  body.popup .screen.emission {
    padding-left: 10px;
    padding-right: 10px; }
    body.popup .screen.emission section.description p {
      color: #5a5a5a; }
    body.popup .screen.emission section.description .description {
      max-height: 260px;
      overflow: hidden; }
    body.popup .screen.emission section.description .markdown-remove * {
      color: #5a5a5a;
      font-size: 12px;
      line-height: 13px;
      margin: 2px 0 !important;
      padding: 2px 0; }
    body.popup .screen.emission section.description .markdown-remove h1, body.popup .screen.emission section.description .markdown-remove h2 {
      font-size: 14px;
      line-height: 16px; }
    body.popup .screen.emission section.description .object-links {
      padding-top: 4px; }
  body.popup .screen.comments {
    display: none;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    top: 380px;
    position: relative;
    padding-top: 24px; }
  body.popup #progress_bar {
    margin: 20px 0;
    height: 32px; }
    body.popup #progress_bar div.playhead .background {
      background: #00bb73; }
    body.popup #progress_bar div.playhead .indicator {
      background-image: url(/static/aplayer/img/playhead.indicator.png);
      background-repeat: repeat-y;
      background-position: 30px 0; }
    body.popup #progress_bar div.playhead .handler {
      background-image: none; }
    body.popup #progress_bar div.playhead .waveform {
      height: 30px; }
    body.popup #progress_bar div.playhead.hover .handler {
      background-image: url(/static/aplayer/img/playhead.handler.png);
      background-repeat: no-repeat; }
    body.popup #progress_bar > div.time-current {
      padding: 0 0 0 10px; }
    body.popup #progress_bar > div.indicator {
      width: 100%;
      margin: 0 0px; }
      body.popup #progress_bar > div.indicator.has-waveform {
        background-size: 100% 100%;
        background-color: #00bb73; }
      body.popup #progress_bar > div.indicator .wrapper {
        height: 36px;
        border: 1px solid #efefef;
        overflow: hidden; }
        body.popup #progress_bar > div.indicator .wrapper .inner {
          height: 36px;
          width: 0%;
          background: #BCF5E0;
          opacity: 0.5; }

body .container section.playlist, body .container section.emission {
  display: none; }

body.alibrary .countdown {
  display: none; }

body.alibrary .container .controls .image img {
  max-width: 80px; }

body.alibrary .container section.playlist {
  display: block; }

body.abcast .container section.emission {
  display: block; }

body.abcast .container .controls .image img {
  max-width: 110px; }

body.abcast .indicator.playhead {
  display: none; }

body.abcast .aplayer-controls {
  margin-top: 30px; }
  body.abcast .aplayer-controls .next, body.abcast .aplayer-controls .prev {
    display: none; }

body.popup footer {
  overflow: hidden;
  height: 25px; }
  body.popup footer .status ul {
    padding-right: 8px; }
    body.popup footer .status ul li {
      padding-right: 8px; }
      body.popup footer .status ul li span {
        font-size: 11px;
        color: #a5a5a5;
        padding-right: 4px; }
      body.popup footer .status ul li small {
        font-size: 11px;
        color: #666;
        text-transform: uppercase; }

body.popup section.comments.on-site div.header {
  display: none;
  padding: 10px; }
  body.popup section.comments.on-site div.header h3 {
    font-size: 14px; }

body.popup section.comments.on-site div.form {
  padding: 10px 10px 0;
  border-top: 1px solid #dddddd; }

body.popup section.comments.on-site div.listing.comment {
  overflow-y: scroll;
  height: 200px; }
  body.popup section.comments.on-site div.listing.comment .item {
    border: none !important;
    padding: 6px 0 2px 0 !important; }
    body.popup section.comments.on-site div.listing.comment .item:nth-child(odd) {
      background: #fafafa; }
    body.popup section.comments.on-site div.listing.comment .item .col-left {
      max-width: 400px; }
      body.popup section.comments.on-site div.listing.comment .item .col-left .comment-text > p {
        padding-left: 10px; }
    body.popup section.comments.on-site div.listing.comment .item .col-right {
      clear: both;
      float: none; }
      body.popup section.comments.on-site div.listing.comment .item .col-right ul {
        margin: 0 0 0 0;
        padding: 4px 0 2px 10px; }
        body.popup section.comments.on-site div.listing.comment .item .col-right ul li {
          float: left;
          padding-right: 10px; }
