/*
Syntax error: Undefined variable: "$main-b".
        on line 58 of /Users/ohrstrom/Documents/Code/upgrade.openbroadcast.org/website/site-static/sass/_pplayer.style.sass
        from line 10 of /Users/ohrstrom/Documents/Code/upgrade.openbroadcast.org/website/site-static/sass/pplayer.master.sass

Backtrace:
/Users/ohrstrom/Documents/Code/upgrade.openbroadcast.org/website/site-static/sass/_pplayer.style.sass:58
/Users/ohrstrom/Documents/Code/upgrade.openbroadcast.org/website/site-static/sass/pplayer.master.sass:10
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/script/variable.rb:49:in `_perform'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/script/node.rb:40:in `perform'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/compass-0.12.7/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/compass-0.12.7/lib/compass/compiler.rb:126:in `timed'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/compass-0.12.7/lib/compass/compiler.rb:138:in `block in compile'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/compass-0.12.7/lib/compass/logger.rb:45:in `red'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/compass-0.12.7/lib/compass/compiler.rb:137:in `compile'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/compass-0.12.7/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/compass-0.12.7/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/compass-0.12.7/lib/compass/compiler.rb:101:in `each'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/compass-0.12.7/lib/compass/compiler.rb:101:in `block in run'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/compass-0.12.7/lib/compass/compiler.rb:126:in `timed'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/compass-0.12.7/lib/compass/compiler.rb:100:in `run'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/compass-0.12.7/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/compass-0.12.7/lib/compass/commands/watch_project.rb:68:in `perform'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/compass-0.12.7/lib/compass/commands/base.rb:18:in `execute'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/compass-0.12.7/lib/compass/commands/project_base.rb:19:in `execute'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/compass-0.12.7/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/compass-0.12.7/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/compass-0.12.7/bin/compass:30:in `block in <top (required)>'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/compass-0.12.7/bin/compass:44:in `call'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/gems/compass-0.12.7/bin/compass:44:in `<top (required)>'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/bin/compass:23:in `load'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/bin/compass:23:in `<main>'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/bin/ruby_executable_hooks:15:in `eval'
/Users/ohrstrom/.rvm/gems/ruby-2.2.1@compass-0.12.7/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$main-b\".\A         on line 58 of /Users/ohrstrom/Documents/Code/upgrade.openbroadcast.org/website/site-static/sass/_pplayer.style.sass\A         from line 10 of /Users/ohrstrom/Documents/Code/upgrade.openbroadcast.org/website/site-static/sass/pplayer.master.sass"; }
