/* line 1, ../sass/print.sass */
body {
  margin: 30px;
  padding: 0;
}
/* line 6, ../sass/print.sass */
body .backfeed {
  display: none;
}
/* line 9, ../sass/print.sass */
body .container.main {
  margin: 0;
  padding: 0;
}
/* line 13, ../sass/print.sass */
body .navbar {
  display: none;
}
/* line 18, ../sass/print.sass */
body .span3.sidebar {
  display: none;
}
/* line 21, ../sass/print.sass */
body section > .span9 {
  width: 100%;
}
/* line 26, ../sass/print.sass */
body #heading .pull-right {
  float: left;
}
/* line 29, ../sass/print.sass */
body * {
  color: black !important;
}
