{% load truncate_tags i18n thumbnail calc_tags arating_tags spacify_tags gravatar object_action_tags tagging_extra_tags %}

<div class="header__primary">

  <div class="title title--primary">
    <h2>{{ object.name|truncate_chars_inner:40 }}</h2>
    <small>
      {{ object.get_type_display }}
      {% comment %}
        {% if object.type == 'broadcast' %}
          ({{ object.get_status_display }})
        {% endif %}
      {% endcomment %}
    </small>
  </div>

  {% if object.series %}
  <div class="title title--secondary">
    <h3>
      {{ object.series }}
      {% if object.series_number %}
      #{{ object.series_number }}
      {% endif %}
    </h3>
  </div>
  {% endif %}

  <div class="meta">
    {% if object.user and object.user.profile %}
      <div class="meta__item">
        <div>
          {% trans "Author" %}:
        </div>
        <div>
          <a href="{{ object.user.get_absolute_url }}">{{ object.user.profile.get_display_name }}</a>
        </div>
      </div>
    {% endif %}
  </div>

  <div class="meta">
    {% if object.duration or object.target_duration %}
      <div class="meta__item">
        <div>
          {% trans "Duration" %}:
        </div>
        <div>
          {% if object.duration %}
          <span>{{ object.duration|msec_to_time }}</span>
          {% endif %}
          {% if object.duration and object.target_duration %}
          <br>
          {% endif %}
          {% if object.target_duration %}
          <span>{{ object.target_duration|sec_to_time }} (target)</span>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>

  <div class="meta">
    <div class="meta__item">
      <div>
        {% trans "Created" %}:
      </div>
      <div class="meta__item__grid">
        <time>
          {% firstof object.last_creation_time|date:'DATETIME_FORMAT' object.created|date:'DATETIME_FORMAT' %}
        </time>
        {% if object.creator %}
        <div>
          <a href="{{ object.creator.get_absolute_url }}">{{ object.creator.profile.get_display_name }}</a>
        </div>
        {% endif %}
      </div>
    </div>

    <div class="meta__item">
      <div>
        {% trans "Updated" %}:
      </div>
      <div class="meta__item__grid">
        <time>
          {% firstof object.last_update_time|date:'DATETIME_FORMAT' object.updated|date:'DATETIME_FORMAT' %}
        </time>
        {% if object.last_editor %}
        <div>
          <a href="{{ object.last_editor.get_absolute_url }}">{{ object.last_editor.profile.get_display_name }}</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="meta">
    {% if object.dayparts.exists %}
      <div class="meta__item">
        <div>
          {% trans "Dayparts" %}:
        </div>
        <div>
          {% load alibrary_tags %}
          <div class="daypart-grid">
            {% dayparts_grid object %}
          </div>
        </div>
      </div>
    {% endif %}
    {% if object.rotation %}
      <div class="meta__item">
        <div>
          {% trans "Rotation" %}:
        </div>
        <div>
          {% if object.rotation_date_start and object.rotation_date_end %}
            {{ object.rotation_date_start|date:"DATE_FORMAT" }}
            -
            {{ object.rotation_date_end|date:"DATE_FORMAT" }}
          {% elif object.rotation_date_start %}
            {% trans 'from' %}
            {{ object.rotation_date_start|date:"DATE_FORMAT" }}
          {% elif object.rotation_date_end %}
            {% trans 'until' %}
            {{ object.rotation_date_end|date:"DATE_FORMAT" }}
          {% else %}
            {% trans 'Yes' %}
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
</div>

<div class="header__secondary">
  <div class="visual">
    <visual-with-actions
      ct="{{ object.get_ct }}"
      uuid="{{ object.uuid }}"
      url="{% url 'api:release-detail' object.uuid %}"
      image-url="{% thumbnail object.main_image 280x280 crop upscale %}"
      large-image-url="{% thumbnail object.main_image 1200x1200 crop upscale %}"
      :actions="{% get_object_actions_as_json object user %}">
    </visual-with-actions>
  </div>
</div>

<div class="header__primary">
  {% comment %}
  <div class="tags">
    {% for tag in object.tags %}
      <span class="tag tag--{{ tag.type }}" title="{{ tag.type }}">{{ tag.name|spacify }} ({{ tag.type }})</span>
    {% endfor %}
  </div>
  {% endcomment %}
  <tag-list :tags="{{ object.tags|tags_as_json }}"></tag-list>
</div>

<div class="header__secondary">
  <div class="rating">
    <object-rating
        obj-uuid="{{ object.uuid }}"
        obj-ct="{{ object.get_ct }}"></object-rating>
  </div>
</div>
