
<li class="tlypageguide_left" data-tourtarget="#tagcloud_inline_toggle">
    <div>
        Here is the first item description. The number will appear to the left of the element.
    </div>
</li>

<li class="tlypageguide_bottom" data-tourtarget="#aplayer_inline">
    <div>
        Here is the second item description. The number will appear to the right of the element.
    </div>
</li>

<li class="tlypageguide_bottom" data-tourtarget=".filter_context">
    <div>
        Here is the third item description. The number will appear above the element.
    </div>
</li>

<li class="tlypageguide_top" data-tourtarget=".action-group">
    <div>
        Here is the fourth item description. The number will appear below the element.
    </div>
</li>

<li class="tlypageguide_left" data-tourtarget="#modnav">
    <div>
        Here is the fourth item description. The number will appear below the element.
    </div>
</li>

<li class="tlypageguide_bottom" data-tourtarget=".list_style">
    <div>
        <p>asd aksjdhl ajshd lakjhsd lkajhsdhalkdsha ls<br>asdkljalksdj</p>
    </div>
</li>

