
<li class="tlypageguide_left" data-tourtarget=".alert.alert-warning">
    <div>
        <p>
            <strong>Please</strong> read the information about uploading!
        </p>
    </div>
</li>

<li class="tlypageguide_left" data-tourtarget=".fileinput-button">
    <div>
        <p>
            Click the add button to select files to upload.
        </p>
    </div>
</li>


<li class="tlypageguide_top" data-tourtarget=".files .start .btn">
    <div>
        <p>
            Start your upload
        </p>
    </div>
</li>





<li class="tlypageguide_right" data-tourtarget=".importfile.item.warning .provider-tag">
    <div>
        Click here to use the infomtaion extracted from the file metadata
    </div>
</li>




<li class="tlypageguide_right" data-tourtarget=".importfile.item.ready .musicbrainz-tag-holder">
    <div>
        We got som results. choose the one that makes most sense.
    </div>
</li>


<li class="tlypageguide_top" data-tourtarget=".apply-to-all"">
    <div>
        Click to use artist for all files in import
    </div>
</li>