{% extends "layout_base.html" %}

{% load i18n %}

{% block inner %}
    <div class="item_detail" style="">
        <section class="shaded">
            <div class="row iteminfo release">
                {% include "abcast/emission/_header.html" %}
            </div>
        </section>
        <div class="clear"></div>
        <section class="tabbed item_inner">
            <div class="tab-content">
                <section class="tracklist">
                    <div class="tab-pane active" id="tracklist">
                      <div class="list-body" style="margin-top: 2rem;">
                        <div class="list list--table">
                          {% for item in object.get_timestamped_media %}
                            {% if not item.is_future %}
                              {% include 'alibrary/media/_row.html' with object=item.content_object %}
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="menu-context">
        <div class="action-group">
            <ul>
                <li class="action">
                    <a class="hoverable"
                       href="{{ object.content_object.get_absolute_url }}"
                       title="{% trans 'Content Details' %}">
                        <span>{% trans 'Content Details' %}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
