{% load thumbnail i18n truncate display_tags arating_tags spurl adv_cache hash_tags %}

<div class="list_body_row selectable clickable item artist view edit stream collect download" id="list_item_{{ item.pk }}"
     data-resource_uri="{{ item.get_api_url }}"
     data-absolute_url="{{ item.get_absolute_url }}"
     {% if item.main_image %}
     data-image_color="{% thumbnail item.main_image 200x200 crop upscale subject_location=item.main_image.subject_location %}"
     data-image_bw="{% thumbnail item.main_image 200x200 crop bw upscale subject_location=item.main_image.subject_location %}"
     {% endif %}
     {% if item.main_image %}style="background-image: url({% thumbnail item.main_image 200x200 crop bw upscale subject_location=item.main_image.subject_location %});"{% endif %}>

    <div class="wrapper_icon">

        {% with object=item ct="artist" %}
            {% include "alibrary/element/_item_actions_primary.html" %}
        {% endwith %}

    </div>

    <div class="spacer tag-cloud">

        <ul class="tags unstyled horizontal">
            {% for tag in item.tags|slice:":8" %}
                <li class="{% if tag.pk in active_tags %}__active{% endif %}">{{ tag.name|truncate_chars_inner:10 }}</li>
            {% endfor %}
        </ul>

    </div>
    <div class="wrapper_info">

        <div class="wrapper_inner">

            <div class="list_body_item">
                <ul class="title">
                    <li class="bold">

                        <a href="{{ item.get_absolute_url }}" title="{{ item.name }}">
                            {{ item.name|truncate_chars_inner:24 }}
                            {% if item.country %}({{ item.country.iso2_code }}){% endif %}
                            {% cache 3600 "topflop_artist" item.pk %}
                            {% topflop_for_object item %}
                            {% endcache %}
                        </a>
                    </li>

                    <li>
                        {% if item.type %}
                            {{ item.type|capfirst }}
                        {% endif %}&nbsp;
                        <span class="life">
                            {% if item.date_start %}&nbsp;*{{ item.date_start.year }}{% endif %}
                            {% if item.date_end %}&nbsp;&#10013;{{ item.date_end.year }}{% endif %}
                        </span>
                    </li>
                </ul>

                <ul class="unstyled horizontal">
                    {% if item.get_releases.count > 0 %}
                        <li>
                            {% url alibrary-release-list as release_list %}
                            {% trans "Releases" %}:&nbsp;<a
                                href="{% spurl path=release_list query="artist={{ item.slug }}" %}"
                                title="{% trans "Only show releases by" %} {{ item.name }}"
                                style="vertical-align: top;">{{ item.get_releases.count }}<span
                                class="filter icon"></span></a>
                        </li>
                    {% endif %}
                    {% if item.media_artist.count > 0 %}
                        <li style="padding-left: 30px">
                            {% url alibrary-media-list as media_list %}
                            {% trans "Tracks" %}:&nbsp;<a
                                href="{% spurl path=media_list query="artist={{ item.slug }}" %}"
                                title="{% trans "Only show tracks by" %} {{ item.name }}"
                                style="vertical-align: top;">{{ item.media_artist.count }}<span
                                class="filter icon"></span></a>
                        </li>
                    {% endif %}
                </ul>
            </div>

            <div class="list_body_item links external">
                <ul class="links external unstyled">
                    {% for relation in item.relations.specific %}
                        <li>
                            <a href="{{ relation.url }}" class="skip-external"
                               title="Show on {{ relation.get_service_display }}"><i
                                    class="cicon-{{ relation.service }}"></i></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="wrapper_action">
        <ul class="unstyled action secondary horizontal clearfix">
            {% if  perms.alibrary.change_artist %}
                <li>
                    <a href="{{ item.get_edit_url }}"
                       class=""
                       title="{% trans "Edit" %}">
                        <i class="icon icon-edit"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>



