{% load thumbnail i18n truncate display_tags arating_tags spurl adv_cache hash_tags humanize %}

<div class="list_body_row selectable clickable item artist view edit stream collect download" id="list_item_{{ item.pk }}"
     data-resource_uri="{{ item.get_api_url }}"
     data-absolute_url="{{ item.get_absolute_url }}"
     {% if item.main_image %}
     data-image_color="{% thumbnail item.main_image 200x200 crop upscale subject_location=item.main_image.subject_location %}"
     data-image_bw="{% thumbnail item.main_image 200x200 crop bw upscale subject_location=item.main_image.subject_location %}"
     {% endif %}
     {% if item.main_image %}style="background-image: url({% thumbnail item.main_image 200x200 crop bw upscale subject_location='0,0' %});"{% endif %}>

    <div class="wrapper_icon">

        {% with object=item ct="artist" %}
            {% include "alibrary/element/_item_actions_primary.html" %}
        {% endwith %}

    </div>

    <div class="spacer tag-cloud">

        <ul class="tags unstyled horizontal">
            {% for tag in item.tags|slice:":8" %}
                <li data-id="{{ tag.pk }}">{{ tag.name|truncate_chars_inner:10 }}</li>
            {% endfor %}
        </ul>

    </div>
    <div class="wrapper_info">

        <div class="wrapper_inner">

            <div class="list_body_item">
                <ul class="title">
                    <li class="bold">

                        <a href="{{ item.get_absolute_url }}" title="{{ item.name }}">
                            {{ item.name|truncate_chars_inner:24 }}
                            {% if item.country %}({{ item.country.iso2_code }}){% endif %}


                            {% comment %}
                            {% nocache %}
                                {% load arating_tags %}
                                {% topflop_for_object item %}
                            {% endnocache %}
                            {% endcomment %}


                            {% comment %}
                            {% cache 3600 "topflop_artist" item.pk %}
                            {% topflop_for_object item %}
                            {% endcache %}
                            {% endcomment %}
                        </a>
                    </li>

                    {% comment %}
                    {% if item.get_membership %}
                        <li><a href="{{ item.get_membership.0.get_absolute_url }}">{{ item.get_membership.0 }}</a></li>
                    {% endif %}
                    {% endcomment %}

                    <li>
                        {% if item.type %}
                            {{ item.type|capfirst }}
                        {% endif %}&nbsp;
                        <span class="life">
                            {% if item.date_start %}&nbsp;*{{ item.date_start.year }}{% endif %}
                            {% if item.date_end %}&nbsp;&#10013;{{ item.date_end.year }}{% endif %}
                        </span>
                    </li>
                </ul>

                <ul class="unstyled horizontal">
                    {% if item.appearances.num_releases > 0 %}
                        <li>
                            {% url "alibrary-release-list" as release_list %}
                            {% trans "Releases" %}:&nbsp;<a
                                href="{% spurl path=release_list query="artist={{ item.slug }}" %}"
                                title="{% trans "Only show releases by" %} {{ item.name }}"
                                style="vertical-align: top;">{{ item.appearances.num_releases }}<span
                                class="filter icon"></span></a>
                        </li>
                    {% endif %}
                    {% if item.appearances.num_media > 0 %}
                        <li style="padding-left: 30px">
                            {% url "alibrary-media-list" as media_list %}
                            {% trans "Tracks" %}:&nbsp;<a
                                href="{% spurl path=media_list query="artist={{ item.slug }}" %}"
                                title="{% trans "Only show tracks by" %} {{ item.name }}"
                                style="vertical-align: top;">{{ item.appearances.num_media }}<span
                                class="filter icon"></span></a>
                        </li>
                    {% endif %}
                </ul>



            </div>

            <div class="list_body_item links external">
                <ul class="links external unstyled">
                    {% comment %}
                    {% for relation in item.relations.specific %}
                        <li>
                            <a href="{{ relation.url }}" class="skip-external"
                               title="Show on {{ relation.get_service_display }}"><i
                                    class="cicon-{{ relation.service }}"></i></a>
                        </li>
                    {% endfor %}
                    {% endcomment %}
                </ul>
            </div>
        </div>
    </div>

    <div class="wrapper_action">
        <ul class="unstyled action secondary horizontal clearfix">
            {% if  perms.alibrary.change_artist %}
                <li>
                    <a href="{{ item.get_edit_url }}"
                       class=""
                       title="{% trans "Edit" %}">
                        <i class="icon icon-edit"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>



    <div class="by" style="position: absolute; bottom: 0; left: 5px; color: #999;">
        {% if item.creator %}
            <!--{% trans "by" %}:-->
            <a style="color: #999;"
               title="{{ item.creator.profile.get_display_name }}"
               href="{{ item.creator.get_absolute_url }}">
                {{ item.creator.profile.get_display_name|truncate_chars:16 }}
            </a>
            |
        {% endif %}
        <!--{{ item.created|naturalday }}-->
        {{ item.created|date:"SHORT_DATE_FORMAT" }}
    </div>

</div>



