{% load i18n thumbnail playlist_tags calc_tags lazy_image_tags truncate_tags arating_tags object_action_tags %}

<div class="card card--playlist">
    <div class="card__visual">
        <div class="image">
            <visual-with-actions
                ct="{{ object.get_ct }}"
                uuid="{{ object.uuid }}"
                url="{% url 'api:playlist-detail' object.uuid %}"
                image-url="{% thumbnail object.main_image 280x280 crop upscale %}"
                :actions="{% get_object_actions_as_json object user %}">
            </visual-with-actions>
        </div>
        {% comment %}
        <div class="image">
            {% lazy_image object.main_image 'crop' '270x270' %}
        </div>
        <div class="actions">
            <object-actions
                ct="{{ object.get_ct }}"
                uuid="{{ object.uuid }}"
                url="{% url 'api:playlist-detail' object.uuid %}"
                edit-url="{% url 'alibrary-playlist-edit' object.pk %}"
                {% if perms.alibrary.play_media %}
                    :can-play="(true)"
                    :can-queue="(true)"
                {% endif %}
                {% if perms.alibrary.downoad_media %}
                    :can-download="(true)"
                {% endif %}
                {% if user.is_authenticated and user == object.user %}
                    :can-edit="(true)"
                {% endif %}
                {% if perms.alibrary.schedule_playlist and object.type == "broadcast" %}
                    :can-schedule="(true)"
                {% endif %}
                actions="play,queue,download,edit,schedule,clipboard">
            </object-actions>
        </div>
        {% endcomment %}
        <div class="card__visual__top">
            <div class="flags">
                <span class="flag">{{ object.get_type_display }}</span>
            </div>
            {% if object.is_broadcast %}
                {% nearby_scheduled_as object as is_nearby_scheduled %}
                <div class="indicators">
                    <emission-history
                        obj-ct="{{ object.get_ct }}"
                        obj-uuid="{{ object.uuid }}"
                        :has-warning="{% if is_nearby_scheduled %}true{% else %}false{% endif %}">
                    </emission-history>
                </div>
            {% endif %}
        </div>
        <div class="tags">
            {% for tag in object.tags|slice:":8" %}
                <span class="tag">{{ tag.name|truncate_chars_inner:10 }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="card__body">

        <div class="card__body__primary">
            <a href="{{ object.get_absolute_url }}" title="{{ object.name }}">
                {{ object.name|truncate_chars_inner:22 }}
                {% if object.country %}({{ object.country }}){% endif %}
            </a>
        </div>
        <div>
            {% if object.is_broadcast %}
                <span class="dim" title="{% trans 'Total num. emissions' %}">
                    {{ search_result.num_emissions }}
                </span>
            {% endif %}
        </div>
        <div>
            {% if object.series %}
                {{ object.series.name|truncate_chars_inner:20 }}
                {% if object.series_number %}
                    #{{ object.series_number }}
                {% endif %}
            {% else %}
                &nbsp;
            {% endif %}
        </div>
        <div>
            {# object.get_type_display #}
        </div>
        <div>
            <a href="{{ object.user.get_absolute_url }}">{{ object.user.profile.get_display_name }}</a>
        </div>
        <div>
            {% if object.type == 'broadcast' %}
                {# object.get_status_display #}
            {% endif %}
            {% if object.target_duration %}
                {{ object.target_duration|sec_to_time }}
            {% else %}
                {{ object.duration|divide:1000|sec_to_time }}
            {% endif %}
        </div>
    </div>
    <!--
    <div class="card__footer">
        (( footer ))
    </div>
    -->
</div>
