{% extends "layout_base.html" %}

{% load i18n alibrary_tags %}

{% block title %}{{ object.name }} - {{ object.get_type_display }}{% endblock %}

{% block heading %}{% endblock %}

{% block inner %}
<div class="item item--detail item--playlist">
    <div class="item--header-container">
      <div class="item--header">
          {% include "alibrary/playlist/_header.html" %}
      </div>
      <nav class="item--section-menu">
          {% for item in section_menu %}
              <div class="menu-item{% if item.active %} menu-item--active{% endif %}">
                  <a href="{{ item.url }}">{{ item.title }}</a>
              </div>
          {% endfor %}
      </nav>
    </div>
    <div class="item--body">
        {% include section_template %}
    </div>
</div>
{% endblock %}

{% block sidebar %}
    {% include "alibrary/playlist/sidebar/_detail.html" %}
{% endblock %}
