{% extends "postman/base.html" %}

{% load i18n humanize postman_tags%}
{% block content %}
    <div id="postman" class="postman read">

        {% for message in pm_messages %}


            <div class="message{% if message.is_pending %} pending{% endif %}{% if message.is_rejected %} rejected{% endif %}{% if message.sender == user and message.sender_archived or message.recipient == user and message.recipient_archived %} archived{% endif %}{% if message.sender == user and message.sender_deleted_at or message.recipient == user and message.recipient_deleted_at %} deleted{% endif %}{% if message.recipient == user and not message.read_at %} unread{% endif %}">


                {% if forloop.first %}
                    <div class="header main">
                        <div class="row-fluid">
                            <div class="span8">
                                <dl class="dl-horizontal">
                                    <dt>{% trans "From" %}</dt>
                                    <dd>
                                        {% if message.sender.get_absolute_url %}
                                            <a href="{{ message.sender.get_absolute_url }}">{{ message.obfuscated_sender|or_me:user }}</a>
                                        {% else %}
                                            {{ message.obfuscated_sender|or_me:user }}
                                        {% endif %}
                                    </dd>

                                    <dt>{% trans "To" %}</dt>
                                    <dd>{{ message.obfuscated_recipient|or_me:user }}</dd>

                                    <dt>{% trans "Subject" %}</dt>
                                    <dd>{{ message.subject|truncatechars:56 }}</dd>
                                </dl>
                            </div>
                            <div class="span4">
                                <span class="date pull-right">{{ message.sent_at|naturaltime }}</span>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="header thread">
                        <div class="row-fluid">
                            <div class="span8">
                                <dl class="dl-horizontal">
                                    <dt>{% trans "From" %}</dt>
                                    <dd>
                                        {{ message.obfuscated_sender|or_me:user }}
                                    </dd>

                                    <dt>{% trans "To" %}</dt>
                                    <dd>{{ message.obfuscated_recipient|or_me:user }}</dd>


                                    <dt>{% trans "Subject" %}</dt>
                                    <dd>{{ message.subject|truncatechars:56 }}</dd>
                                </dl>
                            </div>
                            <div class="span4">
                                <span class="date pull-right">{{ message.sent_at|naturaltime }}</span>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="body">{{ message.body|linebreaksbr }}</div>

            </div>




            {% if forloop.last %}
                <div class="actions">
                <form action="" method="post" class="pull-right">{% csrf_token %}

                    <input type="hidden"
                           {% if pm_messages|length > 1 and message.thread_id %}name="tpks"
                           value="{{ message.thread_id }}"
                           {% else %}name="pks"
                           value="{{ message.pk }}"{% endif %}/>




                    <button type="submit"
                            class="btn btn-abort"
                            onclick="this.form.action='{% url 'postman_delete' %}?next={{ next_url|urlencode }}'">{% trans "Delete" %}</button>

                    {% if reply_to_pk %}<a class="btn btn-primary"
                                           href="{% url 'postman_reply' reply_to_pk %}?next={{ next_url|urlencode }}">
                        {% trans "Reply" %}</a>{% endif %}
                </form>
                </div>

            {% endif %}
        {% endfor %}

    </div>
{% endblock %}
