<div id="pplayer_inline">
	<div class="wrapper">
		
		<!-- Player display -->
		<div class="left display">
			<div id="pplayer_inline_scroll">
				<span class="type"></span>
				<span class="name"></span>
				<span class="artist"></span>
			</div>
		</div>
		
		<!-- Icon/Actions -->
		<div class="right actions">
			<a href="/api/cast/listen.json#0#replace" title="Liten to the livestream" class="playable popup"><img src="/static/img/prototype/webstream.png" alt="Webstream" /></a>
		</div>
		<div class="clear"></div>
		
	</div>
</div>