{% load sekizai_tags i18n %}

{% addtoblock "js-post" %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.li-scroller.1.0.js"></script>{% endaddtoblock %}

<!-- current version -->
{% addtoblock "js-post" %}
    <script type="text/javascript" src="{{ STATIC_URL }}aplayer/js/base.js"></script>{% endaddtoblock %}
{% addtoblock "js-post" %}
    <script type="text/javascript" src="{{ STATIC_URL }}aplayer/js/ui.js"></script>{% endaddtoblock %}


<!-- refactored version -->
{% addtoblock "js-post" %}
    <script type="text/javascript" src="{{ STATIC_URL }}aplayer/js/base_0.2.js"></script>{% endaddtoblock %}


<!-- inline version (apears in top navigation)  -->
{% addtoblock "js-post" %}
    <script type="text/javascript" src="{{ STATIC_URL }}aplayer/js/inline.js"></script>{% endaddtoblock %}



{% addtoblock "js-post" %}
    <script>
        var aplayer = aplayer || {};
        var player_app = player_app || {};
        $(function () {
            aplayer.inline = new InlinePlayer();
            aplayer.inline.init();
        });
    </script>


{% endaddtoblock %}
{% addtoblock "css" %}
{% endaddtoblock %}

<div id="aplayer_inline" class="" style="float:left;">

    <div class="wrapper">

        <!-- Player display -->
        <div class="left display">

            <ul>
                <li>

                    <a href="#" class="streamable popup icon" data-resource_uri="/api/v1/abcast/channel/1/">
                        <i class="icon-play"></i>
                    </a>

                    <span class="media_name current-title">
                        <a href="#"></a>
                    </span>
                    <!--
                    <ul class="unstyled horizontal timing pull-right">
                        <li class="current"></li>
                        <li class="separator">&nbsp;|&nbsp;</li>
                        <li class="total"></li>
                        <li>&nbsp;</li>
                    </ul>
                    -->
                </li>
            </ul>


        </div>

    </div>


    <div class="display-large listing">

        <div class="indicator playhead hoverable">

            <!-- background layer (for hover/active/etc ? ) -->
            <div class="background">

                <!-- holder for indicator (animated transparent png-24 bg.image) -->
                <div class="indicator">

                    <!-- holder for handler (animated transparent png-24 bg.image) -->
                    <div class="handler">

                        <!-- actual waveform (transparent inner) -->
                        <div class="waveform">

                            <img data-href="{{ object.waveform_image }}" src="{{ object.waveform_image }}"
                                 style="width: 100%; height: 100%" />

                        </div>

                    </div>

                </div>

            </div>

            <div class="clear"></div>
        </div>


        <div class="actions">
            <a href="#" data-action="prev" title="Previous"> <i class="icon-step-backward"></i> </a>
            <a href="#" data-action="pause" title="Stop"> <i class="icon-pause"></i> </a>
            <a href="#" data-action="play" title="Play"> <i class="icon-play"></i> </a>
            <a href="#" data-action="next" title="Next"> <i class="icon-step-forward"></i> </a>
        </div>

        <!--
        <div class="channel">
            <strong>On-Air - Live</strong>
        </div>
        -->


        <div class="inner">
        loading
        </div>
    </div>


</div>