{% load sekizai_tags i18n  %}


<div class="aplayer inline">
	
	<div class="sizes m l left container information">
		
		<div class="wrapper">
			<h1 class="media_name"><a href="#">Player</a></h1>
			<h2 class="artist_name"><a href="#"></a>&nbsp;</h2>
			
		</div>
	</div>
	
	
	<div class="sizes m l right activate">
		<div class="wrapper">
			<a class="icon-container fullscreen" href="{{ release.get_absolute_url }}"> 
				<span class="icon"></span>	
			</a>
		</div>
	</div>
	
	<div class="sizes m l clear"></div>
	
	<div class="sizes m l progress">
		<div class="indicator"></div>
	</div>
	
	<div class="sizes m l clear"></div>
	
	<div class="controls">
		
		<!-- NOTE: same structure as eg in tpl_screen.html -->
		
		<div class="left icon-container">
			<ul class="horizontal">
				
				<li>
					<a href="#prev" title="Previous" class="icon-container prev">
						<span class="icon"></span>
						<span class="text expandable">Previous</span>
					</a>
				</li>
				
				<li class="icon-container pause">
					<a href="#pause" title="Stop">
						<span class="icon"></span>
						<span class="text expandable">Pause</span>
					</a>
				</li>
				
				<li>
					<a href="#play" title="Play" class="icon-container play">
						<span class="icon"></span>
						<span class="text expandable">Play</span>
					</a>
				</li>
				
				<li >
					<a href="#next" title="Next" class="icon-container next">
						<span class="icon"></span>
						<span class="text expandable">Next</span>
					</a>
				</li>
				

			</ul>
		</div>
		
		<div class="right">
			<ul class="horizontal time">
				<li class="current"></li>
				<li>&nbsp;</li>
				<li class="total">00:00</li>
			</ul>
		</div>
		
	</div>
	
	<div class="clear"></div>
	
	
</div>