{% load cms_tags sekizai_tags compress value_from_settings %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">


<!--head -->
<head>

	<title>Audio Player</title>

	<!--[if lt IE 8]>
		<link href="{{ STATIC_URL }}css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->
	<!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- compressed -->
	{% compress css %}
	{% endcompress %}
	<link href="{{ STATIC_URL }}css/aplayer.css" media="screen, projection" rel="stylesheet" type="text/css" />

	<!-- REMOVE FOR PRODUCTION!
	<link href="{{ STATIC_URL }}css/in_progress.css" media="screen, projection" rel="stylesheet" type="text/css" />
	 -->

	<!-- meta ----------------------------------------------------------------------------------------------->
	<link rel="icon" type="image/png" href="{{ STATIC_URL }}img/base/favicon.png" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/base/favicon.png">

	<!-- scripts -------------------------------------------------------------------------------------------->
	<!-- common includes -->
	{% include "aplayer/_common_script.html" %}


	<!-- webfonts -->
	{# include "lib/monotype.html" #}

{% render_block "css" %}

{% render_block "js-head" %}

{% render_block "js-pre" %}

</head>

<!--body -->
<body class="popup aplayer" data-spy="scroll">


	{% block inner %}
	{% endblock %}

	{% block extras %}
	{% endblock %}






	<!-- main javascript block -->
	{% render_block "js" %}


	<script type="text/javascript" src="{{ STATIC_URL }}aplayer/js/lib/jwplayer/jwplayer-5.9.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}alibrary/js/playlist.js"></script>

	<script type="text/javascript">
		//<![CDATA[//><!--

		var settings = settings || {};
		settings.debug = true;

		// local / window-dependent container
		var local = local || {};
		local.type = 'popup';

		parent_win = window.opener;

		$(document).ready(function() {

            //debug.setLevel(2);

            if (!nunjucks.env) {
                nunjucks.env = new nunjucks.Environment(new nunjucks.HttpLoader('{{ STATIC_URL }}'));
            }
            nj = nunjucks.env;

            nj = nunjucks_register_filters(nj);

			// set some variables to be available in script file
			aplayer.vars.swf_url = '{{ STATIC_URL }}aplayer/swf/lib/jwplayer/jwplayer-5.9.swf';
			aplayer.vars.skin_url = '{{ STATIC_URL }}aplayer/css/lib/jwplayer/ulysses.zip';

            aplayer.vars.stream_mode = '{% value_from_settings "APLAYER_STREAM_MODE" %}';


			base.ui.init();
			base.ui.iface();

			aplayer.base.init();
			aplayer.ui.init();
			aplayer.ui.playhead();

            /*
			// collector
			aplayer.collector = new CollectorApp;
			aplayer.collector.animation_target = 'footer';
			aplayer.collector.api_url = "{% url api_dispatch_list resource_name='library/playlist' api_name='v1'%}";
			aplayer.collector.init();

			// selector
			aplayer.selector = new PlaylistSelector();
			aplayer.selector.interval_duration = 10000;
			aplayer.selector.dom_id = 'playlists_inline_selector';
			aplayer.selector.api_url_simple = "{% url api_dispatch_list resource_name='library/simpleplaylist' api_name='v1'%}";
			aplayer.selector.init();
            */


		});
		//--><!]]>
	</script>

	<!-- verry last scripts -->
	{% render_block "js-post" %}
	{% render_block "js-uncompressed" %}



</body>

</html>