<div class="item playlist media {{media.uuid}} hoverable" id="{{media.uuid}}" id="playlist_item_{{media.id}}" data-item_id="{{media.id}}" >

	<div class="wrapper">
	
		<div class="row-fluid">
			<div class="span1 icon">
				<i class="icon-play"></i>
			</div>
			<div class="span9 information">
				<h1>{{media.name}}</h1>
				<h2><a class="parent_link" href="{{media.artist.absolute_url}}">{{media.artist.name}}</a> | <a class="parent_link" href="{{media.release.absolute_url}}">{{media.release.name}}</a></h2>
			</div>
			<div class="span2 duration">
				{{media.formated_duration}}
                <!--
				<ul class="unstyled actions">
					<li>
						<a class="collectable" href="#"><i class="icon-plus icon-large"></i></a>
					</li>
				</ul>
				-->
			</div>
		</div>
	
	</div>

		
	<div class="indicator">
		<div class="wrapper">
			<div class="inner">&nbsp;</div>
		</div>
	</div>
</div>
	
	
