{% load i18n %}

<div class="menu-context">
  <div class="action-group">
    <ul>
      {% if perms.alibrary.downoad_media %}
        <object-selection-action class="action" :min-selected="1" dispatch-event="exporter:exportObjects">
          {% trans "Download Selection" %}
        </object-selection-action>
      {% endif %}
      {% if perms.alibrary.merge_media %}
        <object-selection-action class="action" :min-selected="2" dispatch-event="alibrary:mergeObjects">
          {% trans "Merge Selection" %}
        </object-selection-action>
      {% endif %}
      {% if perms.alibrary.reassign_media %}
        <object-selection-action class="action" :min-selected="1" dispatch-event="alibrary:reassignMedia">
          {% trans "Reassign Selection" %}
        </object-selection-action>
      {% endif %}
    </ul>
  </div>
</div>




{% comment %}
<div class="menu-context">
    <div class="action-group">
        <ul>
            {% if perms.alibrary.downoad_media %}
                <li class="action">
                    <a class="hoverable disabled selection-required selection-any" href="#" data-action="download" data-ct="media_set"  title="{% trans "Download Selection" %}">
                        <i class="icon icon-download-alt"></i>
                        <span>{% trans "Download Selection" %}</span>
                        <small class="opt pull-right"></small>
                    </a>
                </li>
            {% endif %}
            {% if perms.alibrary.merge_media %}
                <li class="action">
                    <a class="hoverable disabled selection-required selection-multiple" href="#" data-action="merge" data-ct="media" title="{% trans "Merge Selection" %}">
                        <i class="icon icon-align-justify"></i>
                        <span>{% trans "Merge Selection" %}</span>
                        <small class="opt pull-right"></small>
                    </a>
                </li>
            {% endif %}
            {% if perms.alibrary.reassign_media %}
                <li class="action">
                    <a class="hoverable disabled selection-required selection-any" href="#" data-action="reassign" data-ct="media" title="{% trans "Re-assign Selection" %}">
                        <i class="icon icon-resize-horizontal"></i>
                        <span>{% trans "Re-assign Selection" %}</span>
                        <small class="opt pull-right"></small>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endcomment %}
