{% load navutils_tags %}
<li
    class="{% block node_class %}menu-item{% if node.css_class %} {% render_nested node.css_class %}{% endif %}{% if is_current %} selected{% endif %}{% if has_current %} selected{% endif %}{% if viewable_children %} has-children{% endif %}{% endblock %}"
    data-id="{{ node.id }}"
    {% for attr, value in node.attrs.items %} {% render_nested attr %}="{% render_nested value %}"{% endfor %}
    >
    <a href="{% render_nested node.get_url %}"{% for attr, value in node.link_attrs.items %} {% render_nested attr %}="{% render_nested value %}"{% endfor %}>{% block node_label %}{% render_nested node.label %}{% endblock %}</a>
    {% if viewable_children %}
        <ul class="{% block submenu_class %}children{% if node.submenu_css_class %} {% render_nested node.submenu_css_class %}{% endif %}{% endblock %}">
            {% for children_node in viewable_children %}
                {% render_node node=children_node current_depth=current_depth|add:'1' %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
