{% extends "base.html" %}

{% load cms_tags %}

{% block body_class %}cms-page cms-page--home{% endblock %}

{% block heading %}{% endblock %}

{% block teaser %}
    <section class="teaser">
        <div class="teaser-container">
            <div class="background"></div>
            <div class="text">
                <h1>open broadcast platform</h1>
                <h2>an independent media platform <br>for music & radio professionals</h2>
                <div class="global-search">
                    <div id="search_app_home"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block main %}

    <section>
        <div class="sign-up">
            <div class="actions">
                <p>
                    {% if not user.is_authenticated %}
                    <a href="{% url "account:register" %}" class="button button--primary button--xl"><i class="icon-user"></i> Create your Account</a>
                    {% else %}
                    {% endif %}
                </p>
            </div>
        </div>
    </section>

    <section class="cms-placeholder cms-placeholder--main">
        {% placeholder "main" or %}empty{% endplaceholder %}
    </section>

    <section>
        <div class="sign-up">
            <div class="text">
                <h1>open broadcast platform</h1>
                <h2>an independent media platform <br>for music & radio professionals</h2>
            </div>
            <div class="actions">
                <p>
                    {% if not user.is_authenticated %}
                    <a href="{% url "account:register" %}" class="button button--primary button--xl"><i class="icon-user"></i> Create your Account</a>
                    {% else %}
                    {% endif %}
                </p>
            </div>
        </div>
    </section>

{% endblock %}

{% block user_panels %}{% endblock %}
