{% extends "layout_base.html" %}

{% load i18n sekizai_tags cms_tags humanize %}

{% block inner %}
    <section class="page-disclaimer page-disclaimer--import">
        <div class="page-disclaimer__content">
            {% static_placeholder 'importer_introduction' %}
        </div>
        <div class="page-disclaimer__appendix">
            <div class="btn-group">
                <a class="btn btn-primary btn pull-right" href="{% url "importer-import-create" %}">
                    <span> {% trans "Accept Terms & Upload Music" %}</span>
                </a>
            </div>
        </div>
    </section>

    <div class="listview container import ">

        <div class="list-header">
            <div class="pagination-container">
                {% include "element/_pagination.html" %}
            </div>
        </div>

        {% if object_list %}

            <table class="table table--default items">

                <tbody>

                    {% for object in object_list %}

                    {% ifchanged %}
                    <tr class="day-separator">
                        <td colspan="3">{{ object.created|date:'F Y' }}</td>
                    </tr>
                    {% endifchanged %}

                    <tr class="item {{ object.get_status_display|lower }}">

                        <td>

                            {% with stats=object.get_stats %}

                            <ul class="unstyled horizontal stats">

                                <li class="completed">
                                    <a href="{{ object.get_absolute_url }}">
                                    <span>{% trans "Imported" %}:
                                        {% if object.files.count > 0 %}
                                            <span class="{% if stats.done.count == object.files.count%}done{% endif %}">{{ stats.done.count }} of {{ object.files.count }}</span>
                                        {% else %}
                                            <span>{{ object.files.count }}</span>
                                        {% endif %}
                                    </span>
                                    </a>
                                </li>

                                {% if stats.queued.count > 0 %}
                                <li class="queued">
                                    <span>{% trans 'queued' %}: {{ stats.queued.count }}</span>
                                </li>
                                {% endif %}

                                {% if stats.duplicate.count > 0 %}
                                <li class="duplicates">
                                    <span>{% trans 'duplicates' %}: {{ stats.duplicate.count }}</span>
                                </li>
                                {% endif %}

                                {% if stats.warning.count > 0 %}
                                <li class="warnings">
                                    <span>{% trans 'warnings' %}: {{ stats.warning.count }}</span>
                                </li>
                                {% endif %}

                                {% if stats.error.count > 0 %}
                                <li class="errors">
                                    <span>{% trans 'errors' %}: {{ stats.error.count }}</span>
                                </li>
                                {% endif %}



                            </ul>

                            {% endwith %}

                            <p>
                                <span>{% trans 'Created items' %}:</span>

                                {% for key, ct in object.get_importitems.items %}

                                    {% if object.type == 'web' %}
                                        <a href="{{ ct.url }}?search_import_ids={{ object.uuid }}" title="{% for item in ct.items|dictsort:"name" %}{{ item.name }}{% if not forloop.last %}&#10;{% endif %}{% endfor %}">{{ ct.name }} <span>{{ ct.items|length }}</span></a>
                                    {% else %}
                                        <a href="{{ ct.url }}?search_import_ids={{ object.uuid }}">{{ ct.name }} <span>{{ ct.items|length }}</span></a>
                                    {% endif %}

                                    {% if not forloop.last %}<span>&mdash;</span>{% endif %}

                                {% empty %}
                                    <span>({% trans 'no items created so far' %})</span>
                                {% endfor %}
                            </p>


                        </td>


                        <td style="width: 340px;">
                            <a href="{{ object.get_absolute_url }}">
                                {{ object.created|date:'DATETIME_FORMAT' }}
                            </a>

                            {% if  object.notes %}
                            <p class="notes">{{ object.notes|truncatechars:128|linebreaksbr }}</p>
                            {% endif %}

                        </td>

                        <td class="">
                            <p>
                                <small>ID: {{ object.pk }}</small>
                            </p>
                        </td>

                    </tr>


                    {% endfor %}
                </tbody>
            </table>

            <div>
                <form action="{% url "importer-import-delete-all" %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-small pull-right icon">{% trans "Archive all imports" %}</button>
                </form>
            </div>
        {% endif %}

    </div>

{% endblock %}

{% block sidebar %}
{% include "importer/_import_list_sidebar.html" %}
{% endblock %}
