<div id="importfile_result_{%=o.id%}" class="importfile item">

	<h3><i class="icon-blank"></i> {%=o.filename%} <small>[{%=o.mimetype%}]</small></h3>
	
	<div class="row-fluid status status-queue">
		
		<div class="span1 icon-holder">&nbsp;</div>

		<div class="span8 information">

			<h4>Importing <i class="icon icon-padded icon-cogs"></i></h4>
			<p>File placed in the import-queue.<br />Please be patient for a while.</p>
			
		</div>
		
		<div class="span3 image">
			<div class="pull-right">
				<i class="ajax-loader c3CA3B9"></i>
			</div>
		</div>
		
		
	</div>
	
	
	<!--
	<div class="row-fluid status status-duplicate">
		
		<div class="span1">&nbsp;</div>
		<div class="span11">
			<h4>Duplicate <i class="icon icon-padded icon-copy"></i></h4>
			<p>This file already exists in the Database.</p>
		</div>
	</div>
	-->
	
	
	<div class="row-fluid status status-imported">
		
		<div class="span1"><i class="icon icon-padded icon-file"></i></div>
		<div class="span3">4</div>
		<div class="span8 display">

			
			
		</div>
	</div>
	
	<!--<p>Status</p>-->

	<div class="row-fluid result-set hoverable provider-tag">

		<div class="span1">
			<i class="icon icon-padded icon-id3"></i>
		</div>

		<div class="span4">

			<label class="checkbox holder-media_name">
				<input type="checkbox">
				<ul class="horizontal unstyled">
					<li class="key">
						Title&nbsp;
					</li>
					<li class="value"></li>
				</ul> </label>
			<div class="clearfix"></div>

			<label class="checkbox holder-release_name">
				<input type="checkbox">
				<ul class="horizontal unstyled">
					<li class="key">
						Release&nbsp;
					</li>
					<li class="value"></li>
				</ul> </label>

		</div>

		<div class="span4">

			<label class="checkbox holder-artist_name">
				<input type="checkbox">
				<ul class="horizontal unstyled">
					<li class="key">
						Artist&nbsp;
					</li>
					<li class="value"></li>
				</ul> </label>
			<div class="clearfix"></div>

			<label class="checkbox holder-label_name">
				<input type="checkbox">
				<ul class="horizontal unstyled">
					<li class="key">
						Label&nbsp;
					</li>
					<li class="value"></li>
				</ul> </label>

		</div>

		<div class="span3">

			<label class="checkbox holder-media_tracknumber">
				<input type="checkbox">
				<ul class="horizontal unstyled">
					<li class="key">
						TrackNo&nbsp;
					</li>
					<li class="value"></li>
				</ul> </label>
			<div class="clearfix"></div>

			<label class="checkbox holder-release_date">
				<input type="checkbox">
				<ul class="horizontal unstyled">
					<li class="key">
						Date&nbsp;
					</li>
					<li class="value"></li>
				</ul> </label>

		</div>

	</div>

	<div class="musicbrainz-tag-holder"></div>

	<div class="pull-righ result-actions">

		<form class="form-horizontal form-result">
			<h4>Result</h4>
			<div class="row-fluid base">

				<div class="span6">

					<div class="control-group">
						<label class="control-label" for="inputEmail">Title</label>
						<div class="controls">
							<input type="text" class="name">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="inputEmail">Release/Album</label>
						<div class="controls">
							<input type="text" class="release">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="inputEmail">Release Date</label>
						<div class="controls">
							<input type="text" class="releasedate">
						</div>
					</div>
					
				</div>

				<div class="span6">
					
					<div class="control-group">
						<label class="control-label" for="inputPassword">Artist</label>
						<div class="controls">
							<input type="text" class="artist">
						</div>
					</div>
					

					<div class="control-group">
						<label class="control-label" for="inputEmail">Track Number</label>
						<div class="controls">
							<input type="text" class="tracknumber">
						</div>
					</div>
					

					<div class="control-group">
						<label class="control-label" for="inputEmail">Label</label>
						<div class="controls">
							<input type="text" id="inputEmail" placeholder="89abed31-3a93-407e-a4a3-a94e193488cd">
						</div>
					</div>
					
				</div>

			</div>
			<h4>Musicbrainz IDs</h4>
			<div class="row-fluid musicbrainz">

				<div class="span6">

					<div class="control-group">
						<label class="control-label" for="inputEmail">Track ID</label>
						<div class="controls">
							<input type="text" class="mb-track-id input-minitext" readonly="readonly">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="inputEmail">Artist ID</label>
						<div class="controls">
							<input type="text" class="mb-artist-id input-minitext" readonly="readonly">
						</div>
					</div>
					
				</div>

				<div class="span6">
					
					<div class="control-group">
						<label class="control-label" for="inputPassword">Release ID</label>
						<div class="controls">
							<input type="text" class="mb-release-id input-minitext" readonly="readonly">
						</div>
					</div>
					
				</div>

			</div>

		</form>

	</div>

	<div class="row-fluid pull-righ result-actions">

		<div class="span9">
			&nbsp;
		</div>

		<div class="pull-right span3">
			<a class="btn btn-secondary btn-small delete-importfile">Delete this File</a>
			<a class="btn btn-primary btn-small start-import">Start Import</a>
		</div>
	</div>

</div>