{% load i18n %}

<div class="menu-context">

    <div class="action-group">
        <ul class="unstyled">


            <!-- comment: artist download don't make sense...
            {% if perms.alibrary.downoad_media %}
                <li class="action">
                    <a class="hoverable disabled selection-required selection-any" href="#" data-action="download" data-ct="artist_set"  title="{% trans "Download Selection" %}">
                        <i class="icon icon-download-alt"></i>
                        <span>{% trans "Download Selection" %}</span>
                        <small class="opt pull-right"></small>
                    </a>
                </li>
            {% endif %}
            -->

            {% if perms.alibrary.merge_media %}
                <li class="action">
                    <a class="hoverable disabled selection-required selection-multiple" href="#" data-action="merge" data-ct="artist" title="{% trans "Merge Selection" %}">
                        <i class="icon icon-align-justify"></i>
                        <span>{% trans "Merge Selection" %}</span>
                        <small class="opt pull-right"></small>
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>

</div>