{% load sekizai_tags value_from_settings nunjucks_tags pushy_asset_tags %}

	<!-- js-head, rendered in head :) block -->
	{% addtoblock "js-head" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.8.1.min.js"></script>{% endaddtoblock %}
	{% addtoblock "js-head" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-ui-1.9.2.custom.min.js"></script>{% endaddtoblock %}

	{% addtoblock "js-head" %}
        <!--
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/turbolinks.js"></script>
        -->
    {% endaddtoblock %}
	
	
	<!-- base css block -->
	{% addtoblock "css" %}<link type="text/css" href="{{ STATIC_URL }}css/screen.css" rel="stylesheet" />{% endaddtoblock %}
	{% addtoblock "css" %}<link type="text/css" href="{{ STATIC_URL }}css/temporary.css" rel="stylesheet" />{% endaddtoblock %}
	{% addtoblock "css" %}<link type="text/css" href="{{ STATIC_URL }}css/wip.css" rel="stylesheet" />{% endaddtoblock %}
	{% addtoblock "css" %}<link type="text/css" href="{{ STATIC_URL }}css/print.css" rel="stylesheet" media="print" />{% endaddtoblock %}

	<!-- iconset -->
	{% addtoblock "css" %}<link type="text/css" href="{{ STATIC_URL }}css/iconset/fontcustom.css" rel="stylesheet" />{% endaddtoblock %}

	
	{% addtoblock "css" %}<link type="text/css" href="{{ STATIC_URL }}selectable/css/dj.selectable.css" rel="stylesheet" />{% endaddtoblock %}
	{% addtoblock "css" %}<link type="text/css" href="{{ STATIC_URL }}css/lib/pageguide.css" rel="stylesheet" />{% endaddtoblock %}


  
  	<!-- js-pre, rendered BEFORE the default "js" block -->
	{% addtoblock "js-pre" %}{% endaddtoblock %}
	
	
  	<!-- js, the default "js" block -->
	{% addtoblock "js" %}{% endaddtoblock %}
  
  
  	<!-- js-post, rendered AFTER the default "js" block -->
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.timers-1.1.2.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.cookie.min.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.jgrowl.min.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.ajax-queue.js"></script>{% endaddtoblock %}
	
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/ba-debug.js"></script>{% endaddtoblock %}




	{% addtoblock "js-post" %}<!--<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.autocomplete.js"></script>-->{% endaddtoblock %}
	
	
	
	
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/nunjucks/nunjucks-dev.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}{% nunjucks_scripts %}{% endaddtoblock %}



	
	{% addtoblock "js-post" %}<!--
	<script type="text/javascript" src="{{ STATIC_URL }}js/lib/nunjucks/nunjucks-dev.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}nj/templates.js"></script>
	-->{% endaddtoblock %}
	
	
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/nunjucks/filters.js"></script>{% endaddtoblock %}
	
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.daterangepicker.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.countdown.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.smartupdater.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.taconite.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.colorbox.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.raty.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.popup.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.log.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.marquee.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.shorten.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.boxy.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.autogrow.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.qtip.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.tools.min.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.purl.js"></script>{% endaddtoblock %}
	{% addtoblock "js-uncompressed" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.pulse.js"></script>{% endaddtoblock %}
	{% addtoblock "js-uncompressed" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.highlight.js"></script>{% endaddtoblock %}
	{% addtoblock "js-uncompressed" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.watch.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.scrollfollow.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.nanoscroller.js"></script>{% endaddtoblock %}

	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.tmpl.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jsrender.js"></script>{% endaddtoblock %}

	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.nouislider.js"></script>{% endaddtoblock %}

	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/pageguide.js"></script>{% endaddtoblock %}



	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.history.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/history.js"></script>{% endaddtoblock %}


	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap/bootstrap-tooltip.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap/bootstrap-popover.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap/bootstrap-tab.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap/bootstrap-dropdown.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap/bootstrap-button.js"></script>{% endaddtoblock %}
	
	
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/ICanHaz.js"></script>{% endaddtoblock %}

	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/pagedown/Markdown.Converter.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/pagedown/Markdown.Sanitizer.js"></script>{% endaddtoblock %}
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/pagedown/Markdown.Editor.js"></script>{% endaddtoblock %}
	
	
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>{% endaddtoblock %}

	
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}ac_tagging/js/ac_tagging.js"></script>{% endaddtoblock %}
	

	
	
	{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}arating/js/base.js"></script>{% endaddtoblock %}

	{% addtoblock "js-uncompressed" %}<script type="text/javascript" src="{{ STATIC_URL }}js/base.ui.js"></script>{% endaddtoblock %}
	
	{% addtoblock "js-post" %}<!--<script type="text/javascript" src="{{ STATIC_URL }}js/edit.js"></script>-->{% endaddtoblock %}

	
	<!-- alibrary apps -->
	
	<!-- utils -->
    {% addtoblock "js-uncompressed" %}<script type="text/javascript" src="{{ STATIC_URL }}js/util.base.js"></script>{% endaddtoblock %}
	{% addtoblock "js-uncompressed" %}<script type="text/javascript" src="{{ STATIC_URL }}js/util/util.base.js"></script>{% endaddtoblock %}
	{% addtoblock "js-uncompressed" %}<script type="text/javascript" src="{{ STATIC_URL }}js/util/util.notify.js"></script>{% endaddtoblock %}
	{% addtoblock "js-uncompressed" %}<script type="text/javascript" src="{{ STATIC_URL }}js/util/util.dialog.js"></script>{% endaddtoblock %}




	{% pushy_asset_scripts %}

	

