
<div class="menu-context">
  <div class="action-group">
    <ul>
      {% if perms.alibrary.change_artist %}
        <li class="action">
          <a href="{{ object.get_absolute_url }}" title="Back to Detail-View">
            Back to Detail-View
          </a>
        </li>
      {% endif %}
      {% if perms.alibrary.change_artist and user.is_staff %}
        <li class="action">
          <a href="{{ object.get_admin_url }}?next={{ object.get_admin_url }}"
             title="Administration view">
            Administration view
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
