<div id="{{ object.uuid }}" class="importfile item {{ object.status }}" xmlns="http://www.w3.org/1999/html">

<h3>
    {% if object.status == 'init' %}
        <i class="icon-time icon-spin"></i>
    {% endif %}

    {% if object.status == 'done' %}
        <i class="icon-ok-sign"></i>
    {% endif %}

    {% if object.status == 'ready' %}
        <i class="icon-thumbs-up"></i>
    {% endif %}

    {% if object.status == 'working' %}
        <i class="icon-spinner icon-spin"></i>
    {% endif %}

    {% if object.status == 'warning' %}
        <i class="icon-thumbs-down"></i>
    {% endif %}

    {% if object.status == 'duplicate' %}
        <i class="icon-copy"></i>
    {% endif %}

    {% if object.status == 'queued' %}
        <i class="icon-spinner icon-spin"></i>
    {% endif %}

    {% if object.status == 'importing' %}
        <i class="icon-asterisk icon-spin"></i>
    {% endif %}


    {{ object.filename }}
    <small class="admin-info" style="display: none;"><a data-importfile_id="{{ object.id }}" href="#">admin: {{ object.id }}</a></small>
    {% if object.status == 'duplicate' %}<span class="warning pull-right">Duplicate</span>{% endif %}

    {% if object.error %}<span class="warning pull-right">Error: {{ object.error }}</span>{% endif %}

</h3>



{% if object.status == 'working' %}
    <div class="row-fluid status status-working provider-tag">

        <div class="span1">
            <!--<i class="icon icon-large icon-large icon-ok"></i>-->
        </div>

        <div class="span4">

            <ul class="horizontal unstyled">
                <li class="value" title="{{ object.results_tag.media_name }}">
                    {{ object.results_tag.media_name|truncate_chars_inner(38) }}</li>
            </ul>

            <div class="clearfix"></div>

            <ul class="horizontal unstyled">
                <li class="value" title="{{ object.results_tag.release_name }}">
                    {{ object.results_tag.release_name|truncate_chars_inner(38) }}</li>
            </ul>

        </div>

        <div class="span4">


            <ul class="horizontal unstyled">
                <li class="value" title="{{ object.results_tag.artist_name }}">
                    {{ object.results_tag.artist_name|truncate_chars_inner(38) }}</li>
            </ul>

            <div class="clearfix"></div>

        </div>

        <div class="span3">

            <ul class="horizontal unstyled">
                <li class="value" title="{{ object.results_tag.media_tracknumber }}">
                    {{ object.media_tracknumber.media_name|truncate_chars_inner(38) }}</li>
            </ul>

            <div class="clearfix"></div>

            <ul class="horizontal unstyled">
                <li class="value" title="{{ object.results_tag.release_date }}">
                    {{ object.results_tag.release_date|truncate_chars_inner(38) }}</li>
            </ul>


        </div>


    </div>
    <div class="row-fluid status">
        <div class="progress">
            <div class="bar bar{{ object.id }}" style="width: 0%;"></div>
        </div>


        <script>

            var progress{{ object.id }} = setInterval(function () {
                var $bar{{ object.id }} = $('.bar.bar{{ object.id }}');
                if ($bar{{ object.id }}.width() > 770) {
                    clearInterval(progress{{ object.id }});
                    //$('.progress').removeClass('active');
                } else {
                    $bar{{ object.id }}.width($bar{{ object.id }}.width() + 10);
                }
            }, 80);

        </script>

    </div>
{% endif %}



{% if object.status == 'queued' %}
    <div class="row-fluid status status-queue">

        <div class="span1 icon-holder">&nbsp;</div>

        <div class="span8 information">
            
            <p>File placed in the import-queue.<br/>Please be patient for a while.</p>

            <!--
            <p>Depending on server-load and available metadata it can take several minutes per track to complete it's
                information.</p>
            -->
        </div>

        <div class="span3 image">
            <div class="pull-right">
                <!--
                <i class="ajax-loader c3CA3B9"></i>
                -->
            </div>
        </div>


    </div>
    <div class="row-fluid status">
        <div class="progress">
            <div class="bar" style="width: 0%;"></div>
        </div>


        <script>

            var progress{{ object.id }} = setInterval(function () {
                var $bar{{ object.id }} = $('.bar.bar{{ object.id }}');
                if ($bar{{ object.id }}.width() > 770) {
                    clearInterval(progress{{ object.id }});
                    //$('.progress').removeClass('active');
                } else {
                    $bar{{ object.id }}.width($bar{{ object.id }}.width() + 10);
                }
            }, 80);

        </script>

    </div>
{% endif %}






{% if object.status == 'duplicate' %}
    <div class="row-fluid result-set status-duplicate">

        {% if object.media %}
            <div class="span1">
                <i class="icon icon-large icon-obp"></i>
            </div>

            <div class="span8 information">

                <ul class="unstyled">
                    <li><strong><a href="{{ object.media.absolute_url }}">{{ object.media.name }}</a>
                        {% if object.media.artist.name %} by
                            <a href="{{ object.media.artist.absolute_url }}">{{ object.media.artist.name }}</a>{% endif %}
                    </strong></li>

                    {% if object.media.release.name %}
                        <li><a href="{{ object.media.release.absolute_url }}">{{ object.media.release.name }}</a></li>
                    {% else %}
                        <li>No Release</li>
                    {% endif %}

                    <li class="small">{{ object.media.created|format_timestamp }}</li>

                </ul>

            </div>

            <div class="span3 image">
                {% if object.media.release and object.media.release.main_image %}
                    <img class="pull-right" src="{{ object.media.release.main_image }}"/>
                {% else %}
                    <img class="pull-right" src="/static/img/base/defaults/listview.release.xl.png"/>
                {% endif %}
            </div>
        {% endif %}





    </div>

    <div class="row-fluid pull-righ result-actions">
        <div class="span12">
            <a class="btn btn-abort btn-small reimport-duplicate">Re-Import File</a>
        </div>
    </div>
{% endif %}


{% if object.status == 'done' %}
    <div class="row-fluid result-set status-done">

        {% if object.media %}
            <div class="span1">
                <i class="icon icon-large icon-obp"></i>
            </div>

            <div class="span8 information">

                <ul class="unstyled">
                    <li><strong><a href="{{ object.media.absolute_url }}">{{ object.media.name }}</a>
                        {% if object.media.artist.name %} by
                            <a href="{{ object.media.artist.absolute_url }}">{{ object.media.artist.name }}</a>{% endif %}
                    </strong></li>

                    {% if object.media.release.name %}
                        <li><a href="{{ object.media.release.absolute_url }}">
                            {{ object.media.release.name|truncate_chars_inner(50) }}</a></li>
                    {% else %}
                        <li>No Release</li>
                    {% endif %}

                    <li class="small">{{ object.media.created|format_timestamp }}</li>

                </ul>

            </div>

            <div class="span3 image">
                {% if object.media.release and object.media.release.main_image %}
                    <img class="pull-right" src="{{ object.media.release.main_image }}"/>
                {% else %}
                    <img class="pull-right" src="/static/img/base/defaults/listview.release.xl.png"/>
                {% endif %}
            </div>
        {% endif %}

    </div>
{% endif %}





{% if object.status == 'ready' or object.status == 'warning' %}

    {% if object.results_musicbrainz.length > 0 %}
        <div class="hint">
            <p>
                <em>File Metadata</em> <a class="toggle-hint" href="#"><i class="icon-question-sign"></i></a>

            </p>
            <div class="expandable">
                <p>
                Information extracted from your uploaded file.<br>
                Choose this entry if you want to continue with the bare file metadata.
                </p>
            </div>
        </div>
    {% endif %}

    <div class="row-fluid result-set hoverable provider-tag">

        <div class="span1">
            <i class="icon icon-large icon-ok"></i>
        </div>

        <div class="span4">

            <ul class="horizontal unstyled">
                <li class="key">Title</li>
                <li class="value" title="{{ object.results_tag.media_name }}">
                    {{ object.results_tag.media_name|truncate_chars_inner(38) }}</li>
            </ul>

            <div class="clearfix"></div>

            <ul class="horizontal unstyled">
                <li class="key">Release</li>
                <li class="value" title="{{ object.results_tag.release_name }}">
                    {{ object.results_tag.release_name|truncate_chars_inner(38) }}</li>
            </ul>

        </div>

        <div class="span4">

            <label class="checkbox holder-artist_name">
                <input type="checkbox">
                <ul class="horizontal unstyled">
                    <li class="key">
                        Artist
                    </li>
                    <li class="value" title="{{ object.results_tag.artist_name }}">
                        {{ object.results_tag.artist_name|truncate_chars_inner(38) }}</li>
                </ul>
            </label>

            <div class="clearfix"></div>

            <label class="checkbox holder-label_name">
                <input type="checkbox">
                <ul class="horizontal unstyled">
                    <li class="key">
                        Label
                    </li>
                    <li class="value"></li>
                </ul>
            </label>

        </div>

        <div class="span3">

            <label class="checkbox holder-media_tracknumber">
                <input type="checkbox">
                <ul class="horizontal unstyled">
                    <li class="key">
                        TrackNo
                    </li>
                    <li class="value">{{ object.results_tag.media_tracknumber }}</li>
                </ul>
            </label>

            <div class="clearfix"></div>

            <label class="checkbox holder-release_date">
                <input type="checkbox">
                <ul class="horizontal unstyled">
                    <li class="key">
                        Date
                    </li>
                    <li class="value">{{ object.results_tag.release_date }}</li>
                </ul>
            </label>

        </div>

    </div>
{% endif %}




{% if object.status == 'ready' or object.status == 'warning' %}

    {% if object.results_musicbrainz.length > 0 %}
        <div class="hint">
            <p>
                <em>Possible Releases</em> <a class="toggle-hint" href="#"><i class="icon-question-sign"></i></a>
            </p>
            <div class="expandable">
                <p>
                Information found in our linked databases.<br>
                Select the most appropriate result to automatically complete the metadata.
                </p>
            </div>
        </div>
    {% endif %}

    <div class="musicbrainz-tag-holder">



        {% for item in object.results_musicbrainz %}

            <div class="row-fluid result-set hoverable musicbrainz-tag mb_id-{{ item.mb_id }}">

                <div class="span1">
                    <i class="icon icon-large icon-ok"></i>
                </div>

                <div class="span8">

                    <!-- ids -->
                    <input type="hidden" class="media-id" value="{{ item.media.mb_id }}">
                    <input type="hidden" class="release-id" value="{{ item.mb_id }}">
                    <input type="hidden" class="artist-id" value="{{ item.artist.mb_id }}">

                    <!-- other data -->
                    <input type="hidden" class="releasedate" value="{{ item.releasedate }}">
                    <input type="hidden" class="catalognumber" value="{{ item.label.catalognumber }}">
                    <input type="hidden" class="name" value="{{ item.media.name }}">
                    <input type="hidden" class="artist" value="{{ item.artist.name }}">
                    <input type="hidden" class="release" value="{{ item.name }}">

                    <h5>
                        <a target="_blank" href="http://musicbrainz.org/recording/{{ item.media.mb_id }}">{{ item.media.name }}</a>
                        by
                        <a target="_blank" href="http://musicbrainz.org/artist/{{ item.artist.mb_id }}">{{ item.artist.name }}</a>
                    </h5>

                    <a target="_blank" class="external" href="http://musicbrainz.org/release/{{ item.mb_id }}">{{ item.name }}</a>
                    <ul class="unstyled">
                        <li class="small">{{ item.country }} - {{ item.releasedate }} | {{ item.status }}</li>
                        <li class="small">{{ item.label.name }} - {{ item.catalognumber }}</li>
                    </ul>

                </div>

                <div class="span3">
                    {% if item.relations.discogs_image %}
                        <img class="pull-right" src="{{ item.relations.discogs_image }}"/>
                    {% else %}
                        <img class="pull-right" src="/static/img/base/defaults/listview.release.xl.png"/>
                    {% endif %}
                </div>
            </div>

        {% endfor %}

    </div>
{% endif %}


{% if object.status == 'ready' or object.status == 'warning' %}
    <div class="pull-righ result-actions">

    <form class="form-horizontal form-result">

        <div class="hint">
            <p>
                <em>Selected Information</em> <a class="toggle-hint" href="#"><i class="icon-question-sign"></i></a>
            </p>
            <div class="expandable">
                <p>(( More to read here soon. ))</p>
            </div>
        </div>

    <!-- name -->
    <div class="row-fluid base media {% if not object.import_tag.name %}missing{% endif %}">

        <div class="span6">

            <div class="control-group">
                <label class="control-label" for="inputEmail">Title <span class="required">*</span></label>

                <div class="controls">
                    <input type="text" class="release autoupdate" data-ct="media" value="{{ object.import_tag.name }}">
                </div>
            </div>

        </div>

    </div>

    <!-- release -->
    <div class="row-fluid base release {% if not object.import_tag.release %}missing{% endif %}">

        <div class="span5">

            <div class="control-group">
                <label class="control-label" for="inputEmail">Release <span class="required">*</span></label>

                <div class="controls">
                    <input type="text"
                           class="release autocomplete"
                           data-ct="release"
                           value="{{ object.import_tag.release }}">

                    <div class="ac-result"></div>
                </div>
            </div>

        </div>

        <div class="span3">
            {% if object.import_tag.alibrary_release_id and not object.import_tag.force_release %}
                <a href="#"
                   data-ct="release"
                   data-resource_uri="{{ object.import_tag.alibrary_release_resource_uri }}"
                   class="tooltip-inline">
                    <i class="icon-paper-clip"></i>
                    Assigned
                </a>
            {% else %}
                <span class="dim"><i class="icon-plus"></i> Create</span>
            {% endif %}
        </div>

        <div class="span2">
            {% if object.import_tag.alibrary_release_id %}
                <input type="checkbox"
                       class="force-creation"
                       {% if object.import_tag.force_release %}checked="checked"{% endif %}/>
                Force Creation<a class="tooltipable"
                                 data-title="Enable this to force the creation of a new entry - even if there is already an item with the same name."><i
                    class="icon-question-sign"></i></a>
            {% else %}
                &nbsp;
            {% endif %}
        </div>

        <div class="span2">
            <a class="btn btn-mini btn-primary pull-right apply-to-all" data-ct="release"><i class="icon-repeat"></i> Apply Release
                to all</a>
        </div>


    </div>

    <!-- artist -->
    <div class="row-fluid base artist {% if not object.import_tag.artist %}missing{% endif %}">

        <div class="span5">

            <div class="control-group">
                <label class="control-label" for="inputEmail">Artist <span class="required">*</span></label>

                <div class="controls">
                    <input type="text"
                           class="artist autocomplete"
                           data-ct="artist"
                           value="{{ object.import_tag.artist }}">

                    <div class="ac-result"></div>
                </div>
            </div>

        </div>

        <div class="span3">
            {% if object.import_tag.alibrary_artist_id and not object.import_tag.force_artist %}
                <a href="#"
                   data-ct="artist"
                   data-resource_uri="{{ object.import_tag.alibrary_artist_resource_uri }}"
                   class="tooltip-inline">
                    <i class="icon-paper-clip"></i>
                    Assigned
                </a>
            {% else %}
                {% if object.import_tag.alibrary_artist_matches %}
                    <a href="#" class="matches"><i class="icon-warning-sign"></i> {{ object.import_tag.alibrary_artist_matches }} matches</a>
                {% endif %}
                <span class="dim"><i class="icon-plus"></i> Create</span>
            {% endif %}
        </div>

        <div class="span2">
            {% if object.import_tag.alibrary_artist_id %}
                <input type="checkbox"
                       class="force-creation"
                       {% if object.import_tag.force_artist %}checked="checked"{% endif %}/>
                Force Creation<a class="tooltipable"
                                 data-title="Enable this to force the creation of a new entry - even if there is already an item with the same name."><i
                    class="icon-question-sign"></i></a>
            {% else %}
                &nbsp;
            {% endif %}
        </div>

        <div class="span2">
            <a class="btn btn-mini btn-primary pull-right apply-to-all" data-ct="artist"><i class="icon-repeat"></i> Apply Artist to all</a>
        </div>


    </div>

    </form>

    </div>

    <div class="row-fluid pull-righ result-actions">

        <div class="span2">
            &nbsp;
        </div>

        <div class="pull-right span10">
            <a class="btn btn-abort btn-small delete-importfile">Delete this File</a>
            <!--
            <a class="btn btn-abort btn-small rescan" data-settings="skip_tracknumber">Scan witouth tracknumber</a>
            -->
            <a class="btn btn-abort btn-small rescan">Scan again</a>
            {% if object.status == 'ready' or object.status == 'warning' %}
                <a class="btn btn-primary btn-small start-import">Continue Import</a>
            {% endif %}
        </div>
    </div>


{% endif %}

</div>