<div id="{{ object.uuid }}" class="importfile item {{ object.status }}">

<h3>
    <!--
		{{ object.id }}
		-->
    {% if object.status == 'init' %}
        <i class="icon-time icon-spin"></i>
    {% endif %}

    {% if object.status == 'done' %}
        <i class="icon-ok-sign"></i>
    {% endif %}

    {% if object.status == 'ready' %}
        <i class="icon-thumbs-up"></i>
    {% endif %}

    {% if object.status == 'working' %}
        <i class="icon-spinner icon-spin"></i>
    {% endif %}

    {% if object.status == 'warning' %}
        <i class="icon-thumbs-down"></i>
    {% endif %}

    {% if object.status == 'duplicate' %}
        <i class="icon-copy"></i>
    {% endif %}

    {% if object.status == 'queued' %}
        <i class="icon-spinner icon-spin"></i>
    {% endif %}

    {% if object.status == 'importing' %}
        <i class="icon-asterisk icon-spin"></i>
    {% endif %}


    {{ object.filename }}
    <small>[{{ object.mimetype }}] {{ object.id }}</small>
    {% if object.status == 'duplicate' %}<span class="warning pull-right">Duplicate</span>{% endif %}

    {% if object.error %}<span class="warning pull-right">Error: {{ object.error }}</span>{% endif %}

</h3>



{% if object.status == 'working' %}
    <div class="row-fluid status status-working provider-tag">

        <div class="span1">
            <i class="icon icon-padded icon-id3"></i>
        </div>

        <div class="span4">

            <ul class="horizontal unstyled">
                <li class="value" title="{{ object.results_tag.media_name }}">
                    {{ object.results_tag.media_name|truncate_chars_inner(38) }}</li>
            </ul>

            <div class="clearfix"></div>

            <ul class="horizontal unstyled">
                <li class="value" title="{{ object.results_tag.release_name }}">
                    {{ object.results_tag.release_name|truncate_chars_inner(38) }}</li>
            </ul>

        </div>

        <div class="span4">


            <ul class="horizontal unstyled">
                <li class="value" title="{{ object.results_tag.artist_name }}">
                    {{ object.results_tag.artist_name|truncate_chars_inner(38) }}</li>
            </ul>

            <div class="clearfix"></div>

        </div>

        <div class="span3">

            <ul class="horizontal unstyled">
                <li class="value" title="{{ object.results_tag.media_tracknumber }}">
                    {{ object.media_tracknumber.media_name|truncate_chars_inner(38) }}</li>
            </ul>

            <div class="clearfix"></div>

            <ul class="horizontal unstyled">
                <li class="value" title="{{ object.results_tag.release_date }}">
                    {{ object.results_tag.release_date|truncate_chars_inner(38) }}</li>
            </ul>


        </div>


    </div>
    <div class="row-fluid status">
        <div class="progress">
            <div class="bar bar{{ object.id }}" style="width: 0%;"></div>
        </div>


        <script>

            var progress{{ object.id }} = setInterval(function () {
                var $bar{{ object.id }} = $('.bar.bar{{ object.id }}');
                if ($bar{{ object.id }}.width() > 770) {
                    clearInterval(progress{{ object.id }});
                    //$('.progress').removeClass('active');
                } else {
                    $bar{{ object.id }}.width($bar{{ object.id }}.width() + 10);
                }
            }, 80);

        </script>

    </div>
{% endif %}



{% if object.status == 'queued' %}
    <div class="row-fluid status status-queue">

        <div class="span1 icon-holder">&nbsp;</div>

        <div class="span8 information">

            <!--<h4>Importing <i class="icon icon-padded icon-cogs"></i></h4>-->
            <p>File placed in the import-queue.<br/>Please be patient for a while.</p>

            <!--
            <p>Depending on server-load and available metadata it can take several minutes per track to complete it's
                information.</p>
            -->
        </div>

        <div class="span3 image">
            <div class="pull-right">
                <!--
                <i class="ajax-loader c3CA3B9"></i>
                -->
            </div>
        </div>


    </div>
    <div class="row-fluid status">
        <div class="progress">
            <div class="bar" style="width: 0%;"></div>
        </div>


        <script>

            var progress{{ object.id }} = setInterval(function () {
                var $bar{{ object.id }} = $('.bar.bar{{ object.id }}');
                if ($bar{{ object.id }}.width() > 770) {
                    clearInterval(progress{{ object.id }});
                    //$('.progress').removeClass('active');
                } else {
                    $bar{{ object.id }}.width($bar{{ object.id }}.width() + 10);
                }
            }, 80);

        </script>

    </div>
{% endif %}






{% if object.status == 'duplicate' %}
    <div class="row-fluid result-set status-duplicate">

        {% if object.media %}
            <div class="span1">
                <i class="icon icon-padded icon-obp"></i>
            </div>

            <div class="span8 information">

                <ul class="unstyled">
                    <li><strong><a href="{{ object.media.absolute_url }}">{{ object.media.name }}</a>
                        {% if object.media.artist.name %} by
                            <a href="{{ object.media.artist.absolute_url }}">{{ object.media.artist.name }}</a>{% endif %}
                    </strong></li>

                    {% if object.media.release.name %}
                        <li><a href="{{ object.media.release.absolute_url }}">{{ object.media.release.name }}</a></li>
                    {% else %}
                        <li>No Release</li>
                    {% endif %}

                    <li class="small">{{ object.media.created|format_timestamp }}</li>

                </ul>

            </div>

            <div class="span3 image">
                {% if object.media.release and object.media.release.main_image %}
                    <img class="pull-right" src="{{ object.media.release.main_image }}"/>
                {% else %}
                    <img class="pull-right" src="/static/img/base/defaults/listview.release.xl.png"/>
                {% endif %}
            </div>
        {% endif %}

    </div>
{% endif %}


{% if object.status == 'done' %}
    <div class="row-fluid result-set status-done">

        {% if object.media %}
            <div class="span1">
                <i class="icon icon-padded icon-obp"></i>
            </div>

            <div class="span8 information">

                <ul class="unstyled">
                    <li><strong><a href="{{ object.media.absolute_url }}">{{ object.media.name }}</a>
                        {% if object.media.artist.name %} by
                            <a href="{{ object.media.artist.absolute_url }}">{{ object.media.artist.name }}</a>{% endif %}
                    </strong></li>

                    {% if object.media.release.name %}
                        <li><a href="{{ object.media.release.absolute_url }}">
                            {{ object.media.release.name|truncate_chars_inner(50) }}</a></li>
                    {% else %}
                        <li>No Release</li>
                    {% endif %}

                    <li class="small">{{ object.media.created|format_timestamp }}</li>

                </ul>

            </div>

            <div class="span3 image">
                {% if object.media.release and object.media.release.main_image %}
                    <img class="pull-right" src="{{ object.media.release.main_image }}"/>
                {% else %}
                    <img class="pull-right" src="/static/img/base/defaults/listview.release.xl.png"/>
                {% endif %}
            </div>
        {% endif %}

    </div>
{% endif %}





{% if object.status == 'ready' or object.status == 'warning' %}
    <div class="row-fluid result-set hoverable provider-tag">

        <div class="span1">
            <i class="icon icon-padded icon-id3"></i>
        </div>

        <div class="span4">

            <ul class="horizontal unstyled">
                <li class="key">Title</li>
                <li class="value" title="{{ object.results_tag.media_name }}">
                    {{ object.results_tag.media_name|truncate_chars_inner(38) }}</li>
            </ul>

            <div class="clearfix"></div>

            <ul class="horizontal unstyled">
                <li class="key">Release</li>
                <li class="value" title="{{ object.results_tag.release_name }}">
                    {{ object.results_tag.release_name|truncate_chars_inner(38) }}</li>
            </ul>

        </div>

        <div class="span4">

            <label class="checkbox holder-artist_name">
                <input type="checkbox">
                <ul class="horizontal unstyled">
                    <li class="key">
                        Artist
                    </li>
                    <li class="value" title="{{ object.results_tag.artist_name }}">
                        {{ object.results_tag.artist_name|truncate_chars_inner(38) }}</li>
                </ul>
            </label>

            <div class="clearfix"></div>

            <label class="checkbox holder-label_name">
                <input type="checkbox">
                <ul class="horizontal unstyled">
                    <li class="key">
                        Label
                    </li>
                    <li class="value"></li>
                </ul>
            </label>

        </div>

        <div class="span3">

            <label class="checkbox holder-media_tracknumber">
                <input type="checkbox">
                <ul class="horizontal unstyled">
                    <li class="key">
                        TrackNo
                    </li>
                    <li class="value">{{ object.results_tag.media_tracknumber }}</li>
                </ul>
            </label>

            <div class="clearfix"></div>

            <label class="checkbox holder-release_date">
                <input type="checkbox">
                <ul class="horizontal unstyled">
                    <li class="key">
                        Date
                    </li>
                    <li class="value">{{ object.results_tag.release_date }}</li>
                </ul>
            </label>

        </div>

    </div>
{% endif %}




{% if object.status == 'ready' or object.status == 'warning' %}
    <div class="musicbrainz-tag-holder">


        {% if object.results_musicbrainz.length < 1 and object.results_tag.media_tracknumber %}
            <!--
            <p>
                <strong>No results available.</strong>
                Would you like to try to <a class="rescan" href="#" data-settings="skip_tracknumber, another_setting">lookup again witouth including the tracknumber</a>?
            </p>
            -->
        {% endif %}

        {% for item in object.results_musicbrainz %}

            <div class="row-fluid result-set hoverable musicbrainz-tag mb_id-{{ item.mb_id }}">

                <div class="span1">
                    <i class="icon icon-padded icon-musicbrainz"></i>
                </div>

                <div class="span8">

                    <!-- ids -->
                    <input type="hidden" class="media-id" value="{{ item.media.mb_id }}">
                    <input type="hidden" class="release-id" value="{{ item.mb_id }}">
                    <input type="hidden" class="artist-id" value="{{ item.artist.mb_id }}">

                    <!-- other data -->
                    <input type="hidden" class="releasedate" value="{{ item.releasedate }}">
                    <input type="hidden" class="catalognumber" value="{{ item.label.catalognumber }}">
                    <input type="hidden" class="name" value="{{ item.media.name }}">
                    <input type="hidden" class="artist" value="{{ item.artist.name }}">
                    <input type="hidden" class="release" value="{{ item.name }}">

                    <h5>
                        <a href="http://musicbrainz.org/recording/{{ item.media.mb_id }}">{{ item.media.name }}</a>
                        by
                        <a href="http://musicbrainz.org/artist/{{ item.artist.mb_id }}">{{ item.artist.name }}</a>
                    </h5>

                    <a class="external" href="http://musicbrainz.org/release/{{ item.mb_id }}">{{ item.name }}</a>
                    <ul class="unstyled">
                        <li class="small">{{ item.country }} - {{ item.releasedate }} | {{ item.status }}</li>
                        <li class="small">{{ item.label.name }} - {{ item.catalognumber }}</li>
                    </ul>

                </div>

                <div class="span3">
                    {% if item.relations.discogs_image %}
                        <img class="pull-right" src="{{ item.relations.discogs_image }}"/>
                    {% else %}
                        <img class="pull-right" src="/static/img/base/defaults/listview.release.xl.png"/>
                    {% endif %}
                </div>
            </div>


        {% endfor %}


    </div>
{% endif %}





{% if object.status == 'ready' or object.status == 'warning' %}
    <div class="pull-righ result-actions">

    <form class="form-horizontal form-result">
    <h4>Result</h4>

    <!-- name -->
    <div class="row-fluid base media {% if not object.import_tag.name %}missing{% endif %}">

        <div class="span6">

            <div class="control-group">
                <label class="control-label" for="inputEmail">Title <span class="required">*</span></label>

                <div class="controls">
                    <input type="text" class="release autoupdate" data-ct="media" value="{{ object.import_tag.name }}">
                </div>
            </div>

        </div>


    </div>

    <!-- release -->
    <div class="row-fluid base release {% if not object.import_tag.release %}missing{% endif %}">

        <div class="span5">

            <div class="control-group">
                <label class="control-label" for="inputEmail">Release <span class="required">*</span></label>

                <div class="controls">
                    <input type="text"
                           class="release autocomplete"
                           data-ct="release"
                           value="{{ object.import_tag.release }}">

                    <div class="ac-result"></div>
                </div>
            </div>

        </div>

        <div class="span2">
            {% if object.import_tag.alibrary_release_id and not object.import_tag.force_release %}
                <a href="#"
                   data-ct="release"
                   data-resource_uri="{{ object.import_tag.alibrary_release_resource_uri }}"
                   class="tooltip-inline">
                    <i class="icon-paper-clip"></i>
                    Assigned
                </a>
            {% else %}
                <span class="dim"><i class="icon-plus"></i> Create</span>
            {% endif %}
        </div>

        <div class="span2">
            {% if object.import_tag.alibrary_release_id %}
                <input type="checkbox"
                       class="force-creation"
                       {% if object.import_tag.force_release %}checked="checked"{% endif %}/>
                Force Creation<a class="tooltipable"
                                 data-title="Enable this to force the creation of a new entry - even if there is already an item with the same name."><i
                    class="icon-question-sign"></i></a>
            {% else %}
                &nbsp;
            {% endif %}
        </div>

        <div class="span3">
            <a class="btn btn-mini pull-right apply-to-all" data-ct="release"><i class="icon-repeat"></i> Apply Release
                to all</a>
        </div>


    </div>

    <!-- artist -->
    <div class="row-fluid base artist {% if not object.import_tag.artist %}missing{% endif %}">

        <div class="span5">

            <div class="control-group">
                <label class="control-label" for="inputEmail">Artist <span class="required">*</span></label>

                <div class="controls">
                    <input type="text"
                           class="artist autocomplete"
                           data-ct="artist"
                           value="{{ object.import_tag.artist }}">

                    <div class="ac-result"></div>
                </div>
            </div>

        </div>

        <div class="span2">
            {% if object.import_tag.alibrary_artist_id and not object.import_tag.force_artist %}
                <a href="#"
                   data-ct="artist"
                   data-resource_uri="{{ object.import_tag.alibrary_artist_resource_uri }}"
                   class="tooltip-inline">
                    <i class="icon-paper-clip"></i>
                    Assigned
                </a>
            {% else %}
                <span class="dim"><i class="icon-plus"></i> Create</span>
            {% endif %}
        </div>

        <div class="span2">
            {% if object.import_tag.alibrary_artist_id %}
                <input type="checkbox"
                       class="force-creation"
                       {% if object.import_tag.force_artist %}checked="checked"{% endif %}/>
                Force Creation<a class="tooltipable"
                                 data-title="Enable this to force the creation of a new entry - even if there is already an item with the same name."><i
                    class="icon-question-sign"></i></a>
            {% else %}
                &nbsp;
            {% endif %}
        </div>

        <div class="span3">
            <a class="btn btn-mini pull-right apply-to-all" data-ct="artist"><i class="icon-repeat"></i> Apply Artist to
                all</a>
        </div>


    </div>


    <!--
			<div class="row-fluid base">

				<div class="span6">

					<div class="control-group">
						<label class="control-label" for="inputEmail">Title</label>
						<div class="controls">
							<input type="text" class="name" value="{{ object.import_tag.name }}">
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="inputEmail">Release</label>
						<div class="controls">
							<input type="text" class="release" value="{{ object.import_tag.release }}">
							{% if object.import_tag.alibrary_release_id %}
								<i class="icon-magic"></i>
								{{ object.import_tag.alibrary_release_id }}
								{{ object.import_tag.alibrary_release_resource_uri }}
							{% endif %}
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="inputEmail">Release Date</label>
						<div class="controls">
							<input type="text" class="releasedate" value="{{ object.import_tag.releasedate }}">

						</div>
					</div>
					
				</div>

				<div class="span5">
					
					<div class="control-group">
						<label class="control-label" for="inputPassword">Artist</label>
						<div class="controls">
							<input type="text" class="artist" value="{{ object.import_tag.artist }}">
							{% if object.import_tag.alibrary_artist_id %}
								{{ object.import_tag.alibrary_artist_id }}
							{% endif %}
						</div>
					</div>
					

					<div class="control-group">
						<label class="control-label" for="inputEmail">Track Number</label>
						<div class="controls">
							<input type="text" class="tracknumber" value="{{ object.import_tag.tracknumber }}">
						</div>
					</div>
					

					<div class="control-group">
						<label class="control-label" for="inputEmail">Label</label>
						<div class="controls">
							<input type="text" id="inputEmail" value="{{ object.import_tag.label }}">
						</div>
					</div>
					
				</div>

			</div>
			-->



    <!--
    <div class="toggle">
        <div class="row-fluid">
            <div class="span12">
                <a class="toggle-advanced pull-right">More&nbsp;<i class="icon-angle-down"></i></a>
            </div>
        </div>

    </div>

    <div class="advanced-fields">

        <h4>Musicbrainz IDs</h4>

        <div class="row-fluid musicbrainz">

            <div class="span6">

                <div class="control-group">
                    <label class="control-label" for="inputEmail">Track ID</label>

                    <div class="controls">
                        <input type="text"
                               class="mb-track-id input-minitext"
                               value="{{ object.import_tag.mb_track_id }}"
                               readonly="readonly">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="inputEmail">Artist ID</label>

                    <div class="controls">
                        <input type="text"
                               class="mb-artist-id input-minitext"
                               value="{{ object.import_tag.mb_artist_id }}"
                               readonly="readonly">
                    </div>
                </div>

            </div>

            <div class="span5">

                <div class="control-group">
                    <label class="control-label" for="inputPassword">Release ID</label>

                    <div class="controls">
                        <input type="text"
                               class="mb-release-id input-minitext"
                               value="{{ object.import_tag.mb_release_id }}"
                               readonly="readonly">
                    </div>
                </div>

            </div>

        </div>


    </div>
    -->

    </form>

    </div>

    <div class="row-fluid pull-righ result-actions">

        <div class="span2">
            &nbsp;
        </div>

        <div class="pull-right span10">
            <a class="btn btn-secondary btn-small delete-importfile">Delete this File</a>
            <!---->
            <a class="btn btn-secondary btn-small rescan" data-settings="skip_tracknumber">Scan witouth tracknumber</a>

            <a class="btn btn-secondary btn-small rescan">Scan again</a>
            {% if object.status == 'ready' or object.status == 'warning' %}
                <a class="btn btn-primary btn-small start-import">Start Import</a>
            {% endif %}
        </div>
    </div>


{% endif %}

</div>