{% load i18n guardian_tags %}

<div class="menu-context">

    <div class="action-group">

        <ul class="unstyled">

            <li class="link">
                <a class="hoverable" href="{{ object.get_absolute_url }}" title="{% trans "Back to Detail-View" %}">
                    <i class="icon icon-angle-left"></i>
                    <span>{% trans "Back to Detail-View" %}</span>
                </a>
            </li>



			{% if perms.alibrary.schedule_playlist and object.type == "broadcast" and object.broadcast_status == 1 %}
            <li class="link">
                <a class="hoverable" href="{% url abcast-schedule-select-playlist  %}?playlist_id={{ object.pk }}&next={% url abcast-schedule %}" title="{% trans "Schedule for Broadcast" %}">
                    <i class="icon icon-calendar"></i>
                    <span>{% trans "Schedule for Broadcast" %}</span>
                </a>
            </li>
			{% endif %}

            {% if user.is_authenticated and user == object.user %}
            <li class="link">
                <a class="hoverable" href="{{ object.get_delete_url }}" title="{% trans "Delete" %}">
                    <i class="icon icon-trash"></i>
                    <span>{% trans "Delete" %}</span>
                </a>
            </li>
            {% endif %}

            {% if perms.alibrary.change_playlist and user.is_staff %}
            <li class="link">
                <a class="hoverable" href="{{ object.get_admin_url }}?next={{ object.get_admin_url }}" title="{% trans "Administration view" %}">
                    <i class="icon icon-lock"></i>
                    <span>{% trans "Administration view" %}</span>
                </a>
            </li>
            {% endif %}

        </ul>

    </div>

</div>