{% load i18n guardian_tags %}

<div class="menu-context">


    <div class="action-group">
        <ul class="unstyled">
            {% if perms.alibrary.create_playlist %}
                <li class="link">
                    <a class="hoverable"
                       href="{% url alibrary-playlist-create %}"
                       title="{% trans "Create a playlist" %}">
                        <i class="icon icon-reorder"></i>
                        <span>{% trans "Create a playlist" %}</span>
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>


</div>