{% extends 'admin/base_site.html' %}
{% load i18n admin_urls %}

{% block content %}<div id="content-main">
<h1>{% trans 'Temporary password' %}</h1>

<p>{% trans 'Selected user(s)' %}:</p>
<ul>
{% for u in for_users %}
  <li>{{ u.get_full_name|default:u.username }}<br>
    {% trans 'Email' %}: {{ u.email|default:'-' }}</li>
{% endfor %}
</ul>

<p>{% blocktrans %}If you continue a temporary password will be set for
  these users. They will be required to change their password on first usage.
  {% endblocktrans %}</p>

<form method="post" action="">
  {% csrf_token %}
  <button>{% trans 'Continue' %}</button>
  <a href="{% url 'admin:auth_user_changelist' %}">{% trans 'Cancel' %}</a>
</form>

</div>{% endblock %}
