<h4>Selected for scheduling</h4>
<p>Drag and drop to a free slot</p>

<div class="object-search">
    <input class="autocomplete" data-ct="playlist" type="text" placeholder="Search broadcasts">

    <div class="ac-result"></div>
</div>

{% if object.id %}
    <div class="_container object-to-schedule" id="{{ object.uuid }}">
        <div class="row-fluid">
            <div class="span3">
                {% if object.main_image %}
                    <img src="{{ object.main_image }}"/>
                {% else %}
                    <img src="/static/img/base/defaults/listview.playlist.xl.png"
                         width="90"
                         height="90"/>
                {% endif %}
            </div>

            <div class="span9">
                <ul class="unstyled">
                    <li>
                        <strong><a href="{{ object.absolute_url }}">
                            {{ object.name|truncate_chars_inner(30) }}</a></strong>
                        <small class="pull-right">{{ object.target_duration / 60 }} min</small>
                    </li>
                    <p class="tags">{{ object.d_tags|shorten(60) }}</p>
                </ul>
            </div>
        </div>
    </div>
{% endif %}
