{% extends "admin/base_site.html" %}

{% block content %}
    <form action="" method="post">

        {% csrf_token %}
        <input type="hidden" name="action" value="set_genre_action">
        <input type="hidden" name="do_action" value="yes">

        <div>
            {{ form.master }}
            <input type="submit" class="default" style="float: none" value="Change">
            {{ form.master.errors }}
        </div>

        <h2>Tags selected for merge</h2>

        <ul>
            {% for object in objects %}
                <li>
                    <span>{{ object.name }}</span>
                    <input type="hidden" name="_selected_action" value="{{ object.pk }}**">
                </li>
            {% endfor %}
        </ul>

    </form>
{% endblock %}