{% extends "layout_base.html" %}
{% load spurl cache i18n truncate ctype cache activity_tags humanize %}

{% block heading %}
<!-- heading / icon (large one) -->
<div id="heading">
	{% include "skeleton/heading.html" %}
</div>
<!-- heading / icon (large one) -->
{% endblock %}

{% block modnav %}
<!-- start: intra-module navigation -->
<div id="modnav">
	{% include "skeleton/modnav.html" %}
</div>
<!-- end: intra-module navigation -->
{% endblock %}

{% block tagcloud %}{% endblock %}

{% block searchbar %}{% endblock %}

{% block inner %}

<div class="listhead">
    <div class="pagination-holder">
        {% include "element/_pagination.html" %}
    </div>
</div>
<!-- end: listing header / paginator -->

<!-- start: listing output -->
<div class="listview container actions {{ list_style }}">

	<table class="table table-condensed striped action">

		<tbody>

			{% for action in action_list %}

            {% ifchanged %}
            <tr class="day-separator">
                <td colspan="3">{{ action.timestamp|naturalday }}</td>
            </tr>
            {% endifchanged %}

			<tr>
				<td>
                    {% if action.target %}
                        {% if action.target.classname == 'Media' %}
                            Track
                        {% else %}
                             {{  action.target|ct_name_by_object|title }}
                        {% endif %}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>

                <td>

                    {% if action.actor %}

                        {% if action.actor == user and 1 == 2 %}
                        {% trans "You" %}
                        {% else %}
                        <a href="{{ action.actor.get_absolute_url }}">{% firstof action.actor.get_full_name action.actor %}</a>
                        {% endif %}

                    {% endif %}

                    {% comment %}TODO: sorry - ugly remapping. needs to be refactored{% endcomment %}
                    {{ action.verb }}

                    {% if action.target %}
                        {% if action.target.username %}
                            <a href="{{ action.target.get_absolute_url }}">"{% firstof action.target.get_full_name|truncate_chars_inner:60 action.target.username|truncate_chars_inner:60 %}"</a>
                        {% else %}
                            <a href="{{ action.target.get_absolute_url }}">"{{ action.target.name|truncate_chars_inner:60 }}"</a>
                        {% endif %}
                    {% endif %}
				</td>

				<td>
                    <span class="pull-right">{{ action.timestamp|date:'H:i' }}</span>
                </td>
			</tr>
			{% endfor %}

		</tbody>
	</table>

</div>

<!-- start: listing footer -->
<div class="listview footer">
	<div class="right ipp">

		<ul class="unstyled horizontal">
			{% spurl base=request.get_full_path active_query="ipp=30" as is_active %}
			<li>
				<a class="{% if is_active %}active{% endif %}" href="{% spurl base=request.get_full_path set_query="ipp=30" %}">30</a>
			</li>
			{% spurl base=request.get_full_path active_query="ipp=60" as is_active %}
			<li>
				<a class="{% if is_active %}active{% endif %}" href="{% spurl base=request.get_full_path set_query="ipp=60" %}">60</a>
			</li>
			{% spurl base=request.get_full_path active_query="ipp=120" as is_active %}
			<li>
				<a class="{% if is_active %}active{% endif %}" href="{% spurl base=request.get_full_path set_query="ipp=120" %}">120</a>
			</li>
		</ul>

	</div>

	<div class="clear">
		&nbsp;
	</div>
</div>
<!-- end: listing footer -->

{% endblock %}

{% block sidebar %}

<div class="filter_context">
	{% for item in filter.filterlist %}
	{% include "actstream/element/_filterbox.html" %}
	{% endfor %}
	<div class="boxend"></div>
</div>

{% endblock %}

