{% load spurl %}





<div class="box ">
	<div class="ui-persistent boxtitle" data-uistate="init" id="filterbox-{{ item.name }}">
		<span class="noselection">Filter: {% firstof item.label item.name %}</span>
	</div>
	<div style="" class="boxcontent" id="filterbox_holder-{{ item.name }}">

		{% for filter_entry in item.entries %}

			{% if filter_entry.0 %}

				{% if filter_entry|length == 2 %}
					{% spurl base=request.get_full_path active_mquery="{{ item.name }}={{ filter_entry.0 }}" as is_active %}
					<div class="boxitem {% if is_active %}minus{% else %}plus{% endif %}">
						<a id="filterbox_item-{{ filter_entry.0 }}" class="filterbox_item {% if is_active %}on{% endif %}" href="{% spurl base=request.get_full_path remove_query_param="page" trigger_mquery="{{ item.name }}={{ filter_entry.0 }}" %}" style="display: block;">{{ filter_entry.0|title }}<small> ({{ filter_entry.1 }})</small></a>
					</div>
				{% endif %}

				{% if filter_entry|length == 3 %}
					{% spurl base=request.get_full_path active_mquery="{{ item.name }}={{ filter_entry.0 }}" as is_active %}
					<div class="boxitem {% if is_active %}minus{% else %}plus{% endif %}">
						<a id="filterbox_item-{{ filter_entry.0 }}" class="filterbox_item {% if is_active %}on{% endif %}" href="{% spurl base=request.get_full_path remove_query_param="page" trigger_mquery="{{ item.name }}={{ filter_entry.0 }}" %}" style="display: block;">{{ filter_entry.1|title }}<small> ({{ filter_entry.2 }})</small></a>
					</div>
				{% endif %}

			{% endif %}


		{% endfor %}

	</div>
</div>