{% extends "layout_base.html" %}

{% load truncate_tags thumbnail arating_tags wiki_tags sekizai_tags %}

{% block heading %}
    <!-- view specific scripts -->
  <div id="heading">
    {% include "skeleton/heading.html" %}
  </div>
{% endblock %}

{% block inner %}

  <div class="alert alert-warning">
    <strong>Confirm delete</strong>
    <p>
      Are you sure you want do telete"{{ object }}"?
      <br>
      This action cannot be reverted once confirmed.

    </p>
    <form method="post">{% csrf_token %}
      <button type="submit" class="btn btn-danger">
        <i class="icon icon-trash"></i> Delete {{ object }}</button>
    </form>
  </div>

  <div class="item_detail">
    <section class="shaded">
      <div class="row iteminfo release">
        {% include "alibrary/playlist/_legacy/_header.html" %}
      </div>
    </section>
  </div>
{% endblock %}

{% block sidebar %}
  {% include "alibrary/playlist/sidebar/_delete.html" %}
{% endblock %}
