{% load sekizai_tags i18n %}

<div id="private_site_message" class="site-message site-message--bottom">
    <div class="inner">
        <h2>Please Note</h2>
        <p>
            The open broadcast platform is targeting a <em>professional</em> audience.
            To unleash it's full potential you will have to login with a <em>'Radio-PRO'</em> or <em>'Music-PRO'</em> account.
        </p>
        <p>
            <a href="/about/accounts/">Read more</a> about access-levels and how to obtain respective permissions.
        </p>
    </div>
</div>
