{% load i18n %}

{% if object.user == request.user %}
    <div class="menu-context mentoring-panel">
        {% if not object.is_approved %}
            <div class="menu-context--prefix">
                <span class="title">{% trans "Get reviewed" %}</span>
                <p>{% trans "In order to gain full access to the platform your profile needs to be reviewed by a mentor." %}</p>
                {% if object.mentor %}
                    <p>{% trans "Your mentor is" %}
                        <a href="{{ object.mentor.get_absolute_url }}">{% firstof object.mentor.get_full_name object.mentor.username %}</a>.
                    </p>
                {% endif %}
            </div>
            {% if object.mentor %}
                <div class="action-group">
                    <ul>
                        <li>
                            <a class="hoverable" href="{% url "postman_write" object.mentor.username %}?subject={% trans "Please review my profile" %}" title="Request a profile-review">
                                <i class="icon icon-unlock"></i>
                                <span>{% trans "Request a profile-review" %}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
            <div class="menu-context--appendix">
            {% if object.mentor %}
                <p>
                    {% trans "Please complete your profile adequately* before asking for a review." %}<br/>
                    {% trans "Consider to add at least" %}:
                </p>
                <ul>
                    <li>{% trans "Full name" %}</li>
                    <li>{% trans "A description" %}</li>
                    <li>{% trans "usefull contact information" %}</li>
                </ul>
            {% else %}
                <p>{% blocktrans with url='/network/users/' %}
                    You don't have a mentor yet, please  <a href="{{ url }}">look out</a> for one if you'd like to
                    get additional privileges.
                {% endblocktrans %}</p>
            {% endif %}
            </div>
        {% endif %}
    </div>
{% endif %}
