{% load spurl %}


	<div id="menu_context" class="menu_context">
		<div class="set">
			<ul class="unstyled">
				<!-- Menu element / Action -->
				<li class="link ">
					<span class="left icon"> <a href="https://www.openbroadcast.org/mod/medialibrary/pu_import/license" title="Upload Content">Upload Content</a> </span>
					<span class="opt"></span>
					<span class="clear"></span>
				</li><!-- Menu element / Action -->
				<li class="action disabled selection_required selection_single selection_delete ">
					<span class="left icon"> <a href="#release" title="Delete Selection">Delete Selection</a> </span>
					<span class="opt"></span>
					<span class="clear"></span>
				</li><!-- Menu element / Action -->
				<li class="action disabled selection_required selection_multiple selection_merge ">
					<span class="left icon"> <a href="#release" title="Merge Selection">Merge Selection</a> </span>
					<span class="opt"></span>
					<span class="clear"></span>
				</li><!-- Menu element / Action -->
				<li class="action disabled selection_required selection_any selection_play ">
					<span class="left icon"> <a href="#release" title="Play Selection">Play Selection</a> </span>
					<span class="opt"></span>
					<span class="clear"></span>
				</li><!-- Menu element / Action -->
				<li class="action disabled selection_required selection_any selection_download ">
					<span class="left icon"> <a href="#release" title="Download Selection">Download Selection</a> </span>
					<span class="opt"></span>
					<span class="clear"></span>
				</li>
			</ul>
		</div>
	</div>
	<div class="box sorting">
		<div class="boxtitle sorting" id="filterbox-sort_default">
			<span class="noselection">Sorting:</span>
		</div>
		<div style="" class="boxcontent" id="filterbox_holder-sort_default">
			<div class="boxitem">
				<select id="sort_key" name="sort_key" class="select sorting keys">
					<option value="name">Name</option>
					<option value="releasedate">Release date</option>
					<option value="updated" selected="selected">Last modified</option>
					<option value="created">Date added</option>
					<option value="published">Date published</option>
					<option value="catalognumber">Catalog number</option>
					<option value="edits">Number of edits</option>
				</select>
				<select id="sort_direction" name="sort_direction" class="select sorting direction">
					<option value="asc">Ascending</option>
					<option value="desc" selected="selected">Descending</option>
				</select>
			</div>
		</div>
	</div>
	<div class="filter_context">
		
		
	
		{% for item in filter.filterlist %}
			{% include "alibrary/element/_filterbox.html" %}
		{% endfor %}
		
		
		
		
		
		
		<div class="box ">
			<div class="boxtitle " id="filterbox-user">
				<span class="noselection">Filter: User</span>
				<!--
				<span style="color: #888888;">(1)</span>
				-->
			</div>
			<div style="" class="boxcontent" id="filterbox_holder-user">
				<div class="boxitem plus">
					<a id="filterbox_item-5294256" href="/content/library/releases?filter_user=5&amp;page=1" class="filterbox_item">Show my own additions only</a>
				</div>
				<div class="boxitem plus">
					<a href="/content/library/releases?filter_user=&amp;page=1" class="search">By user: </a>
					<input type="text" id="search_user" name="search_user" value="" size="16" class="blur boxitem_user" />
				</div>
			</div>
		</div>
		<div class="box ">
			<div class="boxtitle " id="filterbox-various">
				<span class="noselection">Filter: Various</span>
				<!--
				<span style="color: #888888;">(2)</span>
				-->
			</div>
			<div style="" class="boxcontent" id="filterbox_holder-various">
				<div class="boxitem plus">
					<a id="filterbox_item-image_available" href="/content/library/releases?filter_various=image_available&amp;page=1" class="filterbox_item">Releases with Cover</a>
				</div>
				<div class="boxitem plus">
					<a id="filterbox_item-image_missing" href="/content/library/releases?filter_various=image_missing&amp;page=1" class="filterbox_item">Releases without Cover</a>
				</div>
			</div>
		</div>
		<div class="boxend"></div>
	</div>
	<div id="element">
		<div class="playlist basket expandable open">
			<div class="header">
				<span>Playlist Basket</span>
				<span style="float: right;"> <span style="color: rgb(153, 153, 153);" class="opt"> 0 </span> </span>
			</div>
			<!-- Wrapper, can hold multiple lists  -->
			<div class="wrapper"></div>
			<!-- Selector to choose default playlist -->
			<div class="settings">
				<div class="create">
					<span>New Basket:</span>
					<input type="text" name="playlist_basket_create" value="" class="create" />
					<a href="#" class="action">Go</a>
				</div>
			</div>
		</div>
	</div>