{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset e-mail sent" %}{% endblock %}

{% block app_content %}
    <div class="title">
        <h2>{% trans "Password reset e-mail sent" %}</h2>
    </div>
    <div class="form-prefix">
        <p>
            {% blocktrans trimmed %}
                Please check your inbox.<br>
                We did send an e-mail containing a link to reset your password.
            {% endblocktrans %}
        </p>
    </div>
{% endblock %}
