{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Register account"|title %}{% endblock %}

{% block app_content %}
    <div class="title">
        <h2>{% trans "Register account"|title %}</h2>
    </div>

    {% include 'account/partials/_social_auth_login.html' %}

    <div class="form-separator">
        {% trans 'Or continue with' %}
    </div>

    <div class="form-container">
        {% include 'account/partials/_form.html' with submit_text='Create Account' %}
    </div>
    <div class="form-appendix">
        <span class="alt">
            <i class="icon icon-double-angle-right"></i>
            <a href="{% url 'account:login' %}">{% trans 'Login with your existing account' %}</a>
        </span>
        <span class="alt">
            <i class="icon icon-double-angle-right"></i>
            <a href="{% url 'account:password-recover' %}">{% trans 'Reset password' %}</a>
        </span>
    </div>
{% endblock %}
