{% load truncate_tags i18n thumbnail arating_tags spacify_tags gravatar object_action_tags %}

<div class="header__primary">

  <div class="title title--primary">
    <h2>{{ object.name }}</h2>
    <small>
      {% if object.city %}{{ object.city }}{% endif %}{% if object.city and object.country %}, {% endif %}
      {% if object.country %}{{ object.country }}{% endif %}
    </small>
  </div>

  <div class="meta">

    {% if object.address1 %}
      <div class="meta__item">
        <div>
          {% trans "Address" %}:
        </div>
        <div>
          {{ object.address1 }}<br>

          {% if object.address2 %}
            {{ object.address2 }}<br>
          {% endif %}

          {% if object.zip or object.city %}
            {{ object.zip }} {{ object.city }}<br>
          {% endif %}

          {% if object.country %}
            {{ object.get_country_display }}<br>
          {% endif %}

        </div>
      </div>
    {% endif %}

    {% if object.website %}
      <div class="meta__item">
        <div>
          {% trans "Website" %}:
        </div>
        <div>
          <a href="{{ object.website }}">{{ object.website }}</a>
        </div>
      </div>
    {% endif %}
  </div>

</div>
<div class="header__secondary">
  <div class="visual">
    <visual-with-actions
            ct="{{ object.get_ct }}"
            uuid="{{ object.uuid }}"
            image-url="{% thumbnail object.image 280x280 crop upscale %}"
            large-image-url="{% thumbnail object.image 1200x1200 crop upscale %}">
    </visual-with-actions>
  </div>
</div>
