{% extends "layout_base.html" %}
{% load adv_cache hash_tags i18n static dajaxice_templatetags sekizai_tags dict_tags %}

{% block scope %}abcast.station{% endblock %}

{% block tagcloud %}
  {% include "search/tagcloud.html" %}
{% endblock %}

{% block inner %}
  <div class="list-header">
    <div class="pagination-container">
      {% include "search/pagination.html" %}
    </div>
  </div>
  <div class="list-body">
    <div class="list list--grid">
      {% for object in object_list %}
        <div class="list-item">
          {% include 'abcast/station/_card.html' %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="list-footer">
    <div class="pagination-container">
      {% include "search/pagination.html" %}
    </div>
  </div>
{% endblock %}

{% block sidebar %}{% endblock %}
