$primary-color-a: #00BB00
$primary-color-a: #00bb73
$primary-color-b: #6633CC
//$primary-color-b: #6423C8
//$primary-color-b: #00ffff
//$primary-color-b: #9c1a74

$primary-color-a-bg-light: #DDFFD9
$primary-color-a-bg-light: #BCF5E0

$primary-color-b-bg-light: #EEE6FF
$primary-color-b-bg-light: #E2D7F9


$main-color: $primary-color-a
$main-color-b: $primary-color-a
$main-link-color: $primary-color-b
$main-inverse-color: #FFFFFF
$main-content-background-color: #F5F5F5

//
$selection-bg-color: $primary-color-b-bg-light
$active-bg-color: $primary-color-a-bg-light
$hover-bg-color: $primary-color-a-bg-light


$body-color-bg: #fff
$body-color-shaded-bg: #f5f5f5

$body-color-bg: #f5f5f5
$body-color-shaded-bg: #fff

$separator-line-color: #ccc
//$separator-line-color: #000


// colors alert/success/error etc...
$success-color-bg: #4CF5A1
$success-color-text: #000

$warning-color-bg: #FFE333
$warning-color-text: #000




// sizes & dimensions
$width-maincontent: 1115px
$width-sidebar: 225px
$width-inner_content: 830px // TODO: remove
$width-inner: 830px
$footer_fix-height: 20px

$toolbar-height: 32px !default
$toolbar-font-size: 13px

// paths
$image_path: unquote("/static/img/prototype/")
$picol16x: unquote("/static/img/icons/picol16x/")
$img-path: '/static/img/prototype/'

$static-url: '/static/'


// Links
$linkColor: $primary-color-b !default
$linkColorHover: darken($linkColor, 15) !default

// Site
$siteColor: #333333 !default
$siteColorAlt: darken($siteColor, 15) !default

// Grays
$black: black !default
$grayDarker: #222222 !default
$grayDark: #333333 !default
$gray: #777777 !default
$grayLight: #cccccc !default
$grayLighter: #eeeeee !default
$grayLightest: #fafafa !default
$white: white !default

// Accent colors
$blue: #049cdb !default
$blueDark: #0064cd !default
$green: $primary-color-a !default
$red: #9d261d !default
$yellow: #ffc40d !default
$orange: #f89406 !default
$pink: #c3325f !default
$purple: #7a43b6 !default

// Typography
$baseFontSize: 12px !default
$baseFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif !default
//$baseFontFamily: 'Lucida Console', Monaco, 'Courier New', Courier !default
$baseLineHeight: 18px !default
$textColor: $grayDark !default

// Sizes headings
$baseFontSizeH1: 22px
$smallFontSizeH1: 16px
$baseLineHeightH1: $baseLineHeight * 2

$baseFontSizeH2: 18px
$smallFontSizeH2: 15px
$baseLineHeightH2: $baseLineHeight * 2

$baseFontSizeH3: 16px
$smallFontSizeH3: 13px
$baseLineHeightH3: $baseLineHeight * 1.5

$baseFontSizeH4: 14px
$smallFontSizeH4: 11px
$baseLineHeightH4: $baseLineHeight * 1




// Buttons
$primaryButtonBackground: $linkColor !default

// Corners
$baseRadiusSmall: 0px
$baseRadiusMedium: 0px
$baseRadiusLarge: 0px

$basePadding: 15px

// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown: 1000 !default
$zindexPopover: 1010 !default
$zindexTooltip: 1020 !default
$zindexFixedNavbar: 1030 !default
$zindexModalBackdrop: 1040 !default
$zindexModal: 1050 !default

// Sprite icons path
$iconSpritePath: "../img/glyphicons-halflings.png"
$iconWhiteSpritePath: "../img/glyphicons-halflings-white.png"

// Input placeholder text color
$placeholderText: $grayLight !default

// Hr border color
$hrBorder: $grayLighter !default

// Navbar
$navbarHeight: 40px !default
$navbarBackground: $grayDarker !default
$navbarBackgroundHighlight: $grayDark !default
$navbarLinkBackgroundHover: transparent !default

$navbarText: $grayLight !default
$navbarLinkColor: $grayLight !default
$navbarLinkColorHover: $white !default

// Form states and alerts
$warningText: #c09853 !default
$warningBackground: #f7fc87 !default
$warningBorder: darken(adjust-hue($warningBackground, -10), 3%) !default

$errorText: #ff743e !default
$errorBackground: #ffeed4 !default
$errorBorder: darken(adjust-hue($errorBackground, -10), 3%) !default

$successText: $primary-color-a !default
$successBackground: $primary-color-a-bg-light !default
$successBorder: darken(adjust-hue($successBackground, -10), 5%) !default

$successTextAlt: $primary-color-b !default
$successBackgroundAlt: #f3f0fb !default
$successBorderAlt: darken(adjust-hue($successBackgroundAlt, -10), 5%) !default

$infoText: $primary-color-a !default
$infoBackground: $primary-color-a-bg-light !default
$infoBorder: darken(adjust-hue($successBackground, -10), 5%) !default

//$infoText: #7a7a7a !default
//$infoBackground: #FFFCDE !default
//$infoBorder: darken(adjust-hue($infoBackground, -10), 7%) !default

// GRID
// --------------------------------------------------

// Default 940px grid
$gridColumns: 12 !default
$gridColumnWidth: 70px !default
$gridGutterWidth: 25px !default
$gridRowWidth: $gridColumns * $gridColumnWidth + $gridGutterWidth * ($gridColumns - 1)

// Fluid grid
$fluidGridColumnWidth: 6.383% !default
$fluidGridGutterWidth: 2.128% !default
