{% load alibrary_tags %}

<div id="playlist_transform" class="playlist-edit transform listing menu-context">

  <div class="page-header">
    <h3>Transform</h3>
    <p>
      In order to save a broadcast-ready playlist some criterias have to be correct.<br>
      The current type is "<strong>{{ object.get_type_display }}</strong>".
    </p>
  </div>


    <!-- check available transformations -->

  {% if not object.type == "playlist" %}

    {% transform_status object "playlist" as transformation %}

    <div class="criterias criterias-playlist">

      <span class="title">Public Playlist</span>

      <p>Other users can see and listen.
        {% if object.type == "basket" %}
          <br>
          NOTE! Once a playlist is public you cannot make it private again!
        {% endif %}
      </p>
      {% for criteria in transformation.criterias %}
        <div class="summary item criteria {{ criteria.key }} {% if criteria.status %}success{% else %}warning{% endif %}">

          <span class="title">
            {% if criteria.status %}
              <i class="icon-check-sign"></i>
            {% else %}
              <i class="icon-warning-sign"></i>
            {% endif %}
            {{ criteria.name }}
          </span>

          {% if not criteria.status %}
            <div class="information">
              <p>{{ criteria.warning }}</p>
            </div>
          {% endif %}

        </div>
      {% endfor %}


      <div class="menu-context">
        <div class="action-group">
          <ul class="unstyled">
            <li class="action">
              <a class="hoverable {% if not transformation.status %} disabled{% endif %}"
                 href="{% url "alibrary:playlist-convert" object.pk "playlist" %}"
                 title="Make playlist public">
                <i class="icon icon-exchange"></i>
                {% if  object.type == "broadcast" %}
                  <span>Revert from broadcastable to public</span>
                {% else %}
                  <span>Make playlist public</span>
                {% endif %}


              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  {% endif %}

    {# sorry, not very dry #}
  {% if not object.type == "broadcast" %}
    {% transform_status object "broadcast" as transformation %}

    <div class="criterias criterias-broadcast">

      <span class="title">Broadcast Playlist</span>

      <p>You and other users can schedule the playlist for broadcasting.</p>

      {% for criteria in transformation.criterias %}
        <div class="summary item criteria {{ criteria.key }} {% if criteria.status %}success{% else %}warning{% endif %}">

          <span class="title">
            {% if criteria.status %}
              <i class="icon-check-sign"></i>
            {% else %}
              <i class="icon-warning-sign"></i>
            {% endif %}
            {{ criteria.name }}
          </span>

          {% if not criteria.status %}
            <div class="information">
              <p>{{ criteria.warning }}</p>
            </div>
          {% endif %}

        </div>
      {% endfor %}


      <div class="menu-context">
        <div class="action-group">
          <ul class="unstyled">
            <li class="action">
              <a class="hoverable {% if not transformation.status %} disabled{% endif %}"
                 href="{% url "alibrary:playlist-convert" object.pk "broadcast" %}"
                 title="Make playlist broadcastable">
                <i class="icon icon-exchange"></i>
                <span>Make playlist broadcastable</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  {% endif %}



  <div class="summary-holder">
        <!-- loaded by nj -->
  </div>

</div>

