<p>
    <span class="relation{% if match %} match{% endif %}{% if no_match %} diff{% endif %}"
         data-service="{{ object.service }}"
         data-url="{{ object.uri }}">
         <span style="white-space: nowrap;">
             {% if match %}
                <i class="icon-link"></i>
             {% else%}
                 <i class="icon-chevron-sign-up"></i>
             {% endif %}

             <a href="{{ object.uri }}" class="skip-external" target="_blank">{{ object.uri }}</a></span>
    </span>
</p>