{% extends "invitation/base.html" %}
{% load i18n %}

{% block heading %}

    <div id="heading">
        {% with page_title="Invitation" %}
            {% include "skeleton/heading.html" %}
        {% endwith %}
    </div>

{% endblock %}

{% block sidebar %}
<div class="listing menu_context">

	<div class="page-header">
		<h2>{% trans "Please note!" %} <small>!</small></h2>
	</div>

	<div>
		<ul>
            <li><a href="https://musicbrainz.org/doc/MusicBrainz_Picard">Read more about users and invitations</a></li>
            <li>{% trans "If this all sounds too complicated, please don't hesitate to contact our" %} <a href="#">support</a></li>
		</ul>
	</div>

</div>
{% endblock %}

{% block content %}

    <form method="post" class="" action="" style="margin-top: 40px;">{% csrf_token %}

        {# include 'invitation/form_fields.html' #}

        <ul class="unstyled">
        {{ form.as_ul }}
        </ul>

        <div class="actions">
            <input type="submit"
                   class="btn btn-primary pull-right"
                   value="{% trans "Send Invitation" %}"/>
        </div>
    </form>


{% endblock %}
