{% load sekizai_tags %}

{% addtoblock "js-post" %}
<script id="tpl_chat_message" type="text/html">

    {% verbatim %}
    <li class="item comment {{ object.me }}">
        <img src="{{ media_url }}{{ object.image }}" />
        <p>
            <strong class="pull-right">{{ object.user }}<span class="timestamp">{{ timestamp }}</span></strong>
            <span class="message">{{ object.comment_html }}</small>
        </p>
    </li>
    {% endverbatim %}
</script>
{% endaddtoblock %}

<div class="listing">
	<ul class="unstyled"></ul>
</div>


