{% load cms_tags i18n menu_tags adv_cache version_tags subscription_tags %}

{% cache 600 "footer" request.get_full_path %}
<div class="container">

    <div class="row">

        <div class="span3">

            <h4>{% trans 'Address' %}</h4>

            <p class="address">
                <!--<img src="{{ STATIC_URL }}img/base/favicon.png">-->openbroadcast.org ©{% now "Y" %}<br>
                Renggerstrasse 31<br>
                8038 Zürich<br>
                A plattform by <a href="http://www.digris.ch/">Digris AG</a>
            </p>
        </div>


        <div class="span5">

            <h4>{% trans 'Quicklinks' %}</h4>

            <dl class="contact dl-horizontal">

               <dt>General contact</dt>
               <dd><a href="mailto:info@openbroadcast.org">info@openbroadcast.org</a></dd>

               <dt>Support</dt>
               <dd><a href="mailto:info@support.org">support@openbroadcast.org</a></dd>

               <dt>Documentation</dt>
               <dd><a href="/doc/">www.openbroadcast.org/doc/</a></dd>

               <dt>Issue Tracker</dt>
               <dd><a href="https://lab.hazelfire.com/projects/openbroadcast-org">lab.hazelfire.com/projects/openbroadcast-org</a></dd>

            </dl>

        </div>


        <div class="span4">
            {% subscription_form %}
        </div>


    </div>

    <div class="row meta">
        <div class="span9">
            <p class="version">
                {% version_by_git %}
            </p>
        </div>
        <div class="span3">
            <p class="muted credit pull-right">developed by <a href="http://hazelfire.com">hazelfire GmbH</a></p>
        </div>
    </div>


<!--
    <div class="row">
        <div class="span12">
            <ul class="sitemap unstyled">
                {% show_menu 0 1 100 100 %}
                <span class="clear"></span>
            </ul>

        </div>
    </div>



    <div class="row">
        <div class="span9">
            <p class="muted credit">
                © openbroadcast.org {% now "Y" %} |
                Renggerstrasse 31, CH-8038 Zurich, Switzerland
            </p>

            <p class="version">
                {% version_by_git %}
            </p>

            {%  comment %}
            <p class="version">
                {% locale_info %}
            </p>
            {%  endcomment %}

        </div>
        <div class="span3">
            <p class="muted credit pull-right">developed by <a href="http://hazelfire.com">hazelfire GmbH</a></p>
        </div>


    </div>
    -->


</div>
{% endcache %}