
<div class="listing">
    {% for item in results %}
        <div class="item hoverable clearfix" data-resource_uri="{{ item.api_url }}">
            <div class="">
                <div class="image">
                    <img src="{{ item.image }}"/>
                </div>
                <div class="information">
                    <span class="title">{{ item.name }}<small class="pull-right">{{ item.duration|s2time }}</small></span>
                    <div class="related">
                        <ul class="unstyled horizontal">
                            {% if item.artist_display %}
                                <li><small>by:</small> {{ item.artist_display }}</li>
                            {% endif %}

                            {% if item.release_display %}
                                <li><small>&nbsp;on:</small> {{ item.release_display }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
