// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
  background: #000;

  .footer {
    width: 100%;
    max-width: $g-content-max-width;
    margin: 0 auto;
    padding: 24px 0 12px;

    color: #cdcdcd;

    &__primary {
      display: flex;

      h4,
      p,
      dl,
      a {
        color: inherit;
      }

      h4 {
        margin-bottom: 12px;
      }

      p,
      dl {
        margin: 0;
      }
    }

    &__address {
      padding-right: 64px;
    }

    //&__links {
    //
    //}

    &__appendix {
      p {
        color: inherit;
        text-align: right;
      }

      a {
        color: #fff;
      }
    }
  }
}
