


body.base {
  &.is-fullscreen {
    // background: #fff !important;

    .topbar {
      display: none;
    }

    footer {
      display: none;
    }

    .main {
      height: 100%;
      padding-top: 0;
      padding-bottom:0;
      max-width: calc(100vw - 40px);
      width: 100%;
      margin: 0 auto;
      min-height: 100vh;
    }

  }
}
