@charset "UTF-8";

.content__sidebar .menu-context {

  $separator-line-color: #ccc;

  &--prefix {
    padding-bottom: 12px;

    .title {
      font-size: 120%;
    }
  }

  &--appendix {
    padding-bottom: 12px;
  }

  &--prefix,
  &--appendix {
    ul {
      list-style-position: inside;
      list-style-type: circle;
    }
  }

  .action-group {
    ul {
      margin: 0 0 12px 0;
      padding: 0;

      border-top: 1px solid $separator-line-color;

      li {
        display: inline-block;
        width: 100%;

        border-bottom: 1px solid $separator-line-color;

        a {
          display: block;
          padding: 3px 0 4px 0.5rem;
          // padding-left: .5rem;

          i {
            display: block;
            float: left;
            width: 20px;
            padding: 3px 0 3px 0;
          }

          small {
            padding-right: 3px;
          }

          &.hover {
            text-decoration: none;

            background: $primary-color-light;
          }

          &.disabled {
            color: #bbb;

            cursor: wait;

            &.hover {
              background: #efefef;
            }
          }
        }
      }
    }
  }
}
