{% extends "ajaxaccount/base.html" %}

{% load i18n %}
{% load allauth_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block body %}
    <h1>{% trans "Sign Up" %}</h1>
    
    
{% if extra == "login_reason" %}
{% include "account/snippets/login_reason.html" %}
{% endif %}
    
    
    <h2>{% trans "Sign Up with an existing account" %}</h2>
    
	<div class="socialaccount providers">
	
		<ul class="horizontal">
		{% include "socialaccount/snippets/provider_list.html" %}
		</ul>
	
	</div>
	
	<h2>{% trans "Or create a new account" %}</h2>
	




    {% if user.is_authenticated %}
		{% include "account/snippets/already_logged_in.html" %}
    {% else %}
        
        
        <form class="signup uniForm" id="signup_form" method="post" action="{% url account_signup %}">
            {% csrf_token %}
            <fieldset class="inlineLabels">
                {{ form.as_p }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="buttonHolder">
                    <button class="primaryAction" type="submit">{% trans "Sign Up" %} &raquo;</button>
                </div>
            </fieldset>
        </form>
        
        <p>{% trans "Already have an account?" %} <a href="{{ login_url }}">{% trans "Sign in here" %}</a>.</p>
        
    {% endif %}
    
    {% fbconnect %}
    
{% endblock %}


