{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password"|title %}{% endblock %}

{% block app_content %}


        <div class="title">
            <h2>{% trans "Reset password"|title %}</h2>
        </div>
        <div class="form-prefix">
            <p>
                {% blocktrans trimmed %}
                    We will send an e-mail containing a link to reset your password.
                {% endblocktrans %}
            </p>
        </div>
        <div class="form-container">
            {% include 'account/partials/_form.html' with submit_text='Reset Password' %}
        </div>
        <div class="form-appendix">

        </div>

{% endblock %}
