{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Set new password"|title %}{% endblock %}

{% block app_content %}
    <div class="title">
        <h2>{% trans "Set new password"|title %}</h2>
    </div>
    {% if invalid_token %}
        <div class="form-prefix">
            <p>
                {% blocktrans trimmed %}
                    Sorry - this reset link is invalid or expired.<br>
                    Please try to reset your password again.
                {% endblocktrans %}
            </p>
            <br>
            <p>
                <span class="alt">
                    <i class="icon icon-double-angle-right"></i>
                    <a href="{% url 'account:password-recover' %}">{% trans 'Reset password' %}</a>
                </span>
            </p>
        </div>
    {% else %}
    <div class="form-container">
        {% include 'account/partials/_form.html' with submit_text='Set New Password' %}
    </div>
    {% endif %}
{% endblock %}
