<div class="info">

    <a class="pull-right exit btn" data-action="exit">close <i class="icon icon-remove-sign"></i></a>
    <strong>Merge items</strong>
    <p>This action cannot be reverted once confirmed.</p>

</div>


<div class="listing" style="max-height: 400px; overflow: auto; width: 700px;">


    {% if objects.length < 1 %}

        <p>
            Sorry - but we could not find any objects to merge.
        </p>
    {% endif %}

    {% for object in objects %}

        <div class="item object {{ item_type }}" data-uri="{{ object.uri }}" data-id="{{ object.id }}">

            <div class="row-fluid">


                <div class="span2">
                    {% if object.main_image %}
                        <img src="{{ object.main_image }}">
                    {% else %}{% if object.release and object.release.main_image %}
                        <img src="{{ object.release.main_image }}">
                    {% else %}
                        <img src="/static/img/base/defaults/listview.release.xl.png">
                    {% endif %}{% endif %}
                </div>

                <div class="span10">

                        <strong>{{ object.name }}

                            <small class="pull-right pk">ID: {{ object.id }}</small>

                            {% if item_type == "release" %}
                            <small class="pull-right"> {{ object.media.length }} Tracks</small>
                            {% endif %}
                            {% if item_type == "artist" %}
                            <small style="font-weight: normal; font-size: 90%; opacity: 0.7; padding-left: 10px;"> {{ object.type }}</small>
                            <small class="pull-right"> {{ object.media_count }} Tracks</small>
                            {% endif %}
                            {% if item_type == "label" %}
                            <small class="pull-right"> {{ object.release_count }} Releases</small>
                            {% endif %}


                        </strong>

                        <ul class="unstyled">
                            {% if item_type == "release" %}
                                <li>
                                    <span class="value">
                                        <strong>{{ object.releasedate }} {% if object.releasedate and object.release_country %} | {% endif %} {{ object.release_country }}</strong>
                                    </span>
                                </li>
                                <li>
                                    <span class="title">
                                        Artist:
                                    </span>
                                    <span class="value">
                                        {% for artist in object.artist %}
                                            <strong>
                                                {% if artist.artist %}
                                                    {{ artist.artist }}
                                                {%  else %}
                                                    {{ artist }}
                                                {%  endif %}
                                                {% if not loop.last %},{% endif %} </strong>
                                        {% endfor %}
                                    </span>
                                </li>

                                {% if object.label and object.label.name %}
                                <li>
                                    <span class="title">
                                        Label:
                                    </span>
                                    <span class="value">
                                        <strong>{{ object.label.name }}</strong>
                                    </span>
                                </li>
                                {% endif %}

                                {% if object.catalognumber %}
                                <li>
                                    <span class="title">
                                        Catalog #:
                                    </span>
                                    <span class="value">
                                        <strong>{{ object.catalognumber }}</strong>
                                    </span>
                                </li>
                                {% endif %}

                            {% endif %}



                            {% if item_type == "artist" %}

                                {% if object.country_name %}
                                <li>
                                    <span class="value">
                                        {{ object.country_name }}
                                    </span>
                                </li>
                                {% endif %}

                                {% if object.real_name %}
                                <li>
                                    <span class="title">
                                        Real name:
                                    </span>
                                    <span class="value">
                                        {{ object.real_name }}
                                    </span>
                                </li>
                                {% endif %}

                                <li>
                                    <span class="value">
                                        {% if object.date_start %}*{{ object.date_start }}{% endif %} {% if object.date_end %}✝{{ object.date_end }}{% endif %}
                                    </span>
                                </li>


                                {% if object.disambiguation %}
                                <li>
                                    <span class="value">
                                        {{ object.disambiguation }}
                                    </span>
                                </li>
                                {% endif %}

                            {% endif %}


                            {% if item_type == "label" %}
                                <li>
                                    <span class="value">{{ object.type_display }}</span>
                                </li>
                                {% if object.labelcode %}
                                <li>
                                    <span class="title">
                                        Label code:
                                    </span>
                                    <span class="value">
                                        <strong>{{ object.labelcode }}</strong>
                                    </span>
                                </li>
                                {% endif %}
                            {% endif %}


                            {% if item_type == "media" %}
                                <li>
                                    <span class="value">
                                        {% if object.mediatype %}
                                            {{ object.mediatype|upper }} |
                                        {% endif %}
                                        {% if object.artist %}
                                            by: {{ object.artist.name }}
                                        {% endif %}
                                    </span>
                                </li>

                                {% if object.release %}
                                <li>
                                    <span class="value">
                                        on: {{ object.release.name }}
                                    </span>
                                </li>
                                {% endif %}


                                <li>
                                    <span class="value">
                                        {% if object.master_encoding %}
                                            {{ object.master_encoding|upper }} |
                                        {% endif %}
                                        {% if object.bitrate %}
                                            {{ object.bitrate }} kbps |
                                        {% endif %}
                                        {% if object.duration %}
                                            {{ object.duration|ms2time }} |
                                        {% endif %}
                                        {% if object.original_filename %}
                                            Original file: {{ object.original_filename }}
                                        {% endif %}
                                    </span>
                                </li>


                                {% if object.playlist_usage %}
                                <li>
                                    <span class="value warning">
                                        Used {{ object.playlist_usage }} time(s) in a playlist!
                                    </span>
                                </li>
                                {% endif %}


                            {% endif %}


                        </ul>

                </div>

            </div>


        </div>



    {% endfor %}
</div>


<div class="action">
    <form class="form-horizontal">
        <a class="pull-right confirm btn btn-primary" data-action="confirm" type="button">Confirm Merge</a>
    </form>
</div>
