@charset "UTF-8";

@mixin item-header {
  display: grid;
  grid-template-columns: auto 190px;
  background: $white;

  .header {
    &__primary {
      flex-grow: 1;
      padding: 1rem;

      .title {
        display: flex;
        align-items: baseline;
        margin-bottom: 0.5rem;

        small {
          margin-left: 10px;
          color: #5a5a5a;
          font-weight: 200;
          font-size: 1.2rem;
        }
      }

      .meta {
        margin-bottom: 1rem;
        line-height: 150%;

        &:last-child {
          margin-bottom: 0;
        }

        &__item {
          display: grid;
          grid-template-columns: 120px minmax(auto, 60%);
          margin-bottom: 0.25rem;

          &:last-child {
            margin-bottom: 0;
          }

          a,
          span {
            white-space: nowrap;
          }

          &__grid {
            display: grid;
            grid-column-gap: 8px;
            grid-template-columns: fit-content(50%) fit-content(50%);
          }
        }
      }
    }

    &__secondary {
      padding: 1rem;

      .visual {
        max-width: 190px;
        max-height: 190px;

        // filter: drop-shadow(4px 4px 10px rgba(0,0,0,0.3));
        box-shadow: 1px 2px 10px 2px rgba(0,0,0,0.05);

        img {
          width: 100%;
          height: 100%;
        }

        figure {
          margin: 0;
        }
      }

      .rating {
        display: flex;
        justify-content: center;
        float: none;
        //margin: 5px auto;
      }
    }
  }

  .tags {
    .tag {
      display: inline-flex;
      margin-bottom: 3px;
      padding: 2px 6px 1px;
      color: #555;
      font-size: 90%;
      text-transform: uppercase;
      background: #ffffff;
      border: 1px solid #e0e0e0;
      border-left: 2px solid #00bb73;
    }
  }
}

@mixin section-menu {
  $border-color: #ddd;
  $bg-color: #f5f5f5;

  display: flex;
  background: $white;

  border-bottom: 1px solid $border-color;
  // justify-content: center;

  .menu-item {
    margin: 0 0 -1px 10px;
    color: #a5a5a5;
    text-transform: uppercase;
    text-decoration: none;
    background: $bg-color;
    border: 1px solid $bg-color;
    border-bottom-color: $border-color;

    a {
      display: inline-block;
      padding: 1px 12px;
      color: inherit;
      text-decoration: inherit;
    }

    &:hover {
      color: v(secondary-color);
      background: $white;
    }

    &--active {
      color: #777;
      background: $bg-color;
      border-color: #ccc;
      border-bottom: 0;

      &:hover {
        color: inherit;
        background: $bg-color;
      }
    }
  }
}

@mixin item-body {
  background: transparent;
}
