@charset "UTF-8";

@mixin item-header {
  background: $white;
  display: grid;
  grid-template-columns: auto 190px;

  .header {
    &__primary {
      flex-grow: 1;
      padding: 10px;

      .title {
        display: flex;
        align-items: baseline;
        margin-bottom: 4px;

        small {
          font-size: 1.2rem;
          font-weight: 200;
          color: #5a5a5a;
          margin-left: 10px;
        }
      }

      .meta {
        line-height: 150%;

        &__item {
          display: grid;
          grid-template-columns: 120px minmax(auto, 60%);
          margin-bottom: 0.5rem;

          &:last-child {
            margin-bottom: 0;
          }

          a,
          span {
            white-space: nowrap;
          }

          &__grid {
            display: grid;
            grid-template-columns: fit-content(50%) fit-content(50%);
            grid-column-gap: 8px;
          }
        }
      }
    }

    &__secondary {
      padding: 10px;

      .visual {
        max-width: 190px;
        max-height: 190px;

        img {
          width: 100%;
          height: 100%;
        }

        figure {
          margin: 0;
        }
      }

      .rating {
        margin: 5px auto;
        float: none;
        display: flex;
        justify-content: center;
      }
    }
  }

  .tags {
    .tag {
      background: black;
      padding: 2px 4px 1px;
      color: #fff;
      text-transform: uppercase;

      //&--sub-genre {
      //  background: #79000b;
      //}

      //&--mood {
      //  background: #00aeff;
      //}
    }

    .tag__ {
      background: #fff;
      padding: 2px 4px 1px;
      color: #999;
      border: 1px solid #c7c7c7;
      text-transform: uppercase;
    }
  }
}

@mixin section-menu {
  $border-color: #ddd;
  $bg-color: #f5f5f5;

  border-bottom: 1px solid $border-color;
  background: $white;
  display: flex;
  // justify-content: center;

  .menu-item {
    margin: 0 0 -1px 10px;
    border: 1px solid $bg-color;
    border-bottom-color: $border-color;
    text-decoration: none;
    color: #a5a5a5;
    background: $bg-color;

    a {
      padding: 1px 12px;
      display: inline-block;
      color: inherit;
      text-decoration: inherit;
    }

    &:hover {
      color: v(secondary-color);
      background: $white;
    }

    &--active {
      border-bottom: 0;
      color: #777;
      background: $bg-color;
      border-color: #ccc;

      &:hover {
        color: inherit;
        background: $bg-color;
      }
    }
  }
}

@mixin item-body {
  background: transparent;
}
