{% extends "registration/registration_base.html" %}

{% load crispy_forms_tags i18n sekizai_tags webdesign %}

{% block title %}Reset password{% endblock %}

{% block content %}

    <h4 style="margin-bottom: 20px;">{% trans "Forgot your password?" %}</h4>

    <p>{% trans "Enter your e-mail in the form below and we'll send you instructions for creating a new one." %}</p>
    <form method="post" class="form-horizontal" action="">{% csrf_token %}
        {% include 'registration/form_fields.html' %}

        <input type="submit" class="btn btn-primary pull-right" value="> {% trans "Reset password" %}"/>
        <div class="clear"></div>
    </form>

    {% include "registration/_social_auth.html" %}

{% endblock %}

{% block sidebar %}{% endblock %}
