{% extends "registration/registration_base.html" %}

{% load crispy_forms_tags i18n sekizai_tags webdesign %}

{% block title %}Change password{% endblock %}

{% block content %}

    <h4 style="margin-bottom: 20px;">{% trans "Change password" %}</h4>

    <p>{% trans "Please make sure to use a 'not so easy to guess' password!" %}</p>
    <form method="post" class="form-horizontal" action="">{% csrf_token %}
        {% include 'registration/form_fields.html' %}

        <input type="submit" class="btn btn-primary pull-right" value="> {% trans "Reset password" %}"/>
        <div class="clear"></div>
    </form>


{% endblock %}

{% block sidebar %}{% endblock %}
