{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}Register for an account{% endblock %}
{% block content %}

    <h4 style="margin-bottom: 20px;">{% trans "Register" %}</h4>

    {# include 'registration/form_errors.html' #}
    <form method='post' class="form-horizontal" action=''>{% csrf_token %}
        {% include 'registration/form_fields.html' %}

        <input type="submit" class="btn btn-primary pull-right"
               value="> {% trans "Register Account" %}"/>
        <div class="clear"></div>
    </form>

    {% include "registration/_social_auth.html" %}

{% endblock %}
