{% extends "layout_base.html" %}
{% load i18n webdesign %}


{% block heading %}
<div id="heading">
	{% with page_title="Account" %}
	{% include "skeleton/heading.html" %}
	{% endwith %}
</div>
{% endblock %}




{% block inner %}
    <section class="registration">
    {% block content %}{% endblock %}
    </section>
{% endblock %}

{% block sidebar %}
<div class="listing menu_context">

	<div class="page-header">
		<h2>{% trans "Please note!" %} <small>!</small></h2>
		<p>{% lorem 15 w random %}</p>
		<p>{% lorem 7 w random %}</p>
	</div>

	<div>
		<ul>
            <li><a href="https://musicbrainz.org/doc/MusicBrainz_Picard">Read more about users and invitations</a></li>
            <li>{% trans "If this all sounds too complicated, please don't hesitate to contact our" %} <a href="#">support</a></li>
		</ul>
	</div>

</div>
{% endblock %}


