{% load i18n sekizai_tags %}

<a  href="#"
    id="subscription_button_{{ instance.pk }}"
    data-reveal-id="subscription_modal_{{ instance.pk }}"
    class="plugin subscription button expand radius"
    data-channel="{{ instance.channel }}">
    <div class="inner">
        <span>{{ instance.button_text }}</span>
        {% if instance.button_subline %}
            <p>{{ instance.button_subline }}</p>
        {% endif %}
    </div>
</a>

<div id="subscription_modal_{{ instance.pk }}" class="reveal-modal small plugin subscription" data-reveal aria-labelledby="Subscription" aria-hidden="true" role="dialog">

    <div class="newsletter-container small-12 medium-12 columns small-only-text-center">
        <form action="." method="post" id="subscription_form_{{ instance.pk }}">

            <h2 class="label">
                {{ instance.button_text }}
            </h2>

            {% if instance.popup_text %}
            <p>
                {{ instance.popup_text|linebreaksbr }}
            </p>
            {% endif %}

            <input name="channel" type="hidden" value="{{ instance.channel }}" >

            <div class="row collapse">
                <div class="small-12 columns">
                    <input name="email" style="margin-bottom: 4px;" type="text" placeholder="signup@example.com">
                </div>
            </div>
            <div class="row collapse">
                <div class="small-8 medium-8 columns">
                    <input name="name" type="text" placeholder="{% trans 'Your Name' %}">
                </div>
                <div class="small-4 medium-4 columns">
                    <a data-action="subscribe" href="#" class="button postfix small expand no-pip">{% trans 'Sign Up' %}</a>
                </div>
            </div>

            <div class="form-messages"><!-- loaded dynamically --></div>

        </form>
    </div>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>


{% addtoblock 'js_ext' %}
    <script>

        $(function(){

            var subscription_form = $('#subscription_form_{{ instance.pk }}');
            $(subscription_form).on('click', 'a[data-action]', function(e){

                e.preventDefault();
                var action = $(this).data('action');
                var email = $('input[name="email"]', subscription_form).val();
                var name = $('input[name="name"]', subscription_form).val();
                var channel = $('input[name="channel"]', subscription_form).val();
                var message_container = $('.form-messages', subscription_form);

                var url = '{% url 'subscription-subscribe' list_id=newsletter.id %}';

                var data = {
                    action: action,
                    name: name,
                    channel: channel,
                    email: email
                };

                $.post(url, data, function(response) {

                    if(response.success) {
                        subscription_form.removeClass('error');
                        var html = '<p>' + response.message + '</p>';

                        // TODO: refactor later on. triggers event to be used with custom trackers
                        $(document).trigger('subscription', ['newsletter', 'subscribe']);

                        {% if instance.redirect %}
                            document.location.href = '{{ instance.redirect.get_absolute_url }}';
                        {% endif %}

                    } else {
                        subscription_form.addClass('error');
                        var html = '<p>' + response.message + '</p>';
                    }

                    message_container.html(html);

                });

            });
        });

    </script>
{% endaddtoblock %}