// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@mixin button($color: $primary-color, $hover-color: null) {
  @if $hover-color == null {
    $hover-color: $color;
  }

  color: $color;
  background: $white;
  display: inline-flex;
  // align-content: center;
  padding: 2px 10px;
  border: 2px solid $color;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: $base-font-weight;
  transition: border-radius 100ms;

  &:hover {
    text-decoration: none;
    background: $hover-color;
    color: get-contrast-color($hover-color);
    border-radius: 4px;
  }

  i {
    display: inline-flex;
    align-items: center;
    margin-right: 0.5rem;
    line-height: inherit;
    color: inherit;
  }
}

.button {
  @include button($color: $primary-color);

  // button color / state styles
  &--secondary {
    @include button($color: $secondary-color);
  }

  &--disabled {
    @include button($color: #A5A5A5);

    pointer-events: none;
    cursor: not-allowed;
  }

  &--cancel {
    @include button($color: #A5A5A5);

    &:hover {
      color: white;
    }
  }

  // button sizes
  &--l {
    padding: 0 16px;
    height: 24px;
    line-height: 24px;

    &:hover {
      border-radius: 4px;
    }
  }

  &--xl {
    padding: 0 20px;
    font-size: 120%;
    height: 32px;
    line-height: 32px;

    &:hover {
      border-radius: 8px;
    }
  }
}

button {
  &.button {
    flex-direction: row;
  }
}
