@charset "UTF-8";

@mixin input-container-flex {
  display: flex;
  flex-direction: column;
  // flex based input container. used only in account app
  // TODO: refactor to grid layout.
  margin: 0 0 8px 0;

  &__field {
    display: flex;
    align-items: center;
    width: 100%;

    label {
      margin-right: 12px;
      font-weight: 300;
    }

    input {
      padding: 4px;
      transition-property: none;
    }

    .fl-wrap-input {
      width: 100%;
    }
  }

  &__field-help {
    display: none;
    width: 100%;
    font-size: 80%;
    opacity: 0.8;
  }

  &__field-errors {
    width: 100%;
    padding-top: 4px;
    color: $error-color;
  }

  &--has-errors {
    input {
      border-color: $error-color;
    }
  }
}

@mixin input-container-grid {
  display: grid;
  grid-template-areas: "label field" ". appendix";
  grid-template-columns: 120px auto;

  &.is-checkbox {
    grid-template-areas: "field label" "appendix appendix";
    grid-template-columns: 2rem auto;
  }

  &.no-label {
    grid-template-areas: "field" "appendix";
    grid-template-columns: auto;
  }

  input,
  textarea,
  select {
    width: 100%;
    min-height: 2rem;
    padding: 0.25rem 0.5rem;
  }

  .label {
    display: flex;
    grid-area: label;
    align-items: flex-start;
    min-height: 2rem;
    line-height: 2rem;

    &__required {
      display: inline-block;
      padding-left: 0.25rem;
      color: red;
    }
  }

  .field {
    display: flex;
    grid-area: field;
    align-items: center;
    min-height: 2rem;

    ul {
      width: 100%;
      margin: 0;
      padding: 0;
      column-count: 4;
      column-gap: 2rem;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        width: 100%;

        label {
          display: flex;
          align-items: center;

          input {
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
          }
        }
      }
    }
  }

  .appendix {
    grid-area: appendix;
    padding: 0.25rem 0.5rem;

    .help {
      opacity: 0.5;
    }

    .errors {
      // font-weight: 700;
    }
  }

  &.has-error {
    .appendix {
      .errors {
        color: red;
      }
    }

    input,
    textarea,
    select {
      background: #ffd7c3;
      border-color: red;
    }
  }
}

@mixin form-default-actions {
  display: flex;
  justify-content: flex-end;

  &__action {
    min-width: 10rem;
    height: 28px;
    margin: 0 0 0 1rem;
    padding: 0 20px;
    line-height: 28px;

    &:hover {
      border-radius: 4px;
    }
  }
}

@mixin form-grid {
  .form-grid-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 2rem;
  }

  .form-grid-cell {
    //display: grid;
    //grid-auto-flow: column;
    //grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

@mixin fileinput {
  .fileinput--inline {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 100px auto;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    li:nth-child(2) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      input {
        height: 100%;
      }
    }
  }
}

@mixin form-default-input {
  textarea,
  select,
  input {
    border: 1px solid $light-grey;
    // remove webkit glow
    outline: none;

    &:hover {
      border-color: $mid-grey;
    }

    &:focus {
      background: $primary-color-light;
      border-color: $mid-grey;
    }
  }

  textarea {
    line-height: 150%;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset;
  }
}

@mixin form-default-layout {
  .form {
    @include form-grid;
    @include form-default-input;

    .actions {
      @include form-default-actions;
    }

    fieldset {
      margin: 0.5rem 0 1rem;
      padding: 0 0 10px;

      legend {
        width: 100%;
        margin-bottom: 0;
        color: inherit;
        font-size: 1.4rem;
        line-height: 2rem;
        border-bottom: 1px solid #e5e5e5;
        opacity: 0.75;
      }

      > :nth-child(2) {
        // border: 10px solid orangered;
      }
    }

    .fieldset-hint {
      margin: 1rem 0;
      padding: 1rem;
      background: #e2d7f9;
    }

    // defined / styled in component
    // TODO: is it a good idea to have `input-container` styles inside vue component?
    .input-container {
      margin: 0.25rem 0;

      @include fileinput;
    }
  }

  .form-prefix {
    background: deepskyblue;
  }

  .form-appendix {
    background: hotpink;
  }
}
