@charset "UTF-8";

@import "../components/form";
@import "mixins/detail";
@import "mixins/list";
@import "mixins/edit";

.content__primary {
  > .item {
    display: flex;
    flex-direction: column;
  }

  // detail views
  .item {
    &--header {
      @include item-header;
    }

    &--section-menu {
      @include section-menu;

      padding-top: 20px;
    }

    &--body {
      @include item-body;

      margin-top: 20px;
    }
  }

  // list views
  .list {
    &--grid {
      @include grid-layout;

      .list-item {
        @include list-item--grid;
      }
    }
  }

  .list-header,
  .list-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .controls-container {
      @include list-controls;
    }

    .pagination-container {
      @include pagination;
    }
  }

  .list-header {
    margin-bottom: 20px;
  }

  .list-footer {
    margin-top: 20px;
  }

  .list-prefix {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  .list-appendix {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    .action {
      font-size: 120%;
    }
  }

  // form views
  .edit {
    @include form-default-layout;

    margin: 2rem 0 1rem 0;

    //@include form-vue;
    //@include form-grid;
  }
}
