@charset "UTF-8";

body.home {
  margin-top: 32px !important;
}

$h1-font-size: 36px;
$h2-line-height: 40px;
$h2-font-weight: 600;

%typography-base {
  font-weight: 300;
  font-size: 14px;
  font-family: "Helvetica Neue", "Source Sans Pro", sans-serif;
  line-height: 20px;
  letter-spacing: 1px;
}

%typography-teaser {
  h1,
  h2 {
    margin: 0 !important;
  }

  h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 48px;
  }

  h2 {
    font-weight: 300;
    font-size: 42px;
    line-height: 48px;
  }
}

///////////////////////////////////////////////////////////////
// teaser styles
///////////////////////////////////////////////////////////////
@mixin home-teaser {
  section.teaser {
    position: relative;

    .teaser-container {
      height: 400px;
    }

    .background {
      height: 400px;

      background: url(/static/img/asset/home.teaser.bg.jpg) no-repeat;
      background-size: 100% 400px;
    }

    .text {
      position: absolute;
      top: 0;

      width: 100%;
      padding: 68px 0 0 0;

      text-align: center;

      @extend %typography-teaser;

      h1,
      h2 {
        color: white;
      }
    }
  }
}

///////////////////////////////////////////////////////////////
// home search
///////////////////////////////////////////////////////////////
@mixin home-search {
  .global-search {
    display: flex;

    //background: red
    justify-content: center;
    margin-top: 20px;

    text-align: left;

    .search-app {
      width: 480px;

      .search-input-container {
        max-width: none;
      }

      .search-input {
        input {
          background: rgba(0, 0, 0, 0.8);
          border: 1px solid #fff;
        }
      }
    }
  }
}

@mixin home-cms {
  main {
    padding-top: 64px;
  }

  section {
    &.cms-placeholder--main {
      height: auto;
      margin-top: 24px;
    }

    // plugin panels
    .panel {
      @extend %typography-base;
      padding: 48px 0 40px;

      border-bottom: 2px solid #000;

      .panel-body {
        h1,
        h2,
        h3,
        h4 {
          color: #000;
          text-align: center;
          text-transform: none;
        }

        h1,
        h2 {
          font-weight: 600;
          font-size: 36px;
          line-height: 40px;
        }

        h3 {
          font-weight: 300;
          font-size: 36px;
          line-height: 40px;
        }

        h4 {
          font-weight: 600;
          font-size: 18px;
          line-height: 20px;
        }
      }

      .column {
        @extend %typography-base;

        margin: 30px 0;

        h4 {
          margin-bottom: 20px;
        }

        p {
          padding: 0 8px;

          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
}

@mixin home-extra-panels {
  .panel {
    &.numbered-columns {
      .column {
        p:first-child {
          width: 30px;
          height: 30px;
          margin: 0 auto 20px;
          padding: 1px 0 0 0;

          color: #fff;
          font-size: 14px;
          line-height: 30px;
          text-align: center;

          background: #000;
          border-radius: 15px;
        }
      }
    }

    &.star-list {
      ul {
        width: 660px;
        margin: 40px auto 20px;

        list-style-position: outside;
        list-style-type: none;

        li.__variation {
          padding: 20px 10px 40px;

          font-size: 18px;
          line-height: 20px;
          text-align: center;

          background: url(/static/img/asset/home.bullet-star.png);
          background-repeat: no-repeat;
          background-position: center bottom;
        }

        li {
          padding: 10px 10px 10px 50px;

          font-size: 18px;
          line-height: 20px;

          background: url(/static/img/asset/home.bullet-star.png);
          background-repeat: no-repeat;
          background-position: left center;
          background-size: 36px;
        }
      }

      p {
        width: 660px;
        margin: 0 auto;

        font-size: 14px;
        line-height: 20px;
        text-align: center;
      }
    }
  }
}

body.cms-page--home {
  @include home-teaser;
  @include home-search;
  @include home-cms;
  @include home-extra-panels;
}

///////////////////////////////////////////////////////////////
// sign-up / register panel
///////////////////////////////////////////////////////////////
.sign-up {
  text-align: center;

  @extend %typography-teaser;

  .text {
    margin: 60px 0;

    h1,
    h2,
    h3 {
      color: $primary-color;
    }
  }
}
