@charset "UTF-8";

.content__primary {
  > .item {
    &--label {
      .visual-container {
        display: flex;
        align-items: center;
        .visual {
          width: 100%;
        }
      }
    }
  }
}
