{% load i18n humanize %}

<dt>
    {% trans "Date Created" %}:
</dt>
<dd>
    {{ object.created|date:'DATETIME_FORMAT' }}
    {# object.created|naturaltime #}
    {% if object.creator %}
        <span class="key"> - {% trans "by" %} </span>
        <span class="value">
            <a href="{{ object.creator.get_absolute_url }}">{{ object.creator.profile.get_display_name }}</a>
        </span>
    {% endif %}
</dd>

<dt>
    {% trans "Last Updated" %}:
</dt>
<dd>
    {{ object.updated|date:'DATETIME_FORMAT' }}
    {% if object.last_editor %}
        <span class="key"> - {% trans "by" %} </span>
        <span class="value">
            <a href="{{ object.last_editor.get_absolute_url }}">{{ object.last_editor.pk }}</a>
        </span>
    {% endif %}
</dd>

