{% load spurl sekizai_tags daterange i18n %}

{{ item.form.as_p }}


{% comment %}
A bit of a hack here, don't know how this could be implemented in a neat way...
hard-coded selecting of property, to provide some 'special' types of filters for:
 - releasedate
 - more to come...
{% endcomment %}

{% comment %}check if special filter{% endcomment %}

{% if item.name in special_filters %}

    {% comment %}actual switching{% endcomment %}
    {% if item.name == "releasedate" %}

        <div class="box special releasedate">
            <div class="ui-persistent boxtitle" data-uistate="init" id="filterbox-{{ item.name }}">
                <span class="noselection">Filter: {% firstof item.label item.name %}</span>
            </div>
            <div style="" class="boxcontent" id="filterbox_holder-{{ item.name }}">

                <div id="releasedate_range_container" class="boxitem">
                    <div class="range-select">
                        <select name="range-start">
                            <option value="">{% trans "From" %}?</option>
                            {% for year in 1900|xxxx_to_now reversed %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                        <span>-</span>
                        <select name="range-end">
                            <option value="">{% trans "To" %}?</option>
                            {% for year in 1900|xxxx_to_now reversed %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div id="predefined_selector">
                    <span class="">{% trans "Predefined ranges" %}:</span>

                    <ul class="unstyled">
                        <li><a rel="nofollow" data-range_end="1939-12-31" class="preset" href="#" class="">{% trans "Before 1940's" %}</a></li>

                        <li><a rel="nofollow" data-range_start="1940-01-01" data-range_end="1949-12-31" class="preset" href="#" class="">40's</a></li>
                        <li><a rel="nofollow" data-range_start="1950-01-01" data-range_end="1959-12-31" class="preset" href="#" class="">50's</a></li>
                        <li><a rel="nofollow" data-range_start="1960-01-01" data-range_end="1969-12-31" class="preset" href="#" class="">60's</a></li>
                        <li><a rel="nofollow" data-range_start="1970-01-01" data-range_end="1979-12-31" class="preset" href="#" class="">70's</a></li>
                        <li><a rel="nofollow" data-range_start="1980-01-01" data-range_end="1989-12-31" class="preset" href="#" class="">80's</a></li>
                        <li><a rel="nofollow" data-range_start="1990-01-01" data-range_end="1999-12-31" class="preset" href="#" class="">90's</a></li>
                        <li><a rel="nofollow" data-range_start="2000-01-01" data-range_end="2009-12-31" class="preset" href="#" class="">2000's</a></li>
                        <li><a rel="nofollow" data-range_start="2010-01-01" class="preset" href="#" class="">10's</a></li>
                    </ul>

                    <div class="clear"></div>

                </div>


            </div>
        </div>
    {% endif %}

{% else %}
<div class="box ">
    <div class="ui-persistent boxtitle" data-uistate="init" id="filterbox-{{ item.name }}">
        <span class="noselection">Filter: {% firstof item.label item.name %}</span>
    </div>
    <div style="" class="boxcontent" id="filterbox_holder-{{ item.name }}">

        {% for filter_entry in item.entries %}

            {% if filter_entry.0 %}

                {% spurl base=request.get_full_path active_mquery="{{ item.name }}={{ filter_entry.0 }}" as is_active %}
                <div class="boxitem {% if is_active %}minus{% else %}plus{% endif %}">
                    <a rel="nofollow" id="filterbox_item-{{ filter_entry.0 }}" class="filterbox_item {% if is_active %}on{% endif %}"
                       href="{% spurl base=request.get_full_path remove_query_param="page" trigger_mquery="{{ item.name }}={{ filter_entry.0 }}" %}"
                       style="display: block;">
                        {% if filter_entry.2 %}
                            {{ filter_entry.2 }}
                        {% else %}
                            {{ filter_entry.0 }}
                        {% endif %}
                        {% if filter_entry.1 %}
                            <small> ({{ filter_entry.1 }})</small>
                        {% endif %}
                    </a>
                </div>
            {% endif %}

        {% endfor %}

    </div>
</div>
{% endif %}
