{% load i18n  %}
<div class="actions actions--list">
    <div
        class="action action--primary{% if not perms.alibrary.play_media %} action--disabled{% endif %}"
        data-playable
        data-ct="{{ ct }}"
        data-uuid="{{ object.uuid }}"
        data-resource_uri="{{ object.get_api_url }}"
        data-offset=0
        data-mode="replace">
        <i class="icon icon-play"></i>
        <span>{% trans "Play all" %}</span>
    </div>
    <div
        class="action action--primary{% if not perms.alibrary.play_media %} action--disabled{% endif %}"
        data-playable
        data-ct="{{ ct }}"
        data-uuid="{{ object.uuid }}"
        data-resource_uri="{{ object.get_api_url }}"
        data-offset=0
        data-mode="queue">
        <i class="icon icon-reorder"></i>
        <span>{% trans "Queue all" %}</span>
    </div>
</div>
