{% load spurl adv_cache hash_tags %}

{% spurl base=request.get_full_path remove_query_param="page" as cache_key %}

{% cache 3600 "tagcloud" cache_key %}

    <div style="display: none;" id="tagcloud_inline" data-uistate="init" class="tagcloud inline ui-persistent">

        <ul class="horizontal tag-level unstyled pull-right">
            <li><a class="toggle-level" data-taglevel="1" href="#">&nbsp;+&nbsp;</a></li>
            <li><a class="toggle-level" data-taglevel="4" href="#">&nbsp;++&nbsp;</a></li>
            <li><a class="toggle-level" data-taglevel="6" href="#">&nbsp;+++&nbsp;</a></li>
        </ul>

        <div class="clear"></div>
        <div class="cloud-container">
            {% for tag in tagcloud %}
                {% spurl base=request.get_full_path active_mquery="tags={{ tag.pk }}" as is_active %}
                {% spurl base=request.get_full_path trigger_mquery="tags={{ tag.pk }}&page=1" as tag_url %}
                {% spurl base=tag_url remove_query_param="page" as tag_url %}
                <a href="{{ tag_url }}"
                   class="tag{{ tag.weight }} {% if tag.hide_level > 0 %}tag-hidden{% endif %} level{{ tag.hide_level }} {% if is_active %} on{% endif %}"
                   style="">{{ tag.name }}</a>
            {% endfor %}
        </div>

        <div class="clear"></div>

    </div>

{% endcache %}