<div class="autocomplete result">
	<!--
	<h1>Search</h1>
	<p>
		Search Library for: "dummy"
		[ Results: 2 ]
	</p>
	<div class="listing result">
		
		<div class="item clickable hoverable">
			<h2><em class="highlight">dummy</em> da SECOND!</h2>
			<p><img src="">
			</p>
			<div class="related">
				

				
			</div>
		</div>
		
		<div class="item clickable hoverable">
			<h2><em class="highlight">dummy</em> Release</h2>
			<p><img src="/media/filer_thumbnails/2012/05/28/img_0524.jpg__64x64_q80_crop_upscale.jpg">
			</p>
			<div class="related">
				

				
			</div>
		</div>
		
	</div>
	-->
</div>