{% load i18n spurl %}


{% if order_by %}

    <div class="box sorting">
        <div class="ui-persistent boxtitle sorting" id="filterbox-sort_default">
            <span class="noselection">{% trans "Ordering" %}:</span>
        </div>
        <div style="" class="boxcontent" id="filterbox_holder-sort_default">
            <div class="boxitem">

                <ul class="unstyled">

                    {% for order in order_by %}

                        <li class="{% if get.order_by == order.key %}active{% endif %} {{ get.direction }}">
                            <a href="{% spurl base=request.get_full_path set_query="order_by={{ order.key }}" toggle_query="direction=ascending,descending" %}"
                               style="display: block;">
                                {% if get.order_by == order.key %}
                                <span class="pull-right_">
                                    {% if get.direction == "ascending" %}
                                        <i class="icon-angle-down"></i>
                                    {% else %}
                                        <i class="icon-angle-up"></i>
                                    {% endif %}
                                </span>
                                {% endif %}
                                {{ order.name }}
                            </a>
                        </li>

                    {% endfor %}


                </ul>


            </div>
        </div>
    </div>

{% endif %}

