{% extends "postman/base.html" %}
{% load url from future %}
{% load i18n postman_tags humanize pagination_tags %}
{% block content %}
    <div id="postman" class="postman {% block pm_context_class %}{% endblock %}">


        <!--<h2>{% block pm_folder_title %}{% endblock %}</h2>-->



        {% autopaginate pm_messages %}
        {% if invalid_page %}
            <p>{% trans "Sorry, this page number is invalid." %}</p>
        {% else %}
            {% if pm_messages %}

                <form action="{% block pm_form_action %}{% endblock %}" method="post">{% csrf_token %}

                    <table id="pm_messages">

                        <thead>
                            <tr>
                                <th class="action"></th>

                                {% block pm_sender_header %}<th class="sender">{% trans "From" %}</th>{% endblock %}
                                {% block pm_recipient_header %}<th class="recipient">{% trans "To" %}</th>{% endblock %}
                                <th class="subject">{% trans "Subject" %}</th>
                                <th class="date">{% block pm_date %}{% endblock %}</th>

                            </tr>
                        </thead>

                        <tbody>
                            {% for message in pm_messages %}
                                <tr class="item message linkable_ hoverable{% if message.is_new %} is-new{% endif %}{% if message.is_replied %} is-replied{% endif %}">

                                    <td class="select"><input type="checkbox"
                                               {% if by_conversation and message.thread_id %}name="tpks"
                                               value="{{ message.thread_id }}"
                                               {% else %}name="pks"
                                               value="{{ message.pk }}"{% endif %}/></td>



                                    {% block pm_sender_cell %}
                                        <td>
                                            {% if message.sender.profile.get_absolute_url %}
                                                <a href="{{ message.sender.profile.get_absolute_url }}">
                                                    {{ message.obfuscated_sender|or_me:user }}{% if message.count %} (
                                                        {{ message.count }}){% endif %}</a>
                                            {% else %}
                                                {{ message.obfuscated_sender|or_me:user }}{% if message.count %} (
                                                    {{ message.count }}){% endif %}
                                            {% endif %}
                                        </td>
                                    {% endblock %}


                                    {% block pm_recipient_cell %}
                                        <td>
                                            {{ message.obfuscated_recipient|or_me:user }}{% if message.count %} (
                                            {{ message.count }}){% endif %}
                                        </td>
                                    {% endblock %}

                                    <td class="message-body{% if message.is_new %} is-new{% endif %}{% if message.is_replied %} is-replied{% endif %}">

                                        {% block pm_subject %}

                                        <a class="link-main" href="{% if by_conversation and message.thread_id %}{% url 'postman_view_conversation' message.thread_id %}{% else %}{{ message.get_absolute_url }}{% endif %}?next={{ current_url|urlencode }}">
                                            <span class="subject">{{ message.subject|truncatechars:56 }}</span>
                                        </a>
                                        {% include "postman/inc_subject_ex.html" %}

                                        {%  endblock %}

                                    </td>

                                    <td class="date">
                                        {{ message.sent_at|naturaltime  }}
                                        {% block pm_status %}
                                        <!--
                                        {% if message.is_new %}
                                            <p class="status"><span>{% trans 'new'|title %}</span></p>
                                        {% endif %}
                                        -->

                                        {% if message.is_replied %}
                                            <p class="status"><span>{% trans 'replied'|title %}</span></p>
                                        {% endif %}
                                        {% endblock %}

                                    </td>

                                </tr>

                            {% endfor %}
                        </tbody>
                    </table>

                    <br/>
{% block pm_form_buttons %}<span id="pm_buttons" class="pull-right">
    {% block pm_delete_button %}
        <button class="btn btn-primary" type="submit" onclick="this.form.action='{% url 'postman_delete' %}'">
        {% trans "Delete Selection" %}</button>{% endblock %}
{% block pm_archive_button %}
    <!--
    <button class="btn btn-primary" type="submit" onclick="this.form.action='{% url 'postman_archive' %}'">
    {% trans "Archive" %}</button>
    -->
{% endblock %}
{% block pm_undelete_button %}
    <button class="btn btn-primary" type="submit" onclick="this.form.action='{% url 'postman_undelete' %}'">
    {% trans "Undelete Selection" %}</button>{% endblock %}
    </span>{% endblock %}

                </form>
                {% paginate %}
            {% else %}

                <div class="alert alert-info">
                    <strong>{% trans 'No messages' %}</strong>
                    <p>
                        {% trans 'This Folder does not contain any messages.' %}
                    </p>
                </div>

            {% endif %}
        {% endif %}
        {% block pm_footer_info %}{% endblock %}
    </div>
{% endblock content %}