{% extends "postman/base.html" %}
{% load url from future %}
{% load i18n %}{% load postman_tags %}
{% block content %}
    <div id="postman" class="postman">
        <!--
        <h1>{% if pm_messages|length > 1 %}{% trans "Conversation" %}{% else %}{% trans "Message" %}{% endif %}</h1>
        -->
        {% for message in pm_messages %}
            <div class="message{% if message.is_pending %} pending{% endif %}{% if message.is_rejected %} rejected{% endif %}{% if message.sender == user and message.sender_archived or message.recipient == user and message.recipient_archived %} archived{% endif %}{% if message.sender == user and message.sender_deleted_at or message.recipient == user and message.recipient_deleted_at %} deleted{% endif %}{% if message.recipient == user and not message.read_at %} unread{% endif %}">

                <div class="header">

                    <div class="row-fluid">
                        <div class="span8">
                          <span class="sender">
                            {% if message.sender.get_absolute_url %}
                                <a href="{{ message.sender.get_absolute_url }}">{{ message.obfuscated_sender|or_me:user }}</a>
                            {% else %}
                                {{ message.obfuscated_sender|or_me:user }}
                            {% endif %}
                          </span>
                        </div>
                        <div class="span4">
                            <span class="date pull-right">{{ message.sent_at|date:"DATETIME_FORMAT" }}</span>
                        </div>
                    </div>


                    <div class="row-fluid">
                        <div class="span8">
                            <span class="recipient">{% trans "To" %}: {{ message.obfuscated_recipient|or_me:user }}</span>
                        </div>
                        <div class="span4">
                            {% if message.is_rejected %}
                                <div class="status">
                                    {% trans "Rejected" %}
                                    {% if message.moderation_reason %}{% trans ":" %}
                                        {{ message.moderation_reason }}{% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    {% if forloop.first %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden"
                               {% if pm_messages|length > 1 and message.thread_id %}name="tpks"
                               value="{{ message.thread_id }}"
                               {% else %}name="pks"
                               value="{{ message.pk }}"{% endif %}/>


                        <div class="row-fluid">
                            <div class="span8">
                                <span class="subject">{{ message.subject }}</span>
                            </div>
                            <div class="span4">
                                <!-- message actions -->
                                <div class="actions pull-right">

                                    <ul class="horizontal unstyled">

                                        {% if not archived %}
                                        <li><button type="submit"
                                               onclick="this.form.action='{% url 'postman_archive' %}?next={{ next_url|urlencode }}'"
                                               title="{% trans "Archive" %}"><i class="icon icon-large icon-archive"></i></button>
                                        </li>
                                        {% endif %}


                                        <li><button type="submit"
                                               onclick="this.form.action='{% url 'postman_delete' %}?next={{ next_url|urlencode }}'"
                                               title="{% trans "Delete" %}"><i class="icon icon-large icon-trash"></i></button>
                                        </li>


                                        <li><a href="{% url 'postman_reply' reply_to_pk %}?next={{ next_url|urlencode }}"
                                               title="{% trans "Reply" %}"><i class="icon icon-large icon-reply"></i></a>
                                        </li>
                                    </ul>


                                </div>
                            </div>
                        </div>

                    </form>
                    {% endif %}


                </div>

                <div class="body">{{ message.body|linebreaksbr }}</div>

            </div>



            <!--
            {% if forloop.last %}
                <form action="" method="post" class="pull-right">{% csrf_token %}
                    <input type="hidden"
                           {% if pm_messages|length > 1 and message.thread_id %}name="tpks"
                           value="{{ message.thread_id }}"
                           {% else %}name="pks"
                           value="{{ message.pk }}"{% endif %}/>
                    <a href="{{ next_url }}" class="btn btn-mini">{% trans "Back" %}</a>
                    <span id="pm_buttons">
                    <button type="submit"
                            class="btn btn-mini"
                            onclick="this.form.action='{% url 'postman_delete' %}?next={{ next_url|urlencode }}'">{% trans "Delete" %}</button>
                        {% if not archived %}
                            <button type="submit"
                                    class="btn btn-mini"
                                    onclick="this.form.action='{% url 'postman_archive' %}?next={{ next_url|urlencode }}'">{% trans "Archive" %}
                            </button>{% endif %}
                    </span>
                    {% if reply_to_pk %}<a class="btn btn-mini btn-primary"
                                           href="{% url 'postman_reply' reply_to_pk %}?next={{ next_url|urlencode }}">
                        {% trans "Reply" %}</a>{% endif %}
                </form>
                {% if reply_to_pk and 1 == 2 %}
                    <hr/>
                    <h2>{% trans 'Reply' %}</h2>
                    <form action="{% url 'postman_reply' reply_to_pk %}?next={{ next_url|urlencode }}"
                          method="post">{% csrf_token %}
                        <div id="pm_reply">{{ form.body }}</div>
                        <button type="submit">{% trans 'Reply' %}</button>
                    </form>{% endif %}
            {% endif %}
        {% endfor %}
        -->
    </div>
{% endblock %}