{% load i18n sekizai_tags %}

{% addtoblock "js-post" %}
    <script src="/static/search/js/base.js"></script>
{% endaddtoblock %}

{% addtoblock "js-post" %}
    <script>
        var search_app;
        $(function () {
            search_app = new SearchApp();
            search_app.init();
        });
    </script>
{% endaddtoblock %}

<div id="global_search">

    <div class="global-search-container">


        <div>
            <form action="/api/v1/search/" id="search_form">

                <div class="wrapper-icon">
                    <div class="container-icon">
                        <i class="icon icon-search"></i>
                    </div>
                </div>

                <input type="text" name="q" id="search_input" autocomplete="off" placeholder="Search Artists, Releases & more...">

                <input type="hidden" name="format" value="json">

            </form>
        </div>

        <div id="search_scope">

            <span><a class="selected" data-ct="all" href="#">All</a></span>
            <span><a data-ct="alibrary.artist" href="#">Artist</a></span>
            <span><a data-ct="alibrary.release" href="#">Release</a></span>
            <span><a data-ct="alibrary.media" href="#">Track</a></span>
            <span><a data-ct="alibrary.label" href="#">Label</a></span>
            <span><a data-ct="alibrary.playlist" href="#">Playlist</a></span>
            <span><a data-ct="profiles.profile" href="#">User</a></span>

        </div>


        <div id="search_results" class="search-results">

        </div>


        <div id="search_summary" style="display: none;">


            <div id="search_context">

                <div class="search-key-nav">

                    <h4>Keyboard Shortcuts</h4>

                    <ul class="keyboard-shortcuts">

                        <li class="separator">
                            <span class="help">{% trans 'Global keys' %}</span>
                        </li>

                        <li class="shortcut">
                            <span class="combo">
                                <span class="key">Shift</span>
                                <span class="plus">+</span>
                                <span class="key">_</span>
                            </span>
                            <span class="help">
                                <span>{% trans 'Enter global search mode' %}</span>
                            </span>
                        </li>

                        <li class="shortcut">
                            <span class="combo">
                                <span class="key">ESC</span>
                            </span>
                            <span class="help">
                                <span>{% trans 'Exit global search mode' %}</span>
                            </span>
                        </li>

                        <li class="shortcut">
                            <span class="combo">
                                <span class="key"><i class="icon-caret-up"></i></span>
                                <span class="plus">/</span>
                                <span class="key"><i class="icon-caret-down"></i></span>
                            </span>
                            <span class="help">
                                <span>{% trans 'Navigate results up/down' %}</span>
                            </span>
                        </li>

                        <li class="separator">
                            <span class="help">{% trans 'Scope selection' %}</span>
                        </li>

                        <li class="shortcut">
                            <span class="combo">
                                <span class="key">ALT</span>
                                <span class="plus">+</span>
                                <span class="key">a</span>
                            </span>
                            <span class="help">
                                <span>{% trans 'Limit results to "Artists"' %}</span>
                            </span>
                        </li>

                        <li class="shortcut">
                            <span class="combo">
                                <span class="key">ALT</span>
                                <span class="plus">+</span>
                                <span class="key">r</span>
                            </span>
                            <span class="help">
                                <span>{% trans 'Limit results to "Releases"' %}</span>
                            </span>
                        </li>

                    </ul>

                </div>

                <div class="result-context-container"><!-- dynamic content --></div>

            </div>
        </div>


        <div class="result-meta-container"><!-- dynamic content --></div>

    </div>

</div>
