{% comment %}
  Something that django.contrib.comments does not provide:
  An individual template for a single comment, to easily be reused.

  This include is also used by the Ajax comments view.
  The div id should be "c{id}", because the comment.get_absolute_url() points to it.

  NOTE: to override the displayed date format, don't replace this template.
  Instead, define DATETIME_FORMAT in a locale file. Requires setting:

   FORMAT_MODULE_PATH = 'settings.locale'

  Then create 'settings/locale/XY/formats.py' with:

   DATETIME_FORMAT = '...'

  This should give you consistent dates across all views.
{% endcomment %}
{% load i18n wiki_tags thumbnail %}
        <div{% if preview %} id="comment-preview"{% else %} id="c{{ comment.id }}"{% endif %} class="item comment row-fluid">
          
          <!--
          {% if preview %}<h3>{% trans "Preview of your comment" %}</h3>{% endif %}
          -->

			<div class="col-left">

            <div class="comment-text">
            	
            	{% if not comment.is_public %}<span class="comment-moderated-flag">({% trans "moderated" %})</span>{% endif %}
            	{{ comment.comment|linebreaks }}
            </div>
            
          </div>
            

          <div class="col-right">




			
			<ul class="unstyled profile" style="background-image: url({% for profile in comment.user.profile_set.all %}{% if forloop.first %}
          			{% thumbnail profile.image 34x34 crop upscale %}
          	{% endif %}{% endfor %})">
				<li><a href="{{ comment.user.get_absolute_url }}">{% firstof comment.user.get_full_name comment.user.username %}</a></li>
				<li class="comment-date">{% blocktrans with submit_date=comment.submit_date %}on {{ submit_date }}{% endblocktrans %}</li>
			</ul>

          	
          </span>

		</div>
            
            
            
            
            
            
        </div>
