{% load i18n %}

<div class="menu-context">
    <div class="action-group">
        <ul>
          <li class="action">
                <a href="{{ object.get_absolute_url }}" title="{% trans "Back to Detail-View" %}">
                    <span>{% trans "Back to Detail-View" %}</span>
                </a>
            </li>
            {% if perms.alibrary.change_release and user.is_staff %}
          <li class="action">
                <a href="{{ object.get_admin_url }}?next={{ object.get_admin_url }}" title="{% trans "Administration view" %}">
                    <span>{% trans "Administration view" %}</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
