{% load thumbnail i18n truncate_tags arating_tags spurl %}



<div class="list_body_row item profile view edit" id="list_item_{{ item.pk }}" data-resource_uri="{{ item.get_api_url }}">

	<div class="list_body_item c1 image_center_bg" {% if item.main_image %}style="background-image: url({% thumbnail item.main_image 54x54 crop upscale %});"{% endif %}>

	</div>

	<div class="list_body_item c2">
		<ul class="unstyled">
			<li class="bold">
				<a href="{{ item.get_absolute_url }}" class="permalink">{{ item.name|truncate_chars_inner:20  }}
				{% if item.country %}({{ item.country }}){% endif %}
				{% topflop_for_object item %} </a>
			</li>
		</ul>
	</div>

	<div class="list_body_item c3"></div>

	<div class="list_body_item c4 action"></div>

</div>

