{% load truncate_tags i18n thumbnail spurl calc_tags object_action_tags tagging_extra_tags %}
<div class="header__primary">
  <div class="title title--primary">
    <h2>{{ object.name|truncate_chars_inner:40 }}</h2>
    <small>
      {% if object.mediatype %}
        {{ object.get_mediatype_display }}
      {% endif %}
    </small>
  </div>
  <div class="title title--secondary">
    <h3>
      by <a href="{{ object.artist.get_absolute_url }}">{{ object.artist }}</a>
    </h3>
  </div>
  <div class="meta">
    {% if object.get_mediaartists %}
      <div class="meta__item">
        <div>
          {% trans "Track Artists" %}:
        </div>
        <div>
          {# TODO: refactor artist display logic #}
          {% for artist in object.get_mediaartists %}
            {% if "join_phrase" in artist %}
              {% with item=artist.artist %}
                {% if artist.join_phrase %}{{ artist.join_phrase }}{% endif %}
                {% include "alibrary/element/_inline_link.html" %}
              {% endwith %}
            {% else %}
              {% with item=artist %}
                {% include "alibrary/element/_inline_link.html" %}
                {% if not forloop.last %},{% endif %}
              {% endwith %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if object.release %}
      <div class="meta__item">
        <div>
          {% trans "Release" %}:
        </div>
        <div>
          <a href="{{ object.release.get_absolute_url }}">{{ object.release.name }}</a>
        </div>
      </div>
    {% endif %}
    {% if object.release and object.release.label %}
      <div class="meta__item">
        <div>
          {% trans "Label" %}:
        </div>
        <div>
          <a href="{{ object.release.label.get_absolute_url }}">{{ object.release.label.name }}</a>
        </div>
      </div>
    {% endif %}
    <div class="meta__item">
      <div>
        {% trans "Duration" %}:
      </div>
      <div>
        {{ object.duration_s|sec_to_time }}
      </div>
    </div>
    {% if object.opus_number %}
      <div class="meta__item">
        <div>
          {% trans "Opus N." %}:
        </div>
        <div>
          {{ object.opus_number }}
        </div>
      </div>
    {% endif %}
    {% if object.release and object.release.releasedate_approx %}
      <div class="meta__item">
        <div>
          {% trans "Release date" %}:
        </div>
        <div>
          {{ object.release.releasedate_approx|date:"SHORT_DATE_FORMAT" }}
        </div>
      </div>
    {% endif %}
    {% if object.isrc %}
      <div class="meta__item">
        <div>
          {% trans "ISRC" %}:
        </div>
        <div>
          {{ object.isrc }}
        </div>
      </div>
    {% endif %}
    {% if object.license %}
      <div class="meta__item">
        <div>
          {% trans "License" %}:
        </div>
        <div>
          {{ object.license.name }}
        </div>
      </div>
    {% endif %}
  </div>
  <div class="meta">
    <div class="meta__item">
      <div>
        {% trans "Created" %}:
      </div>
      <div class="meta__item__grid">
        <time>
          {{ object.created|date:'DATETIME_FORMAT' }}
        </time>
        {% if object.creator %}
        <div>
          <a href="{{ object.creator.get_absolute_url }}">{{ object.creator.profile.get_display_name }}</a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="meta__item">
      <div>
        {% trans "Updated" %}:
      </div>
      <div class="meta__item__grid">
        <time>
          {{ object.updated|date:'DATETIME_FORMAT' }}
        </time>
        {% if object.last_editor %}
        <div>
          <a href="{{ object.last_editor.get_absolute_url }}">{{ object.last_editor.profile.get_display_name }}</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="header__secondary">
  <div class="visual">
    <visual-with-actions
      ct="{{ object.get_ct }}"
      uuid="{{ object.uuid }}"
      url="{% url 'api:label-detail' object.uuid %}"
      image-url="{% thumbnail object.main_image 280x280 crop upscale %}"
      :actions="{% get_object_actions_as_json object user %}">
    </visual-with-actions>
  </div>
</div>
<div class="header__primary">
  <tag-list :tags="{{ object.tags|tags_as_json }}"></tag-list>
</div>
<div class="header__secondary">
  <div class="rating">
    <object-rating
        obj-uuid="{{ object.uuid }}"
        obj-ct="{{ object.get_ct }}"></object-rating>
  </div>
</div>
