{% load i18n calc_tags arating_tags truncate_tags spurl adv_cache hash_tags atracker_tags media_preflight_tags %}

<div class="list_body_row selectable item media {{ item.uuid }} {% if item.creator == user %} owner{% endif %}"
     id="list_item_{{ item.id }}"
     data-item_id="{{ item.id }}"
     data-item_uuid="{{ item.uuid }}"
     data-id="{{ item.id }}"
     data-uuid="{{ item.uuid }}"
     data-ct="media">

    <div class="list_body_item c1 action">

        <ul class="unstyled horizontal action">

            <li class="square">
                <a href="#"
                   class="playable popup{% if not perms.alibrary.play_media %} disabled{% endif %}"
                   {% comment load all tracks on 'play' %}
                   data-ct="release"
                   data-uuid="{{ item.release.uuid }}"
                   data-resource_uri="{{ item.release.get_api_url }}"
                   data-offset="{{ forloop.counter0 }}"
                   {% endcomment %}
                   data-ct="media"
                   data-uuid="{{ item.uuid }}"
                   data-resource_uri="{{ item.get_api_url }}"
                   data-offset="0"
                   data-mode="replace"
                   title="{% trans "Play" %}">
                    <i class="icon icon-play"></i>
                </a>
            </li>

            <li class="square">
                <a href="#"
                   class="playable popup{% if not perms.alibrary.play_media %} disabled{% endif %}"
                   data-ct="media"
                   data-uuid="{{ item.uuid }}"
                   data-resource_uri="{{ item.get_api_url }}"
                   data-offset="0"
                   data-mode="queue"
                   title="{% trans "Queue" %}">
                    <i class="icon icon-reorder"></i>
                </a>
            </li>

        </ul>

        <div class="tracknumber">
            {% if item.tracknumber %}
            <span>{{ item.tracknumber }}</span>
            {% endif %}
        </div>

    </div>

    <div class="list_body_item c2">

        <ul class="unstyled">
            <li class="bold">

                <a href="{{ item.get_absolute_url }}" title="{{ item.name }}">
                    {{ item.name|truncate_chars_inner:32 }}
                    {% if item.country %}({{ item.country }}){% endif %}
                </a>

                {% if item.tempo %}
                    <small class="tempo">{{ item.tempo|floatformat:"1" }} BPM</small>
                {% endif %}
            </li>

        </ul>

        <ul class="unstyled small">

            {% for ea in item.extraartist_media.all %}
                <li>
                    <a href="{{ ea.artist.get_absolute_url }}">{{ ea.artist.name }}</a>
                    {% if ea.profession.name %}
                    <small>[{{ ea.profession.name }}]</small>
                    {% endif %}
                </li>
            {% endfor %}

        </ul>

    </div>

    <div class="list_body_item c3">
        <ul class="unstyled">
            <li class="bold">
                {%  if item.get_mediaartists %}
                    {% include "alibrary/media/_credited_artists.html" with artist_list=item.get_mediaartists %}
                {% else %}{% if item.artist %}
                    {% if item.artist.get_absolute_url %}
                        <a href="{{ item.artist.get_absolute_url }}"
                           title="{{ item.artist.name }}">{{ item.artist.name|truncate_chars_inner:28 }}</a>
                    {% else %}
                        <span>{{ item.artist.name|truncate_chars_inner:28 }}</span>
                    {% endif %}
                {% endif %}{% endif %}
                &nbsp;
            </li>

            <li>
                <ul class="unstyled horizontal">
                    {# cache 86400 "media_stats" item.pk item.updated #}
                    {# stats_for_object item #}
                    {# endcache #}
                </ul>
            </li>

        </ul>

    </div>

  <div class="list_body_item c4">
    <ul class="unstyled">
      <li>
        {{ item.duration_s|sec_to_time }} |
        {% if item.master_encoding %}{{ item.master_encoding|upper }}{% else %}ERROR{% endif %}
        {% preflight_status_inline item %}
      </li>
      {% if item.last_emission %}
      <li>
        <span
          title="{% trans 'Num. emissions' %}: {{ item.emissions.count }}">
            Last emission: {{ item.last_emission.time_start|date:'SHORT_DATE_FORMAT' }}
        </span>
      </li>
      {% endif %}
      {% if item.public_appearances.exists %}
      <li>
        <span
          title="{% trans 'Broadcasts' %}: {{ item.broadcast_appearances.count }} - {% trans 'Playlists' %}: {{ item.playlist_appearances.count }}">
            Appearances: {{ item.public_appearances.count }}
        </span>
      </li>
      {% endif %}
    </ul>
  </div>

    <!-- Relations -->
    <div class="list_body_item c5 relations">

        <ul class="unstyled horizontal">
        {% for relation in item.relations.highlighted %}
            <li><a rel="nofollow" class="skip-external" href="{{ relation.url }}" title="Show on {{ relation.get_service_display }}"><i class="icon icon-{{ relation.service }}"></i></a></li>
	    {% endfor %}
        </ul>

    </div>


    <div class="list_body_item c6 action">

        <ul class="unstyled action secondary horizontal">

            <li>
                <a href="#"
                   class="{% if not perms.alibrary.downoad_media %} disabled{% endif %}"
                   data-ct="media"
                   data-id="{{ item.pk }}"
                   data-action="download"
                   title="{% trans "Download" %}">
                    <i class="icon icon-download-alt"></i>
                </a>
            </li>

            {% if  perms.alibrary.change_media %}
                <li>
                    <a href="{{ item.get_edit_url }}"
                       class=""
                       title="{% trans "Edit" %}">
                        <i class="icon icon-edit"></i>
                    </a>
                </li>
            {% endif %}

        </ul>

    </div>


</div>
