{% load ctype_tags activity_tags %}

<div class="menu-context">
  <div class="action-group">
    <ul class="unstyled">
      {% if user == object.user %}
        <li class="action">
          <a href="{{ object.get_edit_url }}" title="Edit">
            Edit
          </a>
        </li>
      {% endif %}

      {% if user.is_staff %}
        <li class="action">
          <a href="{{ object.get_admin_url }}?next={{ object.get_admin_url }}"
             title="Administration view">
            Administrative view
          </a>
        </li>
      {% endif %}

      {% if user.is_staff %}
        <li class="action">
          <a href="{% url "loginas-user-login" object.user.pk %}" title="Login as user">
            Login as user
          </a>
        </li>
      {% endif %}

      {% if user.is_authenticated and not user == object.user %}
        <li class="action">
          <a href="{% url "postman_write" object.user.username %}" title="Send Message">
            Send Message
          </a>
        </li>
      {% endif %}


      {% if user.is_authenticated and not user == object.user %}
        <li class="action">
          <a href="{% follow_all_url object.user %}?next={{ request.get_full_path }}"
             title="Follow/unfollow">
            {% if request.user|is_following:object.user %}
              Stop following {{ object.user|ct_name_by_object }}
            {% else %}
              Follow {{ object.user|ct_name_by_object }}
            {% endif %}
          </a>
        </li>
      {% endif %}
      {% if mentoring_actions %}
        {% if not object.is_approved %}
          <p style="padding: 20px 6px 20px 6px;">
            Please remember, only professionals (radio or music business) should be given access to the platform!
          </p>
        {% endif %}
        {% for action in mentoring_actions %}
          <li class="action">
            <a
              href="{{ action.url }}?next={{ object.get_absolute_url }}"
              title="{{ action.name }}"
            >
              {{ action.name }}
            </a>
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
</div>
