
{% if object.user == request.user %}
  <div class="menu-context mentoring-panel">
    {% if not object.is_approved %}
      <div class="menu-context--prefix">
        <span class="title">Get reviewed</span>
        <p>In order to gain full access to the platform your profile needs to be reviewed by a mentor.</p>
        {% if object.mentor %}
          <p>Your mentor is
            <a
              href="{{ object.mentor.get_absolute_url }}">{% firstof object.mentor.get_full_name object.mentor.username %}</a>.
          </p>
        {% endif %}
      </div>
      {% if object.mentor %}
        <div class="action-group">
          <ul>
            <li class="action">
              <a href="{% url "postman_write" object.mentor.username %}?subject=Please review my profile"
                 title="Request a profile-review">
                Request a profile-review
              </a>
            </li>
          </ul>
        </div>
      {% endif %}
      <div class="menu-context--appendix">
        {% if object.mentor %}
          <p>
            Please complete your profile adequately* before asking for a review.<br/>
            Consider to add at least:
          </p>
          <ul>
            <li>Full name</li>
            <li>A description</li>
            <li>usefull contact information</li>
          </ul>
        {% else %}
          <p>
            You don't have a mentor yet, please  <a href="/network/users/">look out</a> for one if you'd like to
            get additional privileges.
          </p>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endif %}
