// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



$base-font-size: 12px;
$base-font-weight: 300;

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;


/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;


$g-content-max-width: 1115px !default;


/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// White
/// @type Color
$white: rgb(255, 255, 255) !default;
$black: rgb(0, 0, 0) !default;

/// Main brand color
/// @type Color
$primary-color: rgb(102, 51, 204) !default;

/// Main brand color
/// @type Color
$primary-color-light: rgb(226, 215, 249) !default;

/// Secondary brand color
/// @type Color
$secondary-color: rgb(0, 187, 115) !default;

/// Secondary brand color
/// @type Color
$secondary-color-light: rgb(188, 245, 224) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;


$page-bg-color: rgb(245, 245, 245) !default;

$warning-color: rgb(215, 100, 46) !default;
$error-color: rgb(198, 14, 29) !default;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 1024px,
  'large': 1400px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/static/' !default;



/// Expose variables in native CSS
:root {
  --text-color: #{$text-color};
  --page-bg-color: #{$page-bg-color};
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --primary-color-light: #{$primary-color-light};
  --secondary-color-light: #{$secondary-color-light};
}
