{% load adv_cache spurl i18n %}

{% cache 600 "tagcloud" request.get_full_path %}{% endcache %}

{% for tag in tagcloud %}
    {% if tag.query %}
        {% spurl base=request.get_full_path set_query="search_tags={{ tag.query }}" as tag_url %}
    {% else %}
        {% spurl base=request.get_full_path remove_query_param="search_tags" as tag_url %}
    {% endif %}
    {% spurl base=tag_url remove_query_param="page" as tag_url %}
    <a rel="nofollow" href="{{ tag_url }}"
       class="tag tag--weight-{{ tag.weight }}{% if tag.selected %} selected{% endif %}"
       title="{% trans 'Usage' %}: {{ tag.count }}"
       style="">{{ tag.name }}</a>
{% endfor %}
