{% extends "layout_edit.html" %}

{% load crispy_forms_tags i18n sekizai_tags webdesign %}

{% block title %}{% trans "Change Login Details" %}{% endblock %}

{% block body_class %}profile form{% endblock %}

{% block heading %}
<div id="heading">
	{% with page_title="Login Details" %}
	{% include "skeleton/heading.html" %}
	{% endwith %}
</div>
{% endblock %}



{% block form %}

    <h4 style="margin-bottom: 20px;">{% trans "Change Login Details" %}</h4>

    <form method="post" class="form-horizontal form-compact" action="">

        {% csrf_token %}

        {% crispy form %}

        <div style="margin-top: 24px;">
            <input type="submit" class="btn btn-primary pull-right" value="> {% trans "Update Credentials" %}"/>
        </div>


        <div class="clear"></div>

    </form>


{% endblock %}

{% block sidebar %}{% endblock %}
