{% extends "layout_base.html" %}
{% load sekizai_tags spurl cache i18n truncate cache %}

{% block heading %}
<!-- view specific scripts -->
{% addtoblock "js-post" %}
{% endaddtoblock %}

<!-- heading / icon (large one) -->
<div id="heading">
	{% with page_title="My Invitations" %}
	{% include "skeleton/heading.html" %}
	{% endwith %}
</div>
<!-- heading / icon (large one) -->
{% endblock %}

{% block modnav %}
<!-- start: intra-module navigation -->
<div id="modnav">
	{% include "skeleton/modnav.html" %}
</div>
<!-- end: intra-module navigation -->
{% endblock %}

{% block tagcloud %}{% endblock %}


{% block searchbar %}{% endblock %}


{% block inner %}

<div class="listhead">

    <div class="pagination-holder">
        {# include "element/_pagination.html" #}
    </div>

</div>
<!-- end: listing header / paginator -->

<!-- start: listing output -->
<div class="listview container profile m {{ list_style }}">

    {% comment %}
	{% if list_style == "s" %}
	<div class="list_header">
		<div class="list_header_item c1">
			&nbsp;
		</div>
		<div class="list_header_item c2 sortable {% if get.order_by == "name" %}active{% endif %} {{ get.direction }}">
			<a href="{% spurl base=request.get_full_path set_query="order_by=name" toggle_query="direction=ascending,descending" %}" style="display: block;">{% trans "Name" %}</a>
		</div>
		<div class="list_header_item c3">
			{% trans "Available" %}
		</div>
		<div class="list_header_item c4">
			{% trans "External links" %}
		</div>
		<div class="list_header_item c5 sortable {% if get.order_by == "updated" %}active{% endif %} {{ get.direction }}">
			<a href="{% spurl base=request.get_full_path set_query="order_by=updated" toggle_query="direction=ascending,descending" %}" style="display: block;">{% trans "Modified" %}</a>
		</div>
		<div class="list_header_item c6">
		&nbsp;			
		</div>
	</div>
	{% endif %}
	{% endcomment %}


	<div class="list_body">

        <h4 style="margin-top: 20px;">{% trans "Pending invitations" %}</h4>

        <table class="table-condensed table-striped" style="width: 100%; margin-top: 12px;">
		<thead>
            <tr>
                <th style="text-align: left; width: 320px;">{% trans "E-Mail" %}</th>
                <th style="text-align: left;">{% trans "Date sent" %}</th>
                <th style="text-align: left; width: 240px;">{% trans "Expires" %}</th>
                <th>&nbsp;</th>
            </tr>
		</thead>
		{% for item in object_list %}
            <tr>
                <td>{{ item.email }}</td>
                <td>{{ item.date_invited }}</td>
                <td>{{ item.expiration_date }}{% if not item.is_valid %} ({% trans "Expired" %}){% endif %}</td>
                <td><a href="{% url profiles-invitation-delete pk=item.pk %}">{% trans "Delete" %}</a></td>
            </tr>
		{% endfor %}

        </table>

	</div>


	<div class="list_body">

        <h4 style="margin-top: 20px;">{% trans "Accepted invitations & mentored users" %}</h4>

        <table class="table-condensed table-striped" style="width: 100%; margin-top: 12px;">
		<thead>
            <tr>
                <th style="text-align: left; width: 320px;">{% trans "E-Mail" %}</th>
                <th style="text-align: left;">{% trans "User" %}</th>
                <th style="text-align: left; width: 240px;;">{% trans "Date joined" %}</th>
                <th>&nbsp;</th>
            </tr>
		</thead>
		{% for profile in request.user.godchildren.all %}
            <tr>
                <td>{{ profile.user.email }}</td>
                <td><a href="{{ profile.user.get_absolute_url }}">{% firstof profile.user.get_full_name profile.user.username %}</a></td>
                <td>{{ profile.user.date_joined }}</td>
                <td></td>
            </tr>
		{% endfor %}

        </table>

	</div>
</div>


<div class="listview footer">
	<div class="right ipp">

		<ul class="unstyled horizontal">
			{% spurl base=request.get_full_path active_query="ipp=12" as is_active %}
			<li>
				<a class="{% if is_active %}active{% endif %}" href="{% spurl base=request.get_full_path set_query="ipp=12" %}">12</a>
			</li>
			{% spurl base=request.get_full_path active_query="ipp=24" as is_active %}
			<li>
				<a class="{% if is_active %}active{% endif %}" href="{% spurl base=request.get_full_path set_query="ipp=24" %}">24</a>
			</li>
			{% spurl base=request.get_full_path active_query="ipp=36" as is_active %}
			<li>
				<a class="{% if is_active %}active{% endif %}" href="{% spurl base=request.get_full_path set_query="ipp=36" %}">36</a>
			</li>
		</ul>

	</div>

	<div class="clear">&nbsp;</div>
</div>


{% endblock %}

{% block sidebar %}
<div class="menu-context">

    <div class="action-group">
        <ul class="unstyled">

            {% if user.is_authenticated %}
                <li class="link">
                    <a class="hoverable{% if not perms.invitation.add_invitation %}  disabled{% endif %}" href="{% url invitation_invite %}?next={{ request.get_full_path }}" title="{% trans "Invite new users" %}">
                        <i class="icon icon-user"></i>
                        <span>{% trans "Invite new users" %}</span>
                        <small class="opt pull-right"></small>
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>

</div>
{% endblock %}

