{% extends "layout_base.html" %}

{% load truncate ctype i18n thumbnail arating_tags markup wiki_tags sekizai_tags activity_tags atracker_tags spurl bleach_tags %}

{% block heading %}
    <!-- heading / icon (large one) -->
    {% addtoblock "js-post" %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/bootstrap-tab.js"></script>
    {% endaddtoblock %}
    {% addtoblock "js-post" %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.history.js"></script>{% endaddtoblock %}

    <!-- statistic tools -->
    {% addtoblock "js-post" %}<script src="{{ STATIC_URL }}alibrary/js/statistics.js"></script>{% endaddtoblock %}

    <!-- jqplot - TODO: maybe move to include -->
    {% addtoblock "js-uncompressed" %}<script src="{{ STATIC_URL }}js/lib/flot-0.8.3/jquery.flot.js"></script>{% endaddtoblock %}
    {% addtoblock "js-uncompressed" %}<script src="{{ STATIC_URL }}js/lib/flot-0.8.3/jquery.flot.time.js"></script>{% endaddtoblock %}


    {% addtoblock "js-post" %}
        <script>
            $(function () {

                // initialize stats app
                var stats = new StatisticApp;
                stats.resource_uri = '{{ object.get_api_url }}';
                // stats.dom_id = 'statistics_container'; // this is the default anyway

                stats.init();

                // trigger to actually _load_ the stats
                $('a[data-toggle="tab"]').on('shown', function (e) {
                    if($(e.target).attr('href') == '#statistics') {
                        stats.show();
                    }
                });


                // quick'n'dirty follow/unfollow AJAX implementation
                $('table.follows').on('click', '[data-action="trigger_follow"]', function(e){
                    e.preventDefault();
                    var el = $(this);
                    var url = el.attr('href').split("?")[0];
                    $.get(url, function(data){
                        el.toggleClass('following');
                    });



                })


            });
        </script>
    {% endaddtoblock %}

    <div id="heading">
        {% with page_title="My Profile" %}
        {% include "skeleton/heading.html" %}
        {% endwith %}
    </div>
    <!-- heading / icon (large one) -->
{% endblock %}

{% block modnav %} <!-- start: intra-module navigation -->
    <div id="modnav">
        {% include "skeleton/modnav.html" %}
    </div>
    <!-- end: intra-module navigation -->
{% endblock %}

{% block inner %}
    <div class="item_detail" style="">


{% comment %}<h1>+{{ object.get_api_url }}+</h1>{% endcomment %}

    <section class="shaded">
        <div class="row iteminfo release">
            {% include "profiles/profile/_detail_info.html" %}
        </div>
    </section>

    <div class="item_menu" id="item_menu">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#profile" data-toggle="tab">{% trans "Profile" %}</a>
            </li>

            <li>
                <a href="#following" data-toggle="tab">{% trans "Following" %}</a>
            </li>

            {% if broadcasts.count %}
            <li>
                <a href="#broadcasts" data-toggle="tab">
                    {% trans "Playlists" %}
                    ({{ broadcasts.count }})
                </a>
            </li>
            {% endif %}

            {% if uploaded_media.count > 0 or uploaded_releases.count > 0 %}
            <li>
                <a href="#uploads" data-toggle="tab">
                    {% trans "Uploads" %}
                    ({{ uploaded_media.count|add:uploaded_releases.count }})
                </a>
            </li>
            {% endif %}
            <li>
                <a href="#activities" data-toggle="tab">{% trans "Activities" %}</a>
            </li>

            {% comment %}
            <li>
                <a href="#statistics" data-toggle="tab">{% trans "Statistics" %}</a>
            </li>
            {% endcomment %}


        </ul>
    </div>

    <div class="clear"></div>

    <section class="tabbed item_inner">

    <div class="tab-content">


    <div class="tab-pane active" id="profile">


        <section class="profile">

            <h2>{% trans "Profile" %}</h2>

            {% if object.description %}
            <div class="description markdown padded-h markdown-inline">
                {% if object.description %}
                    <blockquote>{{ object.description|markdown|wikilink|safe }}</blockquote>
                {% endif %}
            </div>
            {% endif %}



            {% if object.biography %}
            <h2>{% trans "Biography" %}</h2>
            <div class="description markdown padded-h markdown-inline">
                <div>
                    {{ object.biography|markdown|wikilink|safe|bleach }}
                </div>
            </div>
            {% endif %}

        </section>

        {% if user == object.user or perms.profiles.view_profiles_private or user == object.mentor %}
            <div class="row-fluid">
                <div class="span6">
                    <!-- restricted access -->
                    <section class="profile information">
                        <h4>{% trans "Contact Information" %}</h4>

                        <dl class="dl-horizontal">

                            {% if object.address1 %}
                                <dt>{% trans "Address" %}</dt>
                                <dd>
                                    <ul class="unstyled">

                                        {% if object.address1 %}
                                            <li>{{ object.address1 }}</li>
                                        {% endif %}

                                        {% if object.address2 %}
                                            <li>{{ object.address2 }}</li>
                                        {% endif %}

                                        {% if object.zip or object.city %}
                                            <li>{{ object.zip }} {{ object.city }}</li>
                                        {% endif %}

                                        {% if object.country %}
                                            <li>{{ object.country.name }}</li>
                                        {% endif %}

                                    </ul>
                                </dd>
                            {% endif %}

                            {% if object.user.email %}
                                <dt>{% trans "EMail" %}</dt>
                                <dd><a href="mailto:{{ object.user.email }}">{{ object.user.email }}</a></dd>
                            {% endif %}

                            {% if object.mobile %}
                                <dt>{% trans "Mobile" %}</dt>
                                <dd>{{ object.mobile }}</dd>
                            {% endif %}

                            {% if object.phone %}
                                <dt>{% trans "Phone" %}</dt>
                                <dd>{{ object.phone }}</dd>
                            {% endif %}

                            {% if object.fax %}
                                <dt>{% trans "Fax" %}</dt>
                                <dd>{{ object.fax }}</dd>
                            {% endif %}

                        </dl>

                    </section>
                </div>
                <div class="span6">
                    <!-- restricted access -->
                    <section class="profile information">
                        <h4>{% trans "Personal Information" %}</h4>

                        <dl class="dl-horizontal">

                            {% if object.birth_date %}
                                <dt>{% trans "Date of birth" %}</dt>
                                <dd>{{ object.birth_date }}
                                    <small> ({% trans "Age" %}: {{ object.age }} )</small>
                                </dd>
                            {% endif %}

                            {% if object.get_gender_display %}
                                <dt>{% trans "Gender" %}</dt>
                                <dd>{{ object.get_gender_display }}</dd>
                            {% endif %}

                        </dl>

                    </section>
                </div>


            </div>
        {% endif %}














        <div class="row-fluid">
            <div class="span6">
                <section class="profile information">
                    <h4>{% trans "Communication & services" %}</h4>

                    <dl class="dl-horizontal">

                        {% for service in object.service_set.all %}

                            <dt>{{ service.service }}</dt>
                            <dd>
                                <ul class="unstyled" style="margin-bottom: 2px;">
                                    <li><a href="{{ service.service_url }}">{{ service.service_url }}</a></li>
                                    <li>{% trans "User" %}: {{ service.username }}</li>
                                </ul>
                            </dd>

                        {% endfor %}


                    </dl>

                </section>
            </div>
            <div class="span6">
                <section class="profile information">
                    <h4>{% trans "Skills & Knowledge" %}</h4>

                    <dl class="dl-horizontal">


                        <dt>{% trans "Expertise" %}</dt>
                        <dd>
                            <ul class="unstyled horizontal" style="margin-bottom: 2px;">
                                {% for item in object.expertise.all %}

                                    <li>
                                        {{ item.name }}{% if not forloop.last %},&nbsp;    {% endif %}

                                    </li>

                                {% endfor %}

                            </ul>
                            <div class="clear"></div>
                        </dd>


                    </dl>

                </section>
            </div>


        </div>


        <section class="profile information">
            <h4>{% trans "Additional links" %}</h4>

            <dl class="dl-horizontal">

                {% for link in object.link_set.all %}

                    <dt>{% if link.title %}{{ link.title }}{% endif %}</dt>
                    <dd>
                        <a href="{{ link.url }}">{{ link.url }}</a>
                    </dd>

                {% endfor %}


            </dl>

        </section>

    </div>

    <div class="tab-pane" id="following">

        <section class="following">
            {% load ctype %}

            <h2>{% trans "Following" %}</h2>

            <table class="follows table-striped table-condensed">
                {% for item in following %}
                <tr class="hoverable">
                    <td class="ctype">{{ item|ct_name_by_object|capfirst }}</td>
                    <td class="item"><a href="{{ item.get_absolute_url }}">{{ item }}</a></td>
                    <td class="actions">
                    {% if user.is_authenticated %}
                        <a data-action="trigger_follow" class="hoverable{% if request.user|is_following:item %} following{% endif %}" href="{% follow_all_url item %}?next={{ request.get_full_path }}" title="{% trans "Follow/unfollow" %}">
                            <span class="stop-following"><i class="icon icon-unlink"></i> {% trans "Stop following" %}</span>
                            <span class="start-following"><i class="icon icon-link"></i> {% trans "Follow" %}</span>
                        </a>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>

            <h2 style="margin-top: 24px;">{% trans "Followers" %}</h2>

            <table class="follows table-striped table-condensed">
                {% for item in followers %}
                <tr class="hoverable">
                    <td class="ctype">{{ item|ct_name_by_object|capfirst }}</td>
                    <td class="item"><a href="{{ item.get_absolute_url }}">{{ item }}</a></td>
                    <td class="actions">
                    {% if user.is_authenticated and item != request.user %}
                        <a data-action="trigger_follow" class="hoverable{% if request.user|is_following:item %} following{% endif %}" href="{% follow_all_url item %}?next={{ request.get_full_path }}" title="{% trans "Follow/unfollow" %}">
                            <span class="stop-following"><i class="icon icon-unlink"></i> {% trans "Stop following" %}</span>
                            <span class="start-following"><i class="icon icon-link"></i> {% trans "Follow" %}</span>
                        </a>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>


        </section>


    </div>


    <div class="tab-pane" id="activities">

        <section class="activities">

            <h2>{% trans "Activities" %}
            <span class="pull-right">
                <a href="{% url actstream-action-list %}?username={{ object.user.username }}">
                    <i class="icon-chevron-sign-right"></i>
                    {% trans "Show all activities" %}
                </a>
            </span>
            </h2>


            <table class="table table-condensed striped action">
                <tbody>

                {% for action in user_stream %}
                    <tr>
                        <td>


                            {% if action.target %}
                                {% if action.target.classname == 'Media' %}
                                    Track
                                {% else %}
                                   {{  action.target|ct_name_by_object|title }}
                                {% endif %}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>


                        <td>
                            {% if action.actor %}
                                <a href="{{ action.actor.get_profile.get_absolute_url }}">
                                    {% firstof action.actor.get_full_name action.actor %}</a>
                            {% endif %}

                            {{ action.verb }}

                            {% if action.target %}
                                {% if action.target.username %}
                                    <a href="{{ action.target.get_absolute_url }}">"{% firstof action.target.get_full_name|truncate_chars_inner:60 action.target.username|truncate_chars_inner:60 %}"</a>
                                {% else %}
                                    <a href="{{ action.target.get_absolute_url }}">"{{ action.target.name|truncate_chars_inner:60 }}"</a>
                                {% endif %}
                            {% endif %}


                        </td>

                        <td>
                            {% comment %}
                            <span class="pull-right">{{ action.timestamp|timesince }} {% trans "ago" %}</span>
                            {% endcomment %}
                            <span class="pull-right">{{ action.timestamp }}</span>
                        </td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>

        </section>


    </div>

    <div class="tab-pane" id="broadcasts">

        <section class="broadcasts">

            {% url alibrary-playlist-list as playlist_list %}

            <h2>
                {% trans "Recently updated Playlists" %}
                            <span class="pull-right">
                                <a href="{% spurl path=playlist_list query="user={{ object.user.username }}" %}">
                                    <i class="icon-chevron-sign-right"></i>
                                    {% trans "Show users playlists" %} ({{ broadcasts.count }})
                                </a>
                            </span>
            </h2>


            <div class="listview container playlist l">

                <div class="list_body">
                    {% for item in broadcasts|slice:":8" %}
                        {% include "alibrary/playlist/list_item_l.html" %}
                    {% endfor %}
                </div>
            </div>

        </section>


    </div>

    <div class="tab-pane" id="uploads">

        <section class="uploads">

            {% if uploaded_releases.count > 0 %}
            <h2>
                {% trans "Recently added Releases" %}
                <span class="pull-right">
                    {% url alibrary-release-list as release_list %}
                    <a href="{% spurl path=release_list query="creator={{ object.user.username }}" %}">
                        <i class="icon-chevron-sign-right"></i>
                        {% trans "Show all added Releases" %} ({{ uploaded_releases.count }})
                    </a>
                </span>
            </h2>

            <div class="listview container release l">
                <div class="list_body">
                    {% for item in uploaded_releases|slice:":8" %}
                        {% include "alibrary/release/list_item_l.html" %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}


            {% if uploaded_media.count > 0 %}
            <h2 style="margin-top: 24px;">
                {% trans "Recently added Tracks" %}
                <span class="pull-right">
                    {% url alibrary-media-list as media_list %}
                    <a href="{% spurl path=media_list query="creator={{ object.user.username }}" %}">
                        <i class="icon-chevron-sign-right"></i>
                        {% trans "Show all added Tracks" %} ({{ uploaded_media.count }})
                    </a>
                </span>
            </h2>

            <div class="listview container media s">
                <div class="list_body">
                    {% for item in uploaded_media|slice:":12" %}
                        {% include "alibrary/media/_list_item_foreign_xs.html" %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}

        </section>


    </div>



</div></div>

{% endblock %}

{% block sidebar %}
    {% include "profiles/profile/sidebar/_detail.html" %}



	{% include "profiles/profile/sidebar/_edit_transform.html" %}


{% endblock %}

