{% extends "layout_edit.html" %}

{% block title %}Profile form{% endblock %}

{% load crispy_forms_tags i18n sekizai_tags %}

{% block heading %}
{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}selectable/js/jquery.dj.selectable.js"></script>{% endaddtoblock %}
{% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}ac_tagging/js/jquery.tag-it.js"></script>{% endaddtoblock %}
<!-- heading / icon (large one) -->
<div id="heading">
	{% with page_title="My Profile" %}
	{% include "skeleton/heading.html" %}
	{% endwith %}
</div>
<!-- heading / icon (large one) -->
{% endblock %}

{% block modnav %}
<!-- start: intra-module navigation -->
<div id="modnav">
	{% include "skeleton/modnav.html" %}
</div>
<!-- end: intra-module navigation -->
{% endblock %}

{% block inner %}
<div class="item_detail" style="">

	<section class="shaded">
		<div class="row iteminfo release">
			{% include "profiles/profile/_detail_info.html" %}
		</div>
	</section>

	<div class="item_menu" id="item_menu"></div>

	<div class="clear"></div>

</div>
{% endblock %}

{% block sidebar %}
{% include "profiles/profile/sidebar/_edit.html" %}
{% endblock %}


{% block form %}

    {% if form_errors %}
    {% include "element/forms/_merged_form_errors.html" %}
    {% endif %}

    {% comment %}
    {% if profile_form.errors or profile_form.non_field_errors %}
        {% with form=profile_form ctype='playlist'%}
        {% include "element/forms/_merged_form_errors.html" %}
        {% endwith %}
    {% endif %}
    {% endcomment %}

<form action="." method="post" enctype="multipart/form-data" class="profile_form form-horizontal form-compact">
	{% csrf_token %}

	{% crispy action_form %}

	<table>
		{% crispy user_form %}
		{% crispy profile_form %}
	</table>

	{% crispy action_form %}

	<fieldset>

		<legend>
			{% trans "Communication / Services" %}
		</legend>

		<div class="notes-inline notes">
			<h4></h4>
			<p>
				{% trans "Flickr, Twitter, etc." %}
			</p>
		</div>

		{{ service_formset.management_form }}

		{% for form in service_formset.forms %}
		{% crispy form %}
		{% endfor %}

		<p class="dim">
			{% trans "To add more links than displayed save and continue editing." %}
		</p>

	</fieldset>

	<fieldset>

		<legend>
			{% trans "Personal Links" %}
		</legend>

		<div class="notes-inline notes">
			<h4></h4>
			<p>
				{% trans "Example: Your blog, you personal site, etc." %}
			</p>
		</div>

		{{ link_formset.management_form }}

		{% for form in link_formset.forms %}
		{% crispy form %}
		{% endfor %}
		<p class="dim">
			{% trans "To add more links than displayed save and continue editing." %}
		</p>
	</fieldset>

	{% crispy action_form %}

</form>
{% endblock %}



{% block form_sidebar %}

<div class="sidebar form-sidebar holder">
	{% include "profiles/profile/sidebar/_edit_transform.html" %}
</div>


{% endblock %}

