{% extends "layout_base.html" %}

{% load i18n truncate_tags ctype_tags thumbnail arating_tags markup_tags wiki_tags sekizai_tags activity_tags atracker_tags spurl %}

{% block heading %}
    {% addtoblock "js-post" %}
        <script>
            $(function () {
                // quick'n'dirty follow/unfollow AJAX implementation
                $('table.follows').on('click', '[data-action="trigger_follow"]', function(e){
                    e.preventDefault();
                    var el = $(this);
                    var url = el.attr('href').split("?")[0];
                    $.get(url, function(data){
                        el.toggleClass('following');
                    });
                })
            });
        </script>
    {% endaddtoblock %}
    <div id="heading">
        {% with page_title="My Profile" %}
        {% include "skeleton/heading.html" %}
        {% endwith %}
    </div>
{% endblock %}

{% block inner %}
    <div class="item_detail" style="">
    <section class="shaded">
        <div class="row iteminfo release">
            {% include "profiles/profile/_header.html" %}
        </div>
    </section>

    <div class="item_menu" id="item_menu">
        <ul class="nav nav-tabs">

            {% if broadcasts.exists %}
            <li class="active">
                <a href="#broadcasts" data-toggle="tab">
                    {% trans "Playlists" %}
                    {% comment %}({{ broadcasts.count }}){% endcomment %}
                </a>
            </li>
            {% endif %}

            <li {% if not broadcasts.exists %}class="active"{% endif %}>
                <a href="#profile" data-toggle="tab">{% trans "Profile" %}</a>
            </li>

            <li>
                <a href="#following" data-toggle="tab">{% trans "Following" %}</a>
            </li>

            <li>
                <a href="#votes" data-toggle="tab">{% trans "Up- & Downvotes" %}</a>
            </li>

            {% if uploaded_media.exists or uploaded_releases.exists %}
            <li>
                <a href="#uploads" data-toggle="tab">
                    {% trans "Uploads" %}
                    {% comment %}({{ uploaded_media.count|add:uploaded_releases.count }}){% endcomment %}
                </a>
            </li>
            {% endif %}
            <li>
                <a href="#activities" data-toggle="tab">{% trans "Activities" %}</a>
            </li>


        </ul>
    </div>

    <div class="clear"></div>

    <section class="tabbed item_inner">

    <div class="tab-content">


    <div class="tab-pane {% if not broadcasts.exists %}active{% endif %}" id="profile">
        <section class="profile">
            {% if object.biography %}
            <div class="description markdown padded-h markdown-inline">
                <div>
                    {{ object.biography|markdown|wikilink|safe }}
                </div>
            </div>
            {% endif %}

            {% if user == object.user or perms.profiles.view_profiles_private or user == object.mentor %}
                <div class="row-fluid">
                    <div class="span6">
                        <!-- restricted access -->
                        <div class="profile information">
                            <h4>{% trans "Contact Information" %}</h4>

                            <dl class="dl-horizontal">

                                {% if object.address1 %}
                                    <dt>{% trans "Address" %}</dt>
                                    <dd>
                                        <ul class="unstyled">

                                            {% if object.address1 %}
                                                <li>{{ object.address1 }}</li>
                                            {% endif %}

                                            {% if object.address2 %}
                                                <li>{{ object.address2 }}</li>
                                            {% endif %}

                                            {% if object.zip or object.city %}
                                                <li>{{ object.zip }} {{ object.city }}</li>
                                            {% endif %}

                                            {% if object.country %}
                                                <li>{{ object.country.name }}</li>
                                            {% endif %}

                                        </ul>
                                    </dd>
                                {% endif %}

                                {% if object.user.email %}
                                    <dt>{% trans "EMail" %}</dt>
                                    <dd><a href="mailto:{{ object.user.email }}">{{ object.user.email }}</a></dd>
                                {% endif %}

                                {% if object.mobile %}
                                    <dt>{% trans "Mobile" %}</dt>
                                    <dd>{{ object.mobile }}</dd>
                                {% endif %}

                                {% if object.phone %}
                                    <dt>{% trans "Phone" %}</dt>
                                    <dd>{{ object.phone }}</dd>
                                {% endif %}

                                {% if object.fax %}
                                    <dt>{% trans "Fax" %}</dt>
                                    <dd>{{ object.fax }}</dd>
                                {% endif %}

                            </dl>

                        </div>
                    </div>
                    <div class="span6">
                        <!-- restricted access -->
                        <section class="profile information">
                            <h4>{% trans "Personal Information" %}</h4>

                            <dl class="dl-horizontal">

                                {% if object.birth_date %}
                                    <dt>{% trans "Date of birth" %}</dt>
                                    <dd>{{ object.birth_date }}
                                        <small> ({% trans "Age" %}: {{ object.age }} )</small>
                                    </dd>
                                {% endif %}

                                {% if object.get_gender_display %}
                                    <dt>{% trans "Gender" %}</dt>
                                    <dd>{{ object.get_gender_display }}</dd>
                                {% endif %}

                            </dl>

                        </section>
                    </div>


                </div>
            {% endif %}
            <div class="row-fluid">
                <div class="span6">
                    <div class="profile information">
                        <h4>{% trans "Communication & services" %}</h4>
                        <dl class="dl-horizontal">
                            {% for service in object.service_set.all %}
                                <dt>{{ service.service }}</dt>
                                <dd>
                                    <ul class="unstyled" style="margin-bottom: 2px;">
                                        <li><a href="{{ service.service_url }}">{{ service.service_url }}</a></li>
                                        <li>{% trans "User" %}: {{ service.username }}</li>
                                    </ul>
                                </dd>
                            {% endfor %}
                        </dl>
                    </div>
                </div>
                <div class="span6">
                    <div class="profile information">
                        <h4>{% trans "Skills & Knowledge" %}</h4>

                        <dl class="dl-horizontal">


                            <dt>{% trans "Expertise" %}</dt>
                            <dd>
                                <ul class="unstyled horizontal" style="margin-bottom: 2px;">
                                    {% for item in object.expertise.all %}

                                        <li>
                                            {{ item.name }}{% if not forloop.last %}, {% endif %}

                                        </li>

                                    {% endfor %}

                                </ul>
                                <div class="clear"></div>
                            </dd>


                        </dl>

                    </div>
                </div>
            </div>


            <div class="profile information">
                <h4>{% trans "Additional links" %}</h4>

                <dl class="dl-horizontal">

                    {% for link in object.link_set.all %}

                        <dt>{% if link.title %}{{ link.title }}{% endif %}</dt>
                        <dd>
                            <a href="{{ link.url }}">{{ link.url }}</a>
                        </dd>

                    {% endfor %}


                </dl>

            </div>
        </section>

    </div>

    <div class="tab-pane" id="following">

        <section class="following">
            {% load ctype_tags %}
            <h2>{% trans "Following" %}</h2>
            <table class="follows table table--default">
                {% for item in following %}
                <tr class="hoverable">
                    <td class="ctype">{{ item|ct_name_by_object|capfirst }}</td>
                    <td class="item"><a href="{{ item.get_absolute_url }}">{{ item }}</a></td>
                    <td class="actions">
                    {% if user.is_authenticated %}
                        <a data-action="trigger_follow" class="hoverable{% if request.user|is_following:item %} following{% endif %}" href="{% follow_all_url item %}?next={{ request.get_full_path }}" title="{% trans "Follow/unfollow" %}">
                            <span class="stop-following">{% trans "Stop following" %}</span>
                            <span class="start-following">{% trans "Follow" %}</span>
                        </a>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            <h2>{% trans "Followers" %}</h2>
            <table class="follows table table--default">
                {% for item in followers %}
                <tr class="hoverable">
                    <td class="ctype">{{ item|ct_name_by_object|capfirst }}</td>
                    <td class="item"><a href="{{ item.get_absolute_url }}">{{ item }}</a></td>
                    <td class="actions">
                    {% if user.is_authenticated and item != request.user %}
                        <a data-action="trigger_follow" class="hoverable{% if request.user|is_following:item %} following{% endif %}" href="{% follow_all_url item %}?next={{ request.get_full_path }}" title="{% trans "Follow/unfollow" %}">
                            <span class="stop-following">{% trans "Stop following" %}</span>
                            <span class="start-following">{% trans "Follow" %}</span>
                        </a>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </div>


    <div class="tab-pane" id="votes">

        <section class="votes">

            {% load ctype_tags %}
            <h2>{% trans "Upvotes" %}</h2>
            <div class="listing voted-up">
                <div class="row">
                {%  for vote in upvotes %}
                    {% comment %}
                    {% ifchanged %}
                        <div class="span12">
                            <h3>{{ vote.content_object|ct_name_by_object|title }}</h3>
                        </div>
                    {% endifchanged %}
                    {% endcomment %}

                    <div class="span3">
                        <div class="item hoverable linkable {{ vote.content_object|ct_name_by_object }}"
                            {% if vote.content_object.main_image %}
                             style="background-image: url({% thumbnail vote.content_object.main_image 200x200 crop upscale subject_location=vote.content_object.main_image.subject_location %});"
                            {% else %}
                             style="background-image: url(/static/img/base/defaults/listview.artist.xl.png)"
                            {% endif %}>
                            <div>
                                <a class="link-main" href="{{ vote.content_object.get_absolute_url }}">{% firstof vote.content_object.get_display_name vote.content_object.name %}</a>
                                <br>
                                <span>{{ vote.content_object|ct_name_by_object|title }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <h2>{% trans "Downvotes" %}</h2>
            <div class="listing voted-down">
                <div class="row">
                {%  for vote in downvotes %}
                    <div class="span3">
                        <div class="item hoverable linkable {{ vote.content_object|ct_name_by_object }}"
                            {% if vote.content_object.main_image %}
                             style="background-image: url({% thumbnail vote.content_object.main_image 200x200 crop upscale subject_location=vote.content_object.main_image.subject_location %});"
                            {% else %}
                             style="background-image: url(/static/img/base/defaults/listview.artist.xl.png)"
                            {% endif %}>
                            <div>
                                <a class="link-main" href="{{ vote.content_object.get_absolute_url }}">{% firstof vote.content_object.get_display_name vote.content_object.name %}</a>
                                <br>
                                <span>{{ vote.content_object|ct_name_by_object|title }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>
    </div>


    <div class="tab-pane" id="activities">

        <section class="activities">

            <h2>{% trans "Activities" %}
            <span class="pull-right">
                <a rel="nofollow" href="{% url "actstream-action-list" %}?username={{ object.user.username }}">
                    <i class="icon-chevron-sign-right"></i>
                    {% trans "Show all activities" %}
                </a>
            </span>
            </h2>


            <table class="table table--default action">
                <tbody>

                {% for action in user_stream %}
                    <tr>
                        <td>


                            {% if action.target %}
                                {% if action.target.classname == 'Media' %}
                                    Track
                                {% else %}
                                   {{  action.target|ct_name_by_object|title }}
                                {% endif %}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>


                        <td>
                            {% if action.actor %}
                                <a href="{{ action.actor.get_profile.get_absolute_url }}">
                                    {{ action.actor.profile.get_display_name|truncate_chars:16 }}
                                </a>
                            {% endif %}

                            {{ action.verb }}

                            {% if action.target %}
                                {% if action.target.username %}
                                    <a href="{{ action.target.get_absolute_url }}">"{% firstof action.target.get_full_name|truncate_chars_inner:60 action.target.username|truncate_chars_inner:60 %}"</a>
                                {% else %}
                                    <a href="{{ action.target.get_absolute_url }}">"{{ action.target.name|truncate_chars_inner:60 }}"</a>
                                {% endif %}
                            {% endif %}


                        </td>

                        <td>
                            {% comment %}
                            <span class="pull-right">{{ action.timestamp|timesince }} {% trans "ago" %}</span>
                            {% endcomment %}
                            <span class="pull-right">{{ action.timestamp }}</span>
                        </td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>

        </section>


    </div>

    <div class="tab-pane {% if broadcasts.exists %}active{% endif %}" id="broadcasts">

        <section class="broadcasts">

            {% url "alibrary-playlist-list" as playlist_list %}

            <h2>
                {% trans "Recently updated Playlists" %}
                <span class="pull-right">
                    <a rel="nofollow" href="{% spurl path=playlist_list query="search_user={{ object.user.username }}" %}">
                        <i class="icon-chevron-sign-right"></i>
                        {% comment %}
                        {% blocktrans with count=broadcasts.count %}Show all {{ count }} user playlists{% endblocktrans %}
                        {% endcomment %}
                        {% blocktrans %}Show all user playlists{% endblocktrans %}
                    </a>
                </span>
            </h2>


            <div class="listview container playlist l">

                <div class="list_body">
                    {% for item in broadcasts|slice:":8" %}
                        {% include "alibrary/playlist/list_item.html" %}
                    {% endfor %}
                </div>
            </div>

        </section>


    </div>

    <div class="tab-pane" id="uploads">

        <section class="uploads">

            {# if uploaded_releases.count > 0 #}
            <h2>
                {% trans "Recently added Releases" %}
                <span class="pull-right">
                    {% url "alibrary-release-list" as release_list %}
                    <a rel="nofollow" href="{% spurl path=release_list query="search_creator={{ object.user.username }}" %}">
                        <i class="icon-chevron-sign-right"></i>
                        {% trans 'Show all uploaded Releases' %}
                        {% comment %}
                        {% blocktrans with count=uploaded_releases.count %}Show all {{ count }} uploaded Releases{% endblocktrans %}
                        {% endcomment %}
                    </a>
                </span>
            </h2>

            <div class="listview container release l">
                <div class="list_body">
                    {% for item in uploaded_releases|slice:":8" %}
                        {% include "alibrary/release/list_item.html" %}
                    {% endfor %}
                </div>
            </div>
            {# endif #}


            {# if uploaded_media.count > 0 #}
            <h2 style="margin-top: 24px;">
                {% trans "Recently added Tracks" %}
                <span class="pull-right">
                    {% url "alibrary-media-list" as media_list %}
                    <a rel="nofollow" href="{% spurl path=media_list query="search_creator={{ object.user.username }}" %}">
                        <i class="icon-chevron-sign-right"></i>
                        {% trans 'Show all uploaded Tracks' %}
                        {% comment %}
                        {% blocktrans with count=uploaded_media.count %}Show all {{ count }} uploaded Tracks{% endblocktrans %}
                        {% endcomment %}
                    </a>
                </span>
            </h2>

            <div class="listview container media s">
                <div class="list_body">
                    {% for item in uploaded_media|slice:":12" %}
                        {% include "alibrary/media/_list_item_foreign_xs.html" %}
                    {% endfor %}
                </div>
            </div>
            {# endif #}

        </section>


    </div>



</div></div>

{% endblock %}

{% block sidebar %}
    {% include "profiles/profile/sidebar/_detail.html" %}
	{% include "profiles/profile/sidebar/_mentoring.html" %}
{% endblock %}

