.container.profile

  &.invitations
    // border instead of listhead
    border-top: 1px solid #bbbbbb

    thead
      th
        //border-top: 1px solid #bbbbbb
        border-bottom: 1px solid #bbbbbb
        font-weight: normal
        font-style: italic
        color: #666666



  &.invitations.create

    form
      ul
        > li
          margin: 0 0 8px 0
          //clear: both

          label
            width: 80px
            float: left
            font-style: italic

          input, textarea
            padding: 2px 4px

            width: 742px
            border: none
            background-color: rgb(249, 249, 249)



.profile.form
  form
    #div_id_expertise > .controls
      column-count: 3
  .dim
    background-color: transparent