section.registration

  form
    padding: 10px
    background: #fafafa

    fieldset[data-field_id="id_captcha"]
      padding: 10px 0

      .captcha-container
        width: 214px
        +clearfix
        .captcha-text
          float: left
          padding-top: 3px
          input
            width: 70px
        .captcha-image
          float: right

      .control-label
        padding-top: 9px

      .help-inline
        display: block
        padding: 6px 0 10px
        opacity: 0.8





    div.controls
      margin-left: 200px

    fieldset.control-group
      margin-bottom: 2px

    label.control-label
      margin-right: 10px

    p
      margin-top: 20px


  ul.social-auth
    li
      padding: 3px 6px
      //background: #fafafa
      //border: 1px solid #f1f1f1

      i
        padding-right: 7px

      a
        //color: #333
        &:hover
          text-decoration: none

      &:hover
        //background: #333
        a, i
          //color: #fff


