// handling of global search container
#global_search
  float: left
  position: relative

#search_form

  height: 32px
  padding: 0
  background-color: rgba(255, 255, 255, 0.8)

  #search_input
    width: 320px
    padding: 2px 5px
    border: none
    background-color: rgba(255, 255, 255, 0.5)

    &::placeholder
      color: #555

    &:focus::placeholder
      color: rgba(34, 34, 34, 0.36)



#search_scope
  display: none
  background: white
  +clearfix()

  border-bottom: 1px solid #dddddd

  // display: none

  //text-align: center
  padding: 0 0 0 4px
  span
    padding: 5px 0
    display: block
    float: left
  a
    padding: 2px 4px
    text-decoration: none
    background: #e8e8e8
    margin: 0 2px 0 0

    //color: #999999
    &.selected, &:hover
      background: $primary-color-b
      color: white
      border-color: $primary-color-b

.search-mode

  #search_scope
    display: block
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.25)
  .search-results
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.25)


.search-results
  padding: 0
  position: absolute
  width: 100%


  //border: 4px solid $primary-color-b
  //border-top: none

  // 8 entries
  max-height: 464px
  overflow-y: auto

  //display: none

  .loading
    background: white
    padding: 10px 0
    margin: 0
    text-align: center
    i
      font-size: 36px
      color: $primary-color-b
    p
      padding: 4px 0
      color: $primary-color-b

  .more
    background: white
    padding: 10px 0
    margin: 0
    text-align: center
    a
      padding: 4px 0
      color: $primary-color-b

  .item
    margin-bottom: 0
    //border-bottom: 1px solid #484848
    //background: #222
    border-bottom: 1px solid #cccccc
    background: $white
    cursor: pointer
    position: relative

    padding: 5px

    //&:not(:hover)
    //  color: $white
    //  a, p
    //    color: $white

    &.hover,
    &.selected
      background: $primary-color-a-bg-light


    .highlight
      //background: $primary-color-a-bg-light
      //padding: 0 4px
      font-weight: 900 !important

    .meta dl
      margin: 2px 0
      +clearfix
      dt
        width: 80px
        float: left



    .result-image
      width: 18%

    .result-body
      width: 80%
      margin-left: 2%

      .object-type
        opacity: 0.5

      .representation

        font-size: 11px
        em
          font-style: normal
          font-weight: 400
          //background: $primary-color-a-bg-light

      .description
        padding-top: 6px

      .tags
        position: absolute
        bottom: 1px
        right: 2px


        .tag
          padding: 1px 2px
          color: #5a5a5a
          font-size: 11px
          &:nth-child(n+5)
            display: none
          .highlight
            background: #333
            color: $primary-color-b-bg-light


