<section class="title">
	<h3>{{ object.name }} <small class="pull-right">{{ object.type_display }}</small></h3>
	<ul class="unstyled">
		<li>
			<i class="icon-time"></i> {{ object.time_start|format_datetime('time') }} - {{ object.time_end|format_datetime('time') }} | {{ object.time_start|format_datetime('date') }}
		</li>
		{% if object.user %}
		<li>
			<i class="icon-user"></i>
            <a class="parent_link" href="{{ object.user.absolute_url }}">{{ object.user.username }}</a>
            <small>scheduler</small>
		</li>
		{% endif %}
		{% if object.user_co %}
		<li>
			<i class="icon-user"></i>
            <a class="parent_link" href="{{ object.user_co.absolute_url }}">{{ object.user_co.username }}</a>
            <small>creator</small>
		</li>
		{% endif %}
	</ul>
</section>

<section class="description">


    <!--
	<p>{{ object.content_object.description_html|shorten(200)|linebreaksbr}}</p>
    -->
    {% if object.content_object.description %}
	<div class="description markdown-remove">{{ object.content_object.description_html}}</div>
    {% endif %}
	<!--
	<a href="{{ object.content_object.absolute_url }}" class="pull-left">> Read more</a>
	-->

	<ul class="unstyled object-links">
		<li>
			<a class="parent_link" href="{{ object.absolute_url }}">&gt; Emission details</a>
		</li>
        <!--
		<li>
			<a  class="parent_link"href="{{ object.content_object.absolute_url }}">&gt; Content details</a>
		</li>
		-->
	</ul>

</section>

