@mixin list-actions {
  display: flex;

  .action {
    display: inline-block;
    margin: 0 5px;
    padding: 1px 14px 0;
    color: $primary-color-b;

    text-transform: uppercase;
    background-color: $white;
    border: 2px solid $primary-color-b;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    .icon {
      padding-right: 6px;
    }

    &:hover {
      // border-radius: 4px
      color: $white;
      background-color: $primary-color-b;
    }

    &--primary {
      color: $primary-color-a;
      border-color: $primary-color-a;

      &:hover {
        // background-color: $primary-color-a
        background-color: $primary-color-b;
        border-color: $primary-color-b;
      }
    }

    &--disabled {
      cursor: not-allowed;
      opacity: 0.5;
      filter: grayscale(100%);
      pointer-events: none;

      * {
        cursor: not-allowed;
      }
    }
  }
}
