{% load truncate_tags i18n thumbnail spurl object_action_tags tagging_extra_tags %}
<div class="header__primary">
  <div class="title title--primary">
    <h2>{{ object.name|truncate_chars_inner:40 }}</h2>
    <small>
      {% if object.country %}
        ({{ object.country.iso2_code }})
      {% endif %}
      {% if object.type %}
        {{ object.get_type_display }}
      {% endif %}
      {% if object.date_start %}
        &nbsp;*{{ object.date_start.year }}
      {% endif %}
      {% if object.date_end %}
        &nbsp;&#10013;{{ object.date_end.year }}
      {% endif %}
    </small>
  </div>
  {% if appearances.releases.exists or appearances.media.exists %}
  {% url "alibrary-release-list" as release_list_url %}
  {% url "alibrary-media-list" as media_list_url %}
  <div class="title title--secondary">
    <h3>
      {% if appearances.releases.exists %}
        <a href="{% spurl path=release_list_url query="search_artist_ids={{ object.uuid }}" %}">
          {{ appearances.releases.count }} {% trans 'Releases' %}
        </a>
      {% endif %}
      {% if appearances.releases.exists and appearances.media.exists %}
        |
      {% endif %}
      {% if appearances.media.exists %}
        <a href="{% spurl path=media_list_url query="search_artist_ids={{ object.uuid }}" %}">
          {{ appearances.media.count }} {% trans 'Tracks' %}
        </a>
      {% endif %}
    </h3>
  </div>
  {% endif %}
  <div class="meta">
    {% if object.members.exists %}
      <div class="meta__item">
        <div>
          {% trans "Members" %}:
        </div>
        <div>
          {% for artist in object.members.all %}
            <a href="{{ artist.get_absolute_url }}">{{ artist.name }}</a>{% if not forloop.last %},{% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if object.get_membership %}
      <div class="meta__item">
        <div>
          {% trans "Member of" %}:
        </div>
        <div>
          {% for artist in object.get_membership %}
            <a href="{{ artist.get_absolute_url }}">{{ artist.name }}</a>{% if not forloop.last %},{% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if object.get_aliases.exists %}
      <div class="meta__item">
        <div>
          {% trans "Aliases" %}:
        </div>
        <div>
          {% for artist in object.get_aliases %}
            <a href="{{ artist.get_absolute_url }}">{{ artist.name }}</a>{% if not forloop.last %},{% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {# comment TODO: add limited list #}
    {% if object.namevariations.exists %}
      <div class="meta__item">
        <div>
          {% trans "Variations" %}:
        </div>
        <expandable-list :limit="(5)">
          {% for name in object.namevariations.all %}
            <span>{{ name }}</span>
          {% endfor %}
        </expandable-list>
      </div>
    {% endif %}
    {% if object.real_name %}
      <div class="meta__item">
        <div>
          {% trans "Real name" %}:
        </div>
        <div>
          {{ object.real_name }}
        </div>
      </div>
    {% endif %}
    {% if object.ipi_code %}
      <div class="meta__item">
        <div>
          {% trans "IPI" %}:
        </div>
        <div>
          {{ object.ipi_code}}
        </div>
      </div>
    {% endif %}
    {% if object.isni_code %}
      <div class="meta__item">
        <div>
          {% trans "ISNI" %}:
        </div>
        <div>
          {{ object.isni_code}}
        </div>
      </div>
    {% endif %}
  </div>
  <div class="meta">
    <div class="meta__item">
      <div>
        {% trans "Created" %}:
      </div>
      <div class="meta__item__grid">
        <time>
          {% firstof object.last_creation_time|date:'DATETIME_FORMAT' object.created|date:'DATETIME_FORMAT' %}
        </time>
        {% if object.creator %}
        <div>
          <a href="{{ object.creator.get_absolute_url }}">{{ object.creator.profile.get_display_name }}</a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="meta__item">
      <div>
        {% trans "Updated" %}:
      </div>
      <div class="meta__item__grid">
        <time>
          {% firstof object.last_update_time|date:'DATETIME_FORMAT' object.updated|date:'DATETIME_FORMAT' %}
        </time>
        {% if object.last_editor %}
        <div>
          <a href="{{ object.last_editor.get_absolute_url }}">{{ object.last_editor.profile.get_display_name }}</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="header__secondary">
  <div class="visual">
    <visual-with-actions
      ct="{{ object.get_ct }}"
      uuid="{{ object.uuid }}"
      url="{% url 'api:release-detail' object.uuid %}"
      image-url="{% thumbnail object.main_image 280x280 crop upscale %}"
      large-image-url="{% thumbnail object.main_image 1200x1200 crop upscale %}"
      :actions="{% get_object_actions_as_json object user %}">
    </visual-with-actions>
  </div>
</div>
<div class="header__primary">
  <tag-list :tags="{{ object.tags|tags_as_json }}"></tag-list>
</div>
<div class="header__secondary">
  <div class="rating">
    <object-rating
        obj-uuid="{{ object.uuid }}"
        obj-ct="{{ object.get_ct }}"></object-rating>
  </div>
</div>
