{% extends "layout_base.html" %}
{% load adv_cache hash_tags i18n static sekizai_tags dict_tags %}

{% block scope %}alibrary.release{% endblock %}

{% block tagcloud %}
    {% include "search/tagcloud.html" %}
{% endblock %}

{% block inner %}

<object-merge></object-merge>

<div class="list-header">
  <div class="controls-container">
    <div class="controls">
      {% with object=None ct="alibrary.release" %}
      {% include "alibrary/element/_list_primary_actions.html" %}
      {% endwith %}
    </div>
  </div>
  <div class="pagination-container">
    {% include "search/pagination.html" %}
  </div>
</div>
<div class="list-body">
  <div class="list list--grid">
    {% for object in object_list %}
    {% include 'alibrary/artist/_card.html' with search_result=search_results_by_id|get_dict_item:object.pk %}
    {% endfor %}
  </div>
</div>
<div class="list-footer">
  <div class="pagination-container">
    {% include "search/pagination.html" %}
  </div>
</div>
{% endblock %}

{% block sidebar %}
    {% include "alibrary/artist/sidebar/_list.html" %}
    {% include "search/_partials/_list_ordering.html" with ordering=ordering %}
    {% include "search/_partials/_list_filter.html" with filters=filters %}
{% endblock %}
