{% load i18n sekizai_tags thumbnail wiki_tags %}

<div class="stepguide guide">

    <h1>{{ guide.name }}</h1>

    {% if guide.summary %}
        <div class="__markdown summary">
            {% wikify guide.summary %}
        </div>
    {% endif %}

    {% if guide.include_toc %}
        <div class="include_toc">
            <h3>{% trans "Table of Content" %}</h3>
            <ul class="unstyled">
                {% for step in step_list %}
                    <li><a href="#{{ step.name|slugify }}">{% if guide.step_numbers %}<span>
                        {{ forloop.counter }}.</span> {% endif %}{{ step.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% for step in step_list %}
        <div class="item step" id="{{ step.name|slugify }}">
            <h2>{% if guide.step_numbers %}<span>{{ forloop.counter }}.
                </span> {% endif %}{{ step.name }}</h2>

            {% if step.description %}
                <div class="__markdown description">
                    {% wikify step.description %}
                </div>
            {% endif %}


            {% if step.vimeo_video_id %}
                <div class="video">

                    <iframe src="//player.vimeo.com/video/{{ step.vimeo_video_id }}?title=0&amp;byline=0&amp;portrait=0&amp;color=f22929"
                            width="830"
                            height="623"
                            frameborder="0"
                            webkitallowfullscreen
                            mozallowfullscreen
                            allowfullscreen></iframe>



                    {% if step.image_caption %}
                        <div class="caption">{{ step.image_caption }}</div>
                    {% endif %}
                </div>
                {% else %}{% if step.image %}
                    <div class="image">
                        <a href="{% thumbnail step.image 2000x2000 upscale %}"
                           class="zoomable cboxElement">
                            <img src="{% thumbnail step.image 900x900 upscale %}"
                                 alt="Screenshot"/></a>
                        {% if step.image_caption %}
                            <div class="caption">{{ step.image_caption }}</div>
                        {% endif %}
                    </div>
                {% endif %}{% endif %}

            {% if step.hint %}
                <div class="__markdown hint hint-{{ step.hint_type }}">
                    {% wikify step.hint %}
                </div>
            {% endif %}

        </div>
    {% endfor %}

</div>


{% addtoblock "js" %}
    <script>
        $(document).ready(function () {

        });
    </script>
{% endaddtoblock %}
