{% load sekizai_tags i18n %}

{% addtoblock "js-post" %}<script src="{{ STATIC_URL }}alibrary/js/playlist.js"></script>{% endaddtoblock %}
{% addtoblock "js-post" %}
<script>

	var alibrary = alibrary || {};

	$(function(){

		alibrary.playlist = new PlaylistUi();
		alibrary.playlist.api_url = "{% url "api_dispatch_list" resource_name='library/playlist' api_name='v1'%}";
		alibrary.playlist.api_url_simple = "{% url "api_dispatch_list" resource_name='library/simpleplaylist' api_name='v1'%}";
		alibrary.playlist.current_playlist_id = "{{ current_playlist.pk }}";
		//alibrary.playlist.init();

        // TODO: this is handled in base.html - so disabled here as it should not have any effects
		//alibrary.collector = new CollectorApp();
		//alibrary.collector.api_url = "{% url "api_dispatch_list" resource_name='library/playlist' api_name='v1'%}";
		//alibrary.collector.playlist_app = alibrary.playlist;
		//alibrary.collector.init();

	});
</script>
{% endaddtoblock %}
