{% load i18n truncate permission_tags anchor_tags %}

<ul class="unstyled">
    {% for relation in object.relations.specific %}
        <li>
            <a href="{{ relation.url }}" class="skip-external" title="Show on {{ relation.get_service_display }}">
                <i class="icon-{{ relation.service_icon }}"></i>
                <span class="service">{{ relation.get_service_display }}</span>
            </a>
        </li>
    {% endfor %}

    {% if request.user|in_group:"Developer" %}
    <li>
        <a href="{{ object.get_api_url }}?format=json" class="skip-external" title="Show on Open Broadcast API">
            <i class="icon-cog"></i>
            <span class="service">Open Broadcast API</span>
        </a>
    </li>
    {% endif %}

</ul>

{% if include_generic %}
<ul class="unstyled" style="margin-top: 20px;">
    {% for relation in object.relations.generic %}
        <li>
            <a href="{{ relation.url }}" class="skip-external"
               title="Go to {{ relation.url }}">{{ relation.url|domain_for_url }}</a>

            {% if relation.service == "official" %}
                <small class="pull-right">{% trans "official" %}</small>
            {% endif %}

        </li>
    {% endfor %}

</ul>
{% endif %}
