{% extends "base/listing.html" %}

{% load i18n sekizai_tags pushy_tags cms_tags %}

{% block object_type %}export{% endblock %}

{% block pagination %}{% endblock %}
{% block ipp %}{% endblock %}



{% block heading %} <!-- heading / icon (large one) -->
    {% addtoblock "js-ext" %}{% pushy_scripts %}{% endaddtoblock %}
    {% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}js/lib/ICanHaz.js"></script>{% endaddtoblock %}
    {% addtoblock "js-post" %}<script type="text/javascript" src="{{ STATIC_URL }}exporter/js/base.js"></script>{% endaddtoblock %}

    {% addtoblock "js-post" %}
        <script type="text/javascript">

            $(document).ready(function () {

                $(function () {
                    exporter = new ExporterMain();
                    exporter.api_url = "{% url "api_dispatch_list" resource_name='export' api_name='v1'%}";
                    exporter.pushy_key = "{{ request.user.profile.uuid }}";
                    exporter.init();
                });

                $('#export_list_holder').css('opacity', 0.2);

                $('#accept_toc').on('click', function(e){
                    e.preventDefault()
                    $('#export_list_holder').css('opacity', 1);
                    exporter.toc_accepted = true;
                })



            });
        </script>
    {% endaddtoblock %}

    <div id="heading">
        {% include "skeleton/heading.html" %}
    </div>
    <!-- heading / icon (large one) -->
{% endblock %}


{% block pre_list %}
<section class="page-disclaimer page-disclaimer--import">
    <div class="page-disclaimer__content">
        {% static_placeholder 'exporter_introduction' %}
    </div>
	<div class="page-disclaimer__appendix">
        <div class="btn-group">
            <a id="accept_toc" class="btn btn-primary btn pull-right" href="#">
                <span> {% trans "I do accept the terms and conditions" %}</span>
            </a>
	    </div>
	</div>
</section>
{% endblock %}


{% block list_inner %}

    <table class="table table-condensed">


        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Queue Time" %}</th>
            <th>{% trans "Last Download" %}</th>
            <th>{% trans "Size" %}</th>
            <th>{% trans "Link" %}</th>
            <!--<th>{% trans "Actions" %}</th>-->
        </tr>
        </thead>

        <tbody id="export_list_holder">
        <!-- CONTENT INSERTED FROM JS -->
        </tbody>

    </table>




    <div>
        <a href="{% url "exporter-export-delete-all" %}" class="btn btn-mini pull-right icon">
        <i class="icon-archive"></i> {% trans "Archive all downloads" %}
        </a>
    </div>

{% endblock %}

{% block sidebar %}
    {% include "exporter/_export_list_sidebar.html" %}
{% endblock %}
