{% extends "layout_base.html" %}

{% load truncate_tags i18n thumbnail arating_tags wiki_tags atracker_tags spurl alibrary_tags url_tags sekizai_tags addthis %}


{% block title %}{{ object.name }}
{% if object.country %}({{ object.country.iso2_code }}){% endif %}
{% if object.date_start %} *{{ object.date_start.year }}{% endif %}
{% if object.date_end %} &#10013;{{ object.date_end.year }}{% endif %}{% endblock %}

{% block heading %}

    <!-- jqplot - TODO: move to include -->
    {% addtoblock "js-post" %}<script src="{{ STATIC_URL }}exporter/js/base.js"></script>{% endaddtoblock %}
    {% addtoblock "js-post" %}<script src="{{ STATIC_URL }}alibrary/js/statistics.js"></script>{% endaddtoblock %}
    {% addtoblock "js-uncompressed" %}<script src="{{ STATIC_URL }}js/lib/flot-0.8.3/jquery.flot.js"></script>{% endaddtoblock %}
    {% addtoblock "js-uncompressed" %}<script src="{{ STATIC_URL }}js/lib/flot-0.8.3/jquery.flot.time.js"></script>{% endaddtoblock %}

    {% addtoblock "js-post" %}
        <script>
            var exporter = exporter || {};
            $(function () {

                exporter = new ExporterApp();
                exporter.api_url = '{% url "api_dispatch_list" resource_name='export' api_name='v1'%}';
                exporter.init();

                // initialize stats app
                var stats = new StatisticApp;
                stats.resource_uri = '{{ object.get_api_url }}';
                stats.init();

                // trigger to actually _load_ the stats
                $('a[data-toggle="tab"]').on('shown', function (e) {
                    if($(e.target).attr('href') == '#statistics') {
                        stats.show();
                    }
                })
            });
        </script>
    {% endaddtoblock %}

    <div id="heading">
        {% include "skeleton/heading.html" %}
    </div>
{% endblock %}

{% block inner %}
    <div class="item_detail" style="">

    <section class="shaded">
        <div class="row iteminfo release">
            {% include "alibrary/artist/_header.html" %}
        </div>
    </section>

    <div class="item_menu" id="item_menu">
        <ul class="nav nav-tabs">
            <li {% if object.media_artist.exists %}class="active"{% endif %}>
                <a href="#tracklist" data-toggle="tab">{% trans "Overview" %}</a>
            </li>
            {% if m_contrib.exists %}
            <li {% if not object.media_artist.exists %}class="active"{% endif %}>
                <a href="#contribution" data-toggle="tab">{% trans "Credited" %} ({{ m_contrib.count }})</a>
            </li>
            {% endif %}
            {% if object.biography %}
            <li {% if not appearances.media.exists %}class="active"{% endif %}>
                <a href="#biography" data-toggle="tab">{% trans "Biography" %}</a>
            </li>
            {% endif %}
            <li>
                <a href="#statistics" data-toggle="tab">{% trans "Statistics" %}</a>
            </li>
        </ul>
    </div>

    <div class="clear"></div>

    <section class="tabbed item_inner">

    <div class="tab-content">

    <div class="tab-pane {% if releases.exists %}active{% endif %}" id="tracklist" class="topflop">


        {% if m_top %}
        <section class="top">


            <h2 data-guide="top">

                {% trans "Top Tracks" %}
                <span class="pull-right">
                    {% url "alibrary-media-list" as media_list %}
                    <a href="{% spurl path=media_list query="search_artist_ids={{ object.uuid }}" %}">
                        <i class="icon-chevron-sign-right"></i>
                        {% blocktrans with name=object.name %}Show all tracks by {{ name }}{% endblocktrans %}
                    </a>
                </span>
            </h2>

            <div class="listview container medias s">

                <div class="list_header"></div>

                <div class="list_body">

                    {# for item in media.object_list #}
                    {% for item in m_top %}
                        {% include "alibrary/media/_list_item_foreign_xs.html" %}
                    {% empty %}
                        <p>
                            {% trans "Not enough ratings to calculate the 'Tops'." %}
                        </p>
                    {% endfor %}
                </div>
            </div>

        </section>
        {% endif %}

        {% if m_flop %}
        <section class="flop">

            <h2>{% trans "Flop Tracks" %}</h2>

            <div class="listview container medias s">

                <div class="list_header"></div>

                <div class="list_body">

                    {% for item in m_flop %}
                        {% include "alibrary/media/_list_item_foreign_xs.html" %}
                    {% empty %}
                        <p>
                            {% trans "Not enough ratings to calculate the 'Flops'." %}
                        </p>
                    {% endfor %}
                </div>
            </div>

        </section>
        {% endif %}


        <section class="top">
            <h2>
                {% trans "Releases" %}
                <span class="pull-right">
                    {% url "alibrary-release-list" as release_list %}
                    <a href="{% spurl path=release_list query="search_artist_ids={{ object.uuid }}" %}">
                        <i class="icon-chevron-sign-right"></i>
                        {% blocktrans with count=object.get_releases.count name=object.name %}Show all releases by {{ name }}{% endblocktrans %}
                    </a>
                </span>
            </h2>

            <div class="listview container releases inner l">

                <div class="list_header"></div>

                <div class="list_body">

                    {% for item in releases %}
                        {% include "alibrary/release/list_item.html" %}
                    {% endfor %}
                </div>
            </div>

        </section>

    </div>

    {% comment %}{% endcomment %}
    <div class="tab-pane {% if not releases.exists and m_contrib > 1 %}active{% endif %}" id="contribution">
        <section class="contribution">
            <div class="listview container medias s">
                <div class="list_header"></div>
                <div class="list_body">
                    {% with highlight=object extended=1 %}
                        {% for item in m_contrib %}
                            {% include "alibrary/media/_list_item_foreign_xs.html" %}
                        {% endfor %}
                    {% endwith %}
                </div>
            </div>
        </section>
    </div>


    <div class="tab-pane" id="biography">
        <section class="description">
            <div class="description markdown padded-h">
                {% wikify object.biography %}
            </div>
        </section>
    </div>

    <div class="tab-pane" id="statistics">
        <section class="statistics">
            <div id="statistics_container" style="min-height: 240px;">
                <div class="message">{% trans "Loading statistics" %}</div>
                <!-- dynamic content -->
            </div>
            <div class="choices-container">
                <ul class="unstyled pull-right" id="plot_choices"></ul>
            </div>
        </section>
    </div>

    </div>

    </section>

    </div>

    {% addthis_widget %}

{% endblock %}

{% block sidebar %}
    {% include "alibrary/artist/sidebar/_detail.html" %}
    <div class="listing relations">
        <div class="item relations">
            {% all_relations_inline object %}
        </div>
    </div>
{% endblock %}
