{% extends "layout_base.html" %}
{% load spurl adv_cache hash_tags i18n truncate_tags dajaxice_templatetags sekizai_tags %}

{% block scope %}alibrary.label{% endblock %}

{% block heading %}
    <div id="heading">
        {% include "skeleton/heading.html" %}
    </div>
{% endblock %}

{% block modnav %}
    <div id="modnav">
        {% include "skeleton/module-navigation.html" %}
    </div>
{% endblock %}

{% block tagcloud %}
    {% include "search/tagcloud.html" %}
{% endblock %}

{% block searchbar %}
    {% with object=item ct="label" %}
        {# include "alibrary/element/_searchbar.html" #}
    {% endwith %}
{% endblock %}

{% block inner %}

    <div class="listhead">
        <div class="pagination-holder">
            {% include "search/pagination.html" %}
        </div>
    </div>
    <div class="listview container labels l">

        <div class="list_body">

            {% hash_user_groups request.user as group_hash %}

            {% for item in object_list %}
                {% include "alibrary/label/list_item_l.html" %}
            {% empty %}
                <p style="padding: 20px; text-align: center;">
                    {% trans 'No results to display.' %}
                </p>
            {% endfor %}

        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% include "alibrary/label/sidebar/_list.html" %}

    {% for filter in filters %}
        <div class="filter expanded{% if filter.num_selected %} has-selection{% endif %}" data-listfilter="{{ filter.key }}">
            <div class="filter-header">

                <div class="filter-header-icon">
                    <span class="uc-icon">&#9658;</span>
                </div>
                <div class="filter-header-title">
                    {% trans "Filter" %}: {{ filter.title|title }}
                </div>
                <div class="filter-header-count">
                    <span>{{ filter.num_selected }}</span>/<span>{{ filter.options|length }}</span>
                </div>
            </div>
            <div class="filter-options">
                {% for option in filter.options %}

                    {% spurl base=request.get_full_path set_query="{{ option.query_key }}={{ option.query_value }}" as toggle_url %}
                    {% spurl base=toggle_url remove_query_param="page" as toggle_url %}

                    {% if not option.query_value %}
                        {% spurl base=toggle_url remove_query_param=option.query_key as toggle_url %}
                    {% endif %}

                    <span {% if option.selected %}class="selected"{% endif %}>
                        <a href="{{ toggle_url }}">
                            {{ option.name }}
                            ({{ option.num }})
                        </a>
                    </span>
                    <br>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

{% endblock %}
