{% extends "layout_base.html" %}

{% load i18n calc_tags truncate_tags thumbnail arating_tags wiki_tags atracker_tags sekizai_tags alibrary_tags media_tags video_url_tags addthis %}


{% block title %}{{ object.name }} - {{ object.get_artist_display }}{% endblock %}


{% block heading %} <!-- heading / icon (large one) -->

    {% addtoblock "js-post" %}<script src="{{ STATIC_URL }}alibrary/js/lib/raphael-min.js"></script>{% endaddtoblock %}
    {% addtoblock "js-post" %}<script src="{{ STATIC_URL }}exporter/js/base.js"></script>{% endaddtoblock %}

    <!-- statistic tools -->
    {% addtoblock "js-post" %}<script src="{{ STATIC_URL }}alibrary/js/statistics.js"></script>{% endaddtoblock %}

    <!-- jqplot - TODO: maybe move to include -->
    {% addtoblock "js-uncompressed" %}<script src="{{ STATIC_URL }}js/lib/flot-0.8.3/jquery.flot.js"></script>{% endaddtoblock %}
    {% addtoblock "js-uncompressed" %}<script src="{{ STATIC_URL }}js/lib/flot-0.8.3/jquery.flot.time.js"></script>{% endaddtoblock %}

    {% addtoblock "js-post" %}
        <script>
            $(function () {

                // initialize exporter app
                exporter = new ExporterApp();
                exporter.api_url = '{% url "api_dispatch_list" resource_name='export' api_name='v1' %}';
                exporter.init();

                // initialize stats app
                var stats = new StatisticApp;
                stats.resource_uri = '{{ object.get_api_url }}';
                // stats.dom_id = 'statistics_container'; // this is the default anyway

                stats.init();

                // trigger to actually _load_ the stats
                $('a[data-toggle="tab"]').on('shown', function (e) {
                    if($(e.target).attr('href') == '#statistics') {
                        stats.show();
                    }
                })
            });
        </script>
    {% endaddtoblock %}

    {% addtoblock "js-uncompressed" %}{% addthis_widget %}{% endaddtoblock %}

    <div id="heading">
        {% include "skeleton/heading.html" %}
    </div>
{% endblock %}

{% block inner %}

    <div class="item_detail" style="">

    <section class="shaded">

        <div class="row iteminfo release">
            {% include "alibrary/media/_header.html" %}
        </div>

        <div class="foo" style="padding: 10px 10px;">
            {% url 'mediaasset-waveform' type='w' media_uuid=object.uuid as waveform_url %}
            <img
                style="background: #333; height: 50px; width: 100%;"
                src="{{ waveform_url }}" />

                {% with object=object ct="media" %}
                    {% include "alibrary/element/_item_primary_actions.html" %}
                {% endwith %}

        </div>


    </section>

    <div class="item_menu" id="item_menu">
        <ul class="nav nav-tabs">
            {% if object.appearances.exists %}
                <li class="active">
                    <a href="#appearance" data-toggle="tab">{% trans "Appearance" %}</a>
                </li>
            {% endif %}
            <li {% if not object.appearances.exists %}class="active"{% endif %}>
                <a href="#overview_" data-toggle="tab">{% trans "File Info" %}</a>
            </li>
            {% if object.has_video %}
                <li>
                    <a href="#video" data-toggle="tab">{% trans "Video Clip" %}</a>
                </li>
            {% endif %}
            {% if object.has_soundcloud %}
                <li>
                    <a href="#soundcloud" data-toggle="tab">{% trans "Soundcloud" %}</a>
                </li>
            {% endif %}
            {% if object.lyrics %}
                <li>
                    <a href="#lyrics" data-toggle="tab">{% trans "Lyrics" %}</a>
                </li>
            {% endif %}
            <li>
                <a href="#statistics" data-toggle="tab">{% trans "Statistics" %}</a>
            </li>
        </ul>
    </div>

    <div class="clear"></div>

    <section class="tabbed item_inner">

    <div class="tab-content">

    {% if object.appearances.exists %}
    <div class="tab-pane active" id="appearance">
        <section class="appearance">
            <div class="listview container playlist s">
                <div class="list_body">
                    {% with highlight=object extended=1 %}
                        {% appearance_for_media media=object user=request.user as appearances %}
                        {% for item in appearances %}
                            {% include "alibrary/playlist/list_item_s.html" %}
                        {% endfor %}
                    {% endwith %}
                </div>
            </div>
        </section>
    </div>
    {% endif %}

    <div class="tab-pane{% if not object.appearances.exists %} active{% endif %}" id="overview_">

        {% if object.description %}
            <section class="description">
                <div class="description markdown padded-h">
                    {% wikify object.description %}
                </div>
            </section>
        {% endif %}

        {% if object.extraartist_media.exists %}
            <section>
                <h2 style="margin-top: 20px;">{% trans "Credits & Credited Artists" %}</h2>
                <ul class="__horizontal unstyled small">
                    {% for ea in object.extraartist_media.all %}
                        <li>
                            <a href="{{ ea.artist.get_absolute_url }}">{{ ea.artist.name }}</a>
                            {% if ea.profession.name %}
                            <small>[{{ ea.profession.name }}]</small>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}


        <section class="file-properties">
            <dl class="dl-horizontal" style="margin-top: 0;">

                <dt>{% trans "Codec" %}</dt>
                <dd>
                    {{ object.master_encoding|upper }}
                    {% if object.bitrate %} - {{ object.bitrate }} Kbps{% endif %}
                    {% if object.master_samplerate %} - {{ object.master_samplerate }} Hz{% endif %}
                    {% if object.master_filesize %} - {{ object.master_filesize|filesizeformat }}{% endif %}
                </dd>

                <dt>{% trans "UUID" %}</dt>
                <dd>{{ object.uuid }}</dd>

                {% if object.original_filename %}
                    <dt>{% trans "Original Filename" %}</dt>
                    <dd>{{ object.original_filename }}</dd>
                {% endif %}

                {% if object.preflight_check and object.preflight_check.result and not object.preflight_check.preflight_ok %}
                    <hr>
                    <dt>{% trans "Preflight" %}</dt>
                    <dd>
                        <code style="font-size: 90%;">
                            {{ object.preflight_check.result }}
                        </code>
                    </dd>
                {% endif %}

            </dl>
        </section>

    </div>

    {% if object.has_video %}
        <div class="tab-pane" id="video">
            <section class="video">
                {% for video in object.get_videos %}
                    {% video_by_url video %}
                {% endfor %}
            </section>
        </div>
    {% endif %}

    {% if object.has_soundcloud %}
        <div class="tab-pane" id="soundcloud">
            <section class="soundcloud">
                <div id="soundcloud_player">{% trans "Loading track from soundcloud..." %}</div>
                {% addtoblock "js-uncompressed" %}
                <script>
                    $.getJSON('http://soundcloud.com/oembed?callback=?',
                        {
                            format: 'js',
                            url: '{{ object.get_soundcloud }}',
                            iframe: true,
                            color: '00bb00'
                        },
                        function(data) {
                            $('#soundcloud_player').html(data['html'])
                        }
                    )
                </script>
                {% endaddtoblock %}
            </section>
        </div>
    {% endif %}

    {% if object.lyrics %}
        <div class="tab-pane" id="lyrics">
            <section class="lyrics">
                {{ object.lyrics|linebreaks }}
            </section>
        </div>
    {% endif %}

    <div class="tab-pane" id="statistics">
        <section class="statistics">
            <div id="statistics_container" style="min-height: 240px;">
                <div class="message">{% trans "Loading statistics" %}</div>
                <!-- dynamic content -->
            </div>
            <div class="choices-container">
                <ul class="unstyled pull-right" id="plot_choices"></ul>
            </div>

            <h2 style="margin-top: 24px;">{% trans "Airplays" %}</h2>
            {% events_for_object_by_verb object "playout" %}
        </section>
    </div>

    </div>

    </section>

    </div>




{% endblock %}

{% block sidebar %}

    {% include "alibrary/media/sidebar/_detail.html" %}

    <div class="listing relations">
        <div class="item relations">
            {% all_relations_inline object %}
        </div>
    </div>

{% endblock %}

