{% extends "layout_base.html" %}

{% load truncate i18n thumbnail arating_tags wiki_tags disqus_tags comments sekizai_tags %}

{% block heading %}
    <!-- view specific scripts -->


    {% addtoblock "js-post" %}
        <script type="text/javascript" src="{{ STATIC_URL }}exporter/js/base.js"></script>{% endaddtoblock %}

    {% addtoblock "js-post" %}
        <script>
            var exporter = exporter || {};
            $(function () {
                exporter = new ExporterApp();
                exporter.api_url = '{% url api_dispatch_list resource_name='export' api_name='v1'%}';
                exporter.init();
            });
        </script>
    {% endaddtoblock %}

    <!-- heading / icon (large one) -->
    <div id="heading">
        {% include "skeleton/heading.html" %}
    </div>
    <!-- heading / icon (large one) -->
{% endblock %}

{% block modnav %} <!-- start: intra-module navigation -->
    <div id="modnav">
        {% include "skeleton/modnav.html" %}
    </div>
    <!-- end: intra-module navigation -->
{% endblock %}

{% block inner %}



    <div class="item_detail">

    <section class="shaded">
        <div class="row iteminfo release">
            {% include "alibrary/playlist/_detail_info.html" %}
        </div>
    </section>

    <div class="item_menu" id="item_menu">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tracklist" data-toggle="tab">{% trans "Tracklist" %}</a>
            </li>
            {% if object.description %}
                <li>
                    <a href="#description" data-toggle="tab">{% trans "Description" %}</a>
                </li>
            {% endif %}
            <!--
            <li>
                <a href="#history" data-toggle="tab">{% trans "Edit History" %}</a>
            </li>
            -->
            <li>
                <a href="#emissions" data-toggle="tab">{% trans "Emissions" %} ({{ object.get_emissions.count }})</a>
            </li>
        </ul>
    </div>

    <div class="clear"></div>

    <section class="tabbed item_inner">

        <div class="tab-content">

            <div class="tab-pane active" id="tracklist">

                <section class="tracklist">

                    <h2>{% trans "Tracklist" %}</h2>

                    <div class="listview container medias s">

                        <div class="list_body">

                            {% for item in object.sorted_items.all %}

                                {% if item.content_type.model == "media" %}

                                    {% with item=item.content_object %}
                                        {% include "alibrary/media/_list_item_foreign_xs.html" %}
                                    {% endwith %}
                                {% endif %}

                                {% if item.content_type.model == "release" %}
                                    {% with item=item.content_object %}
                                        <h1>{{ item.name }}</h1>
                                    {% endwith %}
                                {% endif %}


                            {% endfor %}

                        </div>
                    </div>

                </section>

            </div>

            <div class="tab-pane" id="history">


            </div>

                <div class="tab-pane" id="description">

                    <section class="description">

                        <h2>{% trans "Playlist description" %}</h2>

                        <div class="description markdown padded-h">
                            {% wikify object.description %}
                        </div>
                    </section>

                </div>


            <div class="tab-pane" id="emissions">

                <section class="emissions">

                    <h2>{% trans "Emissions" %}</h2>


                    <div class="emission-list">

                        {% for item in object.get_emissions %}

                            {% ifchanged %}<h4>{{ item.time_start|date:"F Y" }}</h4>{% endifchanged %}

                            <!-- actual entry -->


                            <div class="row-fluid">
                                <div class="span1">
                                    {{ item.time_start|date:"D d" }}
                                </div>
                                <div class="span2">
                                    {{ item.time_start|date:"H:i:s" }}
                                </div>
                                <div class="span5">
                                    <a href="{{ item.channel.get_absolute_url }}">
                                        {{ item.channel.name }} | {{ item.channel.station.name }}
                                    </a>
                                </div>
                                <div class="span4">
                                    {% if  item.user %}
                                        <a href="{{ item.user.get_absolute_url }}">
                                            {% firstof item.user.get_full_name item.user.username %}
                                        </a>
                                    {% else %}
                                        {% trans "Autopilot" %}
                                    {% endif %}
                                </div>
                            </div>




                        {% endfor %}


                    </div>


                </section>

            </div>


        </div>

    </section>


    <section class="comments on-site">

        <div class="header">
            <h3>{% trans "Comments" %}</h3>
        </div>

        <div class="form">
            {% if user.is_authenticated %}
                {% render_comment_form for object %}
            {% else %}
                <p>{% trans "Please login to join the conversation" %}</p>
            {% endif %}
        </div>

        <!-- TODO: maybe move to template tag.. just testing here... -->
        {% with router=object.get_api_url %}
            {% include "element/chat/_message_list.html" %}
        {% endwith %}

        {% render_comment_list for object %}
    </section>

    <section class="comments disqus">
        {# disqus_show_comments #}
    </section>

    </div>




{% endblock %}

{% block sidebar %}
    {% include "alibrary/playlist/sidebar/_detail.html" %}
{% endblock %}
