{% extends "layout_edit.html" %}

{% load crispy_forms_tags dajaxice_templatetags sekizai_tags static %}

{% load thumbnail i18n truncate %}

{% block heading %} <!-- heading / icon (large one) -->
    {% addtoblock "js-post" %}
        <script type="text/javascript" src="{{ STATIC_URL }}selectable/js/jquery.dj.selectable.js"></script>
    {% endaddtoblock %}
    {% addtoblock "js-post" %}
        <script type="text/javascript" src="{{ STATIC_URL }}ac_tagging/js/jquery.tag-it.js"></script>{% endaddtoblock %}
    {% addtoblock "js-post" %}{% dajaxice_js_import %}{% endaddtoblock %}
    {% addtoblock "js-post" %}
        <script type="text/javascript" src="{{ STATIC_URL }}dajax/jquery.dajax.core.js"></script>{% endaddtoblock %}

    {% addtoblock "js-post" %}
        <script type="text/javascript" src="{{ STATIC_URL }}alibrary/js/edit.js"></script>{% endaddtoblock %}


    {% addtoblock "js-post" %}
        <script>
            $(function () {
                $('.save-and-publish').click(function () {
                    $('.form-actions #div_id_action-publish input').prop('checked', true);
                });
                $('.save-without-publish').click(function () {
                    $('.form-actions #div_id_action-publish input').prop('checked', false);
                });

                $('select[readonly] option[selected]').each(function (i, el) {
                    var val = $(el).text();
                    $(el).parents('.control-group').html('<span>' + val + '</span>');
                });


                // label shortcuts
                $('.action.label-select').on('click', 'a', function (e) {
                    e.preventDefault();
                    var val = $(this).data('label');
                    $('input#id_label_0').val(val);
                    $('input#id_label_0').focus();
                    $('input#id_label_0').blur();
                });


                edit.ui.init();


            });
        </script>
    {% endaddtoblock %}

    {% addtoblock "css" %}
        <style>
            .form-actions #div_id_action-publish {
                display: none;
             }
        </style>
    {% endaddtoblock %}

    <div id="heading">
        {% include "skeleton/heading.html" %}
    </div>
    <!-- heading / icon (large one) -->
{% endblock %}

{% block modnav %} <!-- start: intra-module navigation -->
    <div id="modnav">
        {% include "skeleton/modnav.html" %}
    </div>
    <!-- end: intra-module navigation -->
{% endblock %}

{% block inner %}
    <div class="item_detail" style="">

        <section class="shaded">
            <div class="row iteminfo release">
                {% include "alibrary/release/_detail_info.html" %}
            </div>
        </section>

        <div class="item_menu" id="item_menu"></div>

        <div class="clear"></div>

    </div>
{% endblock %}

{% block sidebar %}
    {% include "alibrary/release/sidebar/_edit.html" %}
{% endblock %}

{% block form %}

    {% if form_errors %}
    {% include "element/forms/_merged_form_errors.html" %}
    {% endif %}

    <div class="item_inner">

        <form class="form-horizontal form-compact form-release" method="post" id="" enctype="multipart/form-data">

            {{ form.management_form }}
            {{ named_formsets.action.management_form }}
            {{ named_formsets.relation.management_form }}
            {{ named_formsets.albumartist.management_form }}
            {{ named_formsets.media.management_form }}

            {% crispy named_formsets.action %}
            {% crispy form %}

            <fieldset>
                <legend>
                    {% trans "Albumartists" %}<span class="pull-right"></span>
                </legend>
                <div class="notes-form notes-inline notes-info">
                    <p>
                        {% trans "Allows you to customize artist-credits an the appearance of the 'Albumartist'" %}</br>
                        {% trans "Use this to generate 'composite' names, like:" %} <strong>'Soviet France feat. Beck & Madonna'</strong>
                    </p>
                </div>

                {% crispy named_formsets.albumartist %}

            </fieldset>


            <fieldset class="relations">
                <legend>
                    {% trans "Relations" %}<span class="pull-right">Help</span>
                </legend>


                {% crispy named_formsets.relation %}
                <div class="lookup-container"></div>

            </fieldset>

            {% crispy named_formsets.action %}


            <fieldset>
                <legend>
                    {% trans "Tracklist" %}
                </legend>
            </fieldset>


            {% crispy named_formsets.bulkedit %}

            <div id="release_media_form">

                <div class="form-header row-fluid">

                    <div id="editor_mode_switch" class="span4">
                        &nbsp;
                    </div>

                    <div id="offset_selector" class="span8">
                        <ul class="unstyled horizontal pull-right">
                            <li><span>Shift lookup-results:</span></li>

                            <li class="dropdown shift-offset">
                                <select>
                                </select>
                            </li>


                            <li><a href="#" data-offset="add"><i class="icon-caret-up icon-large"></i></a></li>
                            <li><a href="#" data-offset="subtract"><i class="icon-caret-down icon-large"></i></a></li>
                            <li style="clear: both;"></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>


                </div>

                {% crispy named_formsets.media %}
            </div>


            {% crispy named_formsets.action %}


        </form>

    </div>
{% endblock %}

{% block form_sidebar %}
    <div class="sidebar form-sidebar holder">
        {% with providers=object.get_lookup_providers ct="release" %}
            {% include "alibrary/form_lookup/_providers.html" %}
        {% endwith %}
    </div>
{% endblock %}

