{% load sekizai_tags i18n %}

<style>
    #footer {
        margin-bottom: 110px;
    }
</style>

<div id="private_site_message">
    <div class="inner">
        <h2>Please Note</h2>
        <p>
            The Open Broadcast Platform is targeting a <em>professional</em> audience.
            To unleash it's full potential you will have to login with a <em>'Radio-PRO'</em> or <em>'Music-Pro'</em> account.
        </p>
        <p>
            <a href="/about/accounts/">Read more</a> about access-levels and how to obtain respective permissions.
        </p>
    </div>
</div>