@charset "UTF-8"

$g-content-max-width: 1115px

// global skeleton
html,
body
  min-height: 100%
  height: 100%
  display: flex
  flex-direction: column

  font-size: 12px
  font-family: $baseFontFamily
  font-weight: 300
  line-height: 18px
  color: #222
  background: $body-color-bg
  margin: 0
  padding: 0


.base

  main
    flex-grow: 1
    // padding-top: main navigation height + offset
    padding-top: 64px + 64px
    padding-bottom: 48px
    max-width: $g-content-max-width
    width: 100%
    margin: 0 auto

    > .heading
      display: grid
      grid-template-columns: calc(100% - 260px - 24px) 260px
      grid-column-gap: 24px
      margin-bottom: 24px

    > .content
      display: grid
      grid-template-columns: calc(100% - 260px - 24px) 260px
      grid-column-gap: 24px

      .content__primary
        display: flex
        flex-direction: column


  footer
    background: black


// cms page default styles
// TODO: move to appropriate place
.cms-page
  main
    max-width: $g-content-max-width - 128px
    > .content
      display: flex
      flex-direction: column

  &--default
    main
      max-width: 900px
      > .content
        padding: 14px
        background: #fff
        h1, h2, h3, h4, h5, h6
          margin: 0 0 8px 0
        p, ul, ol
          margin: 0 0 14px 0
