name: CD

on: [push]

jobs:

  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install -g yarn
      - run: yarn install --dev
      - name: lint scss & vue with stylelint
        run: ./node_modules/.bin/stylelint "./static/style/**/*.scss"
      - name: lint javascript with eslint
        run: ./node_modules/.bin/eslint ./static/js --ext .vue,.js
