{% load i18n guardian_tags activity_tags ctype %}

{# comment #}
{% get_obj_perms request.user for object as "object_perms" %}
{% for perm in object_perms %}{% endfor %}
{# endcomment #}



<div class="menu-context">


    <div class="action-group">
        <ul class="unstyled">


            {% if perms.alibrary.change_release %}
            <li class="link">
                <a class="hoverable" href="{{ object.get_edit_url }}" title="{% trans "Edit" %}">
                    <i class="icon icon-edit"></i>
                    <span>{% trans "Edit" %}</span>
                </a>
            </li>
            {% endif %}

            {% if perms.alibrary.change_release and user.is_staff %}
            <li class="link">
                <a class="hoverable" href="{{ object.get_admin_url }}?next={{ object.get_absolute_url }}" title="{% trans "Administration view" %}">
                    <i class="icon icon-lock"></i>
                    <span>{% trans "Administration view" %}</span>
                </a>
            </li>
            {% endif %}

            {% if user.is_authenticated %}
                <li class="link">
                    <a class="hoverable" href="{% follow_all_url object %}?next={{ request.get_full_path }}" title="{% trans "Follow/unfollow" %}">
                    {% if request.user|is_following:object %}
                        <i class="icon icon-unlink"></i>
                        <span>{% trans "Stop following" %} {{ object|ct_name_by_object }}</span>
                    {% else %}
                        <i class="icon icon-link"></i>
                        <span>{% trans "Follow" %} {{ object|ct_name_by_object }}</span>
                    {% endif %}
                </a>
                </li>
            {% endif %}

            {% if perms.alibrary.downoad_media %}
                <li class="action">
                    <a class="hoverable" href="#" data-action="download" data-ct="release" data-id="{{ object.pk }}"  title="{% trans "Download" %} {{ object|ct_name_by_object }}">
                        <i class="icon icon-download-alt"></i>
                        <span>{% trans "Download" %} {{ object|ct_name_by_object }}</span>
                    </a>
                </li>
            {% endif %}

            {% if perms.alibrary.downoad_media %}
                <li class="action">
                    <a class="hoverable disabled selection-required selection-any" href="#" data-action="download" data-ct="media"  title="{% trans "Download Selection" %}">
                        <i class="icon icon-download-alt"></i>
                        <span>{% trans "Download Selection" %}</span>
                        <small class="opt pull-right"></small>
                    </a>
                </li>
            {% endif %}

            {% if perms.alibrary.merge_media %}
                <li class="action">
                    <a class="hoverable disabled selection-required selection-multiple" href="#" data-action="merge" data-ct="media" title="{% trans "Merge Selection" %}">
                        <i class="icon icon-align-justify"></i>
                        <span>{% trans "Merge Selection" %}</span>
                        <small class="opt pull-right"></small>
                    </a>
                </li>
            {% endif %}


        </ul>
    </div>


</div>