{% load i18n %}


<div class="menu-context">

    <div class="action-group">
        <ul class="unstyled">

            <!---->
            {% if perms.alibrary.upload_media %}
            <li class="link">
                <a class="hoverable" href="{% url importer-import-create %}" title="{% trans "Upload Music" %}">
                    <i class="icon icon-upload-alt"></i>
                    <span>{% trans "Upload Content" %}</span>
                </a>
            </li>
            {% endif %}


            {% if perms.alibrary.downoad_media %}
                <li class="action">
                    <a class="hoverable disabled selection-required selection-any" href="#" data-action="download" data-ct="media_set"  title="{% trans "Download Selection" %}">
                        <i class="icon icon-download-alt"></i>
                        <span>{% trans "Download Selection" %}</span>
                        <small class="opt pull-right"></small>
                    </a>
                </li>
            {% endif %}

            {% if perms.alibrary.merge_release %}
                <li class="action">
                    <a class="hoverable disabled selection-required selection-multiple" href="#" data-action="merge" data-ct="release" title="{% trans "Merge Selection" %}">
                        <i class="icon icon-align-justify"></i>
                        <span>{% trans "Merge Selection" %}</span>
                        <small class="opt pull-right"></small>
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>

</div>
