<div id="mainbody" class="printAlignLeft" style="">
	
	<div id="gridcontainer" class="" style="overflow-y: visible; height: 1031px; /* height: 431px; */">
		<div idx="topcontainerwk" id="top_container">
			<!--
			<div class="placeholder" style="height: 23px;"></div>
			-->
			
			<table class="wk-weektop wk-full-mode" cellpadding="0" cellspacing="0">
				<tbody>
					<tr class="wk-daynames">
						<td class="wk-tzlabel" style="width:60px" rowspan="3"></td>

						{% for date in days %}
						<th scope="col">
						<div class="wk-dayname">
							<span class="ca-cdp22196 wk-daylink">{{ date|date:"DATE_FORMAT" }}</span>
						</div></th>
						{% endfor %}
						<th class="wk-dummyth" rowspan="3" style="width: 17px;">&nbsp;</th>
					</tr>
				</tbody>
			</table>
			
			<!--
			<table class="wk-weektop wk-full-mode" cellpadding="0" cellspacing="0">
				<tbody>
					<tr class="wk-daynames">
						<td class="wk-tzlabel" style="width:60px" rowspan="3"></td>
						
						<th title="Sun 5/19" scope="col">
						<div class="wk-dayname">
							<span class="ca-cdp22195 wk-daylink">Sun 5/19</span>
						</div></th>
						
						<th title="Mon 5/20" scope="col">
						<div class="wk-dayname">
							<span class="ca-cdp22196 wk-daylink">Mon 5/20</span>
						</div></th>
						
						<th title="Tue 5/21" scope="col">
						<div class="wk-dayname">
							<span class="ca-cdp22197 wk-daylink">Tue 5/21</span>
						</div></th><th title="Wed 5/22" scope="col">
						<div class="wk-dayname">
							<span class="ca-cdp22198 wk-daylink">Wed 5/22</span>
						</div></th><th title="Thu 5/23" scope="col">
						<div class="wk-dayname">
							<span class="ca-cdp22199 wk-daylink">Thu 5/23</span>
						</div></th><th title="Fri 5/24" scope="col">
						<div class="wk-dayname wk-today">
							<span class="ca-cdp22200 wk-daylink">Fri 5/24</span>
						</div></th><th title="Sat 5/25" scope="col">
						<div class="wk-dayname wk-tomorrow">
							<span class="ca-cdp22201 wk-daylink">Sat 5/25</span>
						</div>
						
						</th><th class="wk-dummyth" rowspan="3" style="width: 17px;">&nbsp;</th>
					</tr>
				</tbody>
			</table>
			-->
		</div><div id="topcontainerBorderwk" class="wk-border"></div>
		<div id="scrolltimedeventswk" class="wbkt wk-scrolltimedevents" style="/* height: 377px; */">
			<div class="tg-mainwrapper" style="margin-top:0px;">
				<table id="tgTable" class="tg-timedevents" cellpadding="0" cellspacing="0" style="height:1010px">
					<tbody>
						<tr height="1">
							<td style="width:60px;"></td><td colspan="7">
							<div class="tg-spanningwrapper">
								<div class="tg-hourmarkers">
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker">xxx</div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
									<div class="tg-markercell">
										<div class="tg-dualmarker"></div>
									</div>
								</div>
							</div><div class="tg-spanningwrapper tg-chipspanningwrapper" id="tgspanningwrapper"></div></td>
						</tr>
						<tr>
							<td class="tg-times-pri">
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									12am
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									1am
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									2am
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									3am
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									4am
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									5am
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									6am
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									7am
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									8am
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									9am
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									10am
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									11am
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									12pm
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									1pm
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									2pm
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									3pm
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									4pm
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									5pm
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									6pm
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									7pm
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									8pm
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									9pm
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri" style="height:41px;">
									10pm
								</div>
							</div>
							<div style="height:42px;">
								<div class="tg-time-pri tg-time-pri-last" style="height:41px;">
									11pm
								</div>
							</div>
							
							
							
							<div id="tgnowptr" class="tg-nowptr" style="left: 0px; top: 487px;"></div></td>
							
							
							
							<td class="tg-col tg-weekend">
								
								
							<div id="tgCol0" class="tg-col-eventwrapper" style="height:1008px;margin-bottom:-1008px;">
								<div class="tg-gutter"></div>
							</div><div id="tgOver0" class="tg-col-overlaywrapper"></div></td><td class="tg-col">
							<div id="tgCol1" class="tg-col-eventwrapper" style="height:1008px;margin-bottom:-1008px;">
								<div class="tg-gutter"></div>
							</div><div id="tgOver1" class="tg-col-overlaywrapper"></div></td><td class="tg-col">
							<div id="tgCol2" class="tg-col-eventwrapper" style="height:1008px;margin-bottom:-1008px;">
								<div class="tg-gutter"></div>
							</div><div id="tgOver2" class="tg-col-overlaywrapper"></div></td><td class="tg-col">
							<div id="tgCol3" class="tg-col-eventwrapper" style="height:1008px;margin-bottom:-1008px;">
								<div class="tg-gutter"></div>
							</div><div id="tgOver3" class="tg-col-overlaywrapper"></div></td>
							
							
							<td class="tg-col-today day">

								<div class="tg-today" style="height:1008px;margin-bottom:-1008px;">&nbsp;</div>

								<div class="tg-col-eventwrapper" style="height:1008px;margin-bottom:-1008px;">
									<div class="tg-gutter">
										
										<div class="ca-evp128 chip fix" style="top:273px;left:-1px;width:100%;">
											<dl class="cbrd" style="height:17px;">
												<dt style="">
													6:30 – 7:30 <i class="icon-time"></i>
												</dt>
												<dd>
													<span class="evt-lk ca-elp128">lkj</span>
												</dd>
	
											</dl>
										</div>
										
									</div>
								</div>
	
								<div class="tg-col-overlaywrapper"></div>
								
							</td>
								
							
							<td class="tg-col-today day">
								
								<div class="tg-today" style="height:1008px;margin-bottom:-1008px;">
									&nbsp;
								</div>

							
							
							<div id="tgCol5" class="tg-col-eventwrapper" style="height:1008px;margin-bottom:-1008px;">
								<div class="tg-gutter">
									

									<div class="ca-evp128 chip fix" style="top:273px;left:-1px;width:100%;">
										<dl class="cbrd" style="height:35px;">
											<dt style="background-color:;">
												6:30 – 7:30 <i class="cic cic-dm  cic-tmr" title="Reminders">&nbsp;</i>
											</dt>
											<dd>
												<span class="evt-lk ca-elp128">lkj</span>
											</dd>
											<div>
												<div class="mask mask-top" style="border-color:#CABDBF;background-color:#EAE6E6;">
													&nbsp;
												</div>
												<div class="mask mask-bottom" style="border-color:#CABDBF;background-color:#EAE6E6;">
													&nbsp;
												</div>
												<div class="mask mask-left" style="height:38px;border-color:#CABDBF;background-color:#EAE6E6;">
													&nbsp;
												</div>
												<div class="mask mask-right" style="height:38px;border-color:#CABDBF;background-color:#EAE6E6;">
													&nbsp;
												</div>
											</div>
											<div class="resizer">
												<div class="rszr-icon">
													&nbsp;
												</div>
											</div>
										</dl>
									</div>
									
									
									<div class="ca-evp113 chip fix" style="top:336px;left:-1px;width:100%;">
										<dl class="cbrd" style="height:77px;border-color:#CABDBF;background-color:#EAE6E6;color:#777777;">
											<dt style="background-color:;">
												8 – 10 <i class="cic cic-dm  cic-tmr" title="Reminders">&nbsp;</i>
											</dt>
											<dd>
												<span class="evt-lk ca-elp113" style="cursor: pointer;">TESTING LAYOUT</span>
											</dd>
											<div>
												<div class="mask mask-top" style="border-color:#CABDBF;background-color:#EAE6E6;">
													&nbsp;
												</div>
												<div class="mask mask-bottom" style="border-color:#CABDBF;background-color:#EAE6E6;">
													&nbsp;
												</div>
												<div class="mask mask-left" style="height:80px;border-color:#CABDBF;background-color:#EAE6E6;">
													&nbsp;
												</div>
												<div class="mask mask-right" style="height:80px;border-color:#CABDBF;background-color:#EAE6E6;">
													&nbsp;
												</div>
											</div>
											<div class="resizer">
												<div class="rszr-icon">
													&nbsp;
												</div>
											</div>
										</dl>
									</div>
									
									
									
									
									
								</div>
							</div>
							
							
							
							<div id="tgOver5" class="tg-col-overlaywrapper">
								<div class="tg-hourmarker tg-nowmarker" id="tgnowmarker" style="top: 491px;"></div>
							</div></td><td class="tg-col-today tg-weekend">
							<div id="tgCol6" class="tg-col-eventwrapper" style="height:1008px;margin-bottom:-1008px;">
								<div class="tg-gutter"></div>
							</div><div id="tgOver6" class="tg-col-overlaywrapper"></div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div><div id="bottomcontainerBorderwk" class="wk-border"></div>
	</div>
	<div id="funbox" class="fb-main noprint" style="display:none">
		<div class="fbox fb-xtra">
			<span id="fbNext" class="fb-next-tip">Next tip »</span>
		</div><div id="fbItem" class="fbox fb-text"></div><div class="clearFloats"></div>
	</div>
</div>